---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: Staying Ugly in the Browser
tags: [conf, design]
description: "Just get it done already."
image:
  feature: soft-trees.jpg
---

A few months ago I went to a talk given by [Michael Dick](https://twitter.com/michaeldick) on [CmdSpace](http://cmdspace.com/), which is this awesome way to port your [dribbble]https://dribbble.com/() profile into a linkable portfolio. I think the best thing about the talk though was Dick's philosophy about programming as a designer, which is:

## Stay ugly until it works.

Right, so what we mean by this:

Dick didn't go to school for anything, and thus liked designing, he liked programming. Often, in the browser, he'd get distracted with style ("Change the font! Write CSS!") and get bogged down with designing in-browser instead of the essentials: does my product do what it needs to?

Design is _all_ about solving those problems. I think that as graphic designers, we easily get bogged down with visuals instead of those essentials. I think for myself, as a designer/programmer hybrid, I _especially_ get bogged down with that shit. Which is why as I try to improve, more of my stuff in the beginning looks like this:

![ugly gif](/thoughts/assets/img/ugly.gif)

Believe it or not, I think this is even more about designing than making this look beautiful. Because this is about thinking if things really work. And I like that.
  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}