---
file: 14-11-staying-ugly-in-the-browser
title: Staying Ugly in the Browser
date: March 2017
imageClass: orb
description: Just get it done already.
url: staying-ugly-in-the-browser
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>A few months ago I went to a talk given by <a href="https://twitter.com/michaeldick" target="_blank">Michael Dick</a> on <a href="http://cmdspace.com/" target="_blank">CmdSpace</a>, which is this awesome way to port your <a href="https://dribbble.com/" target="_blank">dribbble</a> profile into a linkable portfolio. I think the best thing about the talk though was Dick's philosophy about programming as a designer, which is:</p>

    <h2>Stay ugly until it works.</h2>

    <p>Right, so what we mean by this:</p>

    <p>Dick didn't go to school for anything, and thus liked designing, he liked programming. Often, in the browser, he'd get distracted with style ("Change the font! Write CSS!") and get bogged down with designing in-browser instead of the essentials: does my product do what it needs to?</p>

    <p>Design is <em>all</em> about solving those problems. I think that as graphic designers, we easily get bogged down with visuals instead of those essentials. I think for myself, as a designer/programmer hybrid, I <em>especially</em> get bogged down with that shit.</p>

    <p>Believe it or not, I think this is even more about designing than making this look beautiful. Because this is about thinking if things really work. And I like that.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}