---
file: 14-12-what-makes-something-revolutionary
title: What Makes Something Revolutionary?
date: December 2014
imageClass: orb
description: CSSConfOakland!
url: what-makes-something-revolutionary
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p><a href="https://twitter.com/itsmisscs" target="_blank">itsmisscs</a>, Claudina Sarahe.</p>

    <p>New tools turn capabilities into new opportunities.</p>

    <p><em>Behavior</em>: in order for a behavior to occur, you need motivation, ability, and you need to be triggered. Motivation is the worst thing to rely on. Ability is just how easy it is to get started. Triggers are where you succeed: tools helped us change our behavior by making things easier.</p>

    <p><em>Mid Aughts</em>: Rails comes out in 2005, jQuery in 2006. It wasn't the first framework, but it presented a simple solution: did one thing really well. Dom manipulation! Came with great documentation. And lastly: jQuery invited us to participate. On day two, someone released a plugin. jQuery obviously is incredibly successful, but it's those three design decisions: simple solution, great documentation, community - that made it so popular.</p>

    <p><em>CSS</em>: it's frustrating. Queue the gifs. </p>

    <ul>
    <li>960px ftw</li>

    <li>IE 6, 7, 8, 9, wah</li>

    <li>CSS3, hey gurl</li>
    </ul>

    <p><em>The rise of CSS preprocessors where inevitable.</em> CSS was hard, and the iPhone was about to come out. So <a href="http://sass-lang.com/" target="_blank">Sass</a> and <a href="http://lesscss.org/" target="_blank">Less</a> came into play. Sass was hard, but then <a href="http://compass-style.org/" target="_blank">Compass</a> came into play: it made Sass <em>easy</em> and it had <em>great</em> documentation. Lastly, it came with, you guessed it: a call for community. Which, in turn, created a larger community:</p>

    <p><a href="http://www.sache.in/" target="_blank">Sache Sass</a>, <a href="http://breakpoint-sass.com/" target="_blank">Breakpoint</a>, <a href="http://bourbon.io/" target="_blank">Bourbon</a></p>

    <p><em>These things allowed us to do things ourselves.</em> They nutured community and our ability to design.</p>

    <h2>So what's the point?</h2>

    <p>"Really, another build tool?" On the contrary: it's all about allowing us to be open and to generate new ideas.</p>

    <p><em>It's about humanity:</em> Eventually we will worry less about technological problems, and more about human problems. By celebrating diversity and differences in our communities, we'll solve bigger problems. (<em>No cliques!</em>)</p>

    <p><em>We are succeeding!</em> We act as amplifiers and filters. We've created a great network, and we have a lot of contribute. If we continue to innovate in the way we've been doing about (simple solutions, good documentation, happy commuity) we can continue to be revolutionary.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}