---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: What Makes Something Revolutionary?
description: CSSConfOakland!
tags: [css, sass, conf, oakland]
---

[itsmisscs](https://twitter.com/itsmisscs), Claudina Sarahe.

New tools turn capabilities into new opportunities.

_Behavior_: in order for a behavior to occur, you need motivation, ability, and you need to be triggered. Motivation is the worst thing to rely on. Ability is just how easy it is to get started. Triggers are where you succeed: tools helped us change our behavior by making things easier.

_Mid Aughts_: Rails comes out in 2005, jQuery in 2006. It wasn't the first framework, but it presented a simple solution: did one thing really well. Dom manipulation! Came with great documentation. And lastly: jQuery invited us to participate. On day two, someone released a plugin. jQuery obviously is incredibly successful, but it's those three design decisions: simple solution, great documentation, community - that made it so popular.

_CSS_: it's frustrating. Queue the gifs. 
  - 960px ftw
  - IE 6, 7, 8, 9, wah
  - CSS3, hey gurl

_The rise of CSS preprocessors where inevitable._ CSS was hard, and the iPhone was about to come out. So [Sass](http://sass-lang.com/) and [Less](http://lesscss.org/) came into play. Sass was hard, but then [Compass](http://compass-style.org/) came into play: it made Sass _easy_ and it had _great_ documentation. Lastly, it came with, you guessed it: a call for community. Which, in turn, created a larger community:

[Sache Sass](http://www.sache.in/), [Breakpoint](http://breakpoint-sass.com/), [Bourbon](http://bourbon.io/)

_These things allowed us to do things ourselves._ They nutured community and our ability to design.

## So what's the point?
"Really, another build tool?" On the contrary: it's all about allowing us to be open and to generate new ideas.

_It's about humanity:_ Eventually we will worry less about technological problems, and more about human problems. By celebrating diversity and differences in our communities, we'll solve bigger problems. (_No cliques!_)

_We are succeeding!_ We act as amplifiers and filters. We've created a great network, and we have a lot of contribute. If we continue to innovate in the way we've been doing about (simple solutions, good documentation, happy commuity) we can continue to be revolutionary.

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}