---
file: 14-12-stuff-about-cascading-stylesheets
title: Stuff About Cascading Style Sheets
date: December 2014
imageClass: orb
description: "Better product design with HTML & CSS"
url: stuff-about-cascading-stylesheets
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p><a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/connors">@connors</a>.</p>

    <p><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> + <a href="http://goratchet.com/">Ratchet</a></p>

    <p><em>Design is a process.</em> At every step in the process, you're constantly re-doing the same thing, trying to figure out what's actually write.</p>

    <p><em>Product design greatly improves when you get to code faster.</em> Er, why? </p>

    <p>It elevates the conversation. Real data! Real feels! Real interactions! With prototypes, you can actual test it. </p>

    <p>It protomotes systemic design. Design components across pages, not pages of components.</p>

    <p>It allows us to speak the same language. Coded components instead of pixels and design specs allow us to work together.</p>

    <h2>#NewNewTwitter</h2>

    <p>This refers to the mobile clients that came out three years and a day ago on twitter.com.</p>

    <p><em>They did a bajillion Photoshop mockups.</em> Whenever you had to update one, you had to update <em>ALL OF THEM</em>. Terrible.</p>

    <p>Then, they prototyped. EXCEPT THEY WEREN'T BECAUSE NO TIME FOR PRODUCTION-WORTHY CODE.</p>

    <p>In essense:</p>

    <h2>A set of PSDs can't encapsulate the entire web.</h2>

    <p>So, learned:</p>

    <p><em>Consolidate similar design components into one.</em> Getting into code faster allows you to find these things faster. Instead of having six slightly different things, just have one. Less time!</p>

    <p><em>Speed is a feature.</em> Having those components made them move faster so that they <em>could</em> worry about speed, because on a site like Twitter, speed is hella important.</p>

    <h2>Having something actually coded helps with momentum.</h2>

    <p>If you have something prototyped, you can get it approved.</p>

    <p>It's not that old design techniques are antiquated and you should code in the browser and blah blah blah. Because sketching is awesome. It's just that you <em>should</em> try to move into code faster to get things shipped faster.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}