{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/type-loading/type-loading.css">

  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <strong>laboris nisi ut aliquip</strong> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <em>officia</em> deserunt mollit anim id est laborum.</p>

    <h1>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h1>
    <h2>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h2>
    <h3>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h3>
    <h4>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h4>
    <h5>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h5>
    <h6>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h6>

    <ul>
      <li>HELLO HUMAN</li>
      <li><strong>HELLO HUMAN</strong></li>
      <li><strong>HELLO HUMAN</strong></li>
      <li><strong>HELLO HUMAN</strong></li>
      <li><strong>HELLO HUMAN</strong></li>
    </ul>

    <div class="navigation">
      <ul>
        <li>Linky one</li>
        <li>Linky two</li>
        <li>Linky red</li>
        <li>Linky blue</li>
      </ul>
    </div>
  </div>
{% endblock %}