@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.container { // global container for site
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  width: 45%;
}