/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.post {
  line-height: 2.5;
  margin: 10% 13%;
  width: 45%; }

.post p {
  margin: 2em auto; }

.title {
  font-size: 5em;
  margin: 0; }

.proximanova-loaded .date {
  color: #959595;
  font-family: ProximaNova, Helvetica, Arial, sans-serif !important;
  letter-spacing: 1px;
  margin-top: -3em;
  text-transform: uppercase; }
