/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.featured-article {
  margin: 7% 10% 7% 10%;
  width: 73%; }

.featured-article p {
  width: 30%; }

.post:hover .title:after {
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-name: grow;
  animation-timing-function: cubic-bezier(0.415, 0.61, 0.855, 1);
  background-color: #2d2d2d;
  content: "";
  display: block;
  float: right;
  height: 1px;
  margin-top: -8px;
  transform-origin: left;
  width: 100%; }

.blog-posts {
  list-style-type: none;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.outside-link .post-image {
  position: relative; }

.outside-link .post-image::before {
  -webkit-animation: fade-out-half 0.25s ease;
  -moz-animation: fade-out-half 0.25s ease;
  animation: fade-out-half 0.25s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: url("/images/outside-link-white.png");
  background-size: contain;
  content: '';
  display: block;
  height: 25px;
  margin-left: calc(50% - 17.5px);
  margin-top: calc(100px - 17.5px);
  opacity: 0;
  position: absolute;
  width: 25px;
  z-index: 1; }

.outside-link .post-image::after {
  -webkit-animation: fade-out 0.25s ease;
  -moz-animation: fade-out 0.25s ease;
  animation: fade-out 0.25s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #240eba;
  border-radius: 3px;
  content: '';
  display: block;
  height: 200px;
  opacity: 0;
  width: 100%;
  z-index: 0; }

.outside-link:hover .post-image::before {
  -webkit-animation: fade-in 0.25s ease;
  -moz-animation: fade-in 0.25s ease;
  animation: fade-in 0.25s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.outside-link:hover .post-image::after {
  -webkit-animation: fade-in-half 0.25s ease;
  -moz-animation: fade-in-half 0.25s ease;
  animation: fade-in-half 0.25s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.post {
  background-image: linear-gradient(transparent, transparent);
  color: #2d2d2d;
  flex: 0 1 30%;
  margin-bottom: 7%; }

.post:visited {
  color: #2d2d2d; }

.post:first-of-type {
  flex: 0 1 44%; }

.post:nth-of-type(2) {
  flex: 0 1 44%;
  margin-right: 6%; }

.title-and-date {
  align-items: center;
  display: flex; }

.title {
  font-size: 3.5em;
  line-height: 1.25;
  margin: 3% 0 0 0; }

.date {
  color: #D8D8D8;
  font-family: AvenirNext, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 40px; }

.post-description {
  align-items: center;
  display: flex; }

.tag {
  background-color: #240eba;
  border-radius: 3px;
  color: white;
  padding: 3px 10px 1px 8px;
  margin-left: 5%; }

/* 3D renders 
   Wow so cool much fance

*/
.post-image {
  background-size: auto 100%;
  border-radius: 3px;
  height: 200px;
  outline: 1px solid #F2F2F2;
  width: 100%; }

.baas {
  background-image: url("/images/partials/writing/baas.jpg"); }

.jungle-gym {
  background-size: auto 150%;
  background-image: url("/images/partials/writing/jungle-gym.jpg"); }

.lightbulb {
  background-image: url("/images/partials/writing/lightbulb.jpg");
  background-size: auto 300%;
  background-position: center 15%; }

.orb {
  background-image: url("/images/partials/writing/orb.jpg");
  background-size: auto 220%; }

.printing-press {
  background-size: auto 200%;
  background-position: center 50%;
  background-image: url("/images/partials/writing/printing-press.jpg"); }

.splash {
  background-image: url("/images/partials/writing/splash.jpg"); }

.spiral {
  background-size: auto 125%;
  background-position: center 100%;
  background-image: url("/images/partials/writing/spiral.jpg"); }

.words {
  background-image: url("/images/partials/writing/words.jpg"); }
