/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.featured-article {
  margin: 10% 10% 7% 10%;
  width: 73%; }

.featured-article p {
  width: 30%; }

.blog-posts {
  list-style-type: none;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.post {
  color: #2d2d2d;
  flex: 0 1 30%;
  margin-bottom: 7%;
  background-image: linear-gradient(transparent, transparent); }

.post:visited {
  color: #2d2d2d; }

.post:first-of-type {
  flex: 0 1 44%; }

.post:nth-of-type(2) {
  flex: 0 1 44%;
  margin-right: 6%; }

.title-and-date {
  align-items: center;
  display: flex; }

.title {
  font-size: 3.5em;
  line-height: 1.25;
  margin: 3% 0 0 0; }

.date {
  color: #D8D8D8;
  font-family: AvenirNext, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 40px; }

.post-description {
  align-items: center;
  display: flex; }

.tag {
  background-color: #240eba;
  border-radius: 3px;
  color: white;
  padding: 3px 10px 1px 8px;
  margin-left: 5%; }

/* 3D renders 
   Wow so cool much fance

*/
.post-image {
  background-attachment: fixed;
  background-size: auto 50%;
  border-radius: 3px;
  height: 150px;
  outline: 1px solid #F2F2F2;
  width: 100%; }

.baas {
  background-size: auto 35%;
  background-position: left bottom;
  background-image: url("/images/partials/writing/baas.jpg"); }

.jungle-gym {
  background-size: auto 35%;
  background-position: center top;
  background-image: url("/images/partials/writing/jungle-gym.jpg"); }

.lightbulb {
  background-position: center top;
  background-image: url("/images/writing/lightbulb.jpg"); }

.orb {
  background-image: url("/images/partials/writing/orb.jpg");
  background-position: center top; }

.printing-press {
  background-size: auto 100%;
  background-position: center center;
  background-image: url("/images/partials/writing/printing-press.jpg"); }

.splash {
  background-image: url("/images/partials/writing/splash.jpg"); }

.spiral {
  background-image: url("/images/partials/writing/spiral.jpg"); }

.words {
  background-image: url("/images/partials/writing/words.jpg");
  background-position: left top; }
