/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.moi {
  display: block;
  margin-left: 8%;
  padding-top: 5%; }

.container {
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  width: 45%; }

section {
  margin-top: 15%;
  padding-left: 20%; }

section:first-of-type {
  margin-top: 5%; }

section:last-of-type {
  margin-top: 0;
  margin-bottom: 10%; }

.contact {
  margin-top: 15%; }

/* Lines
--------------------------------------- */
#domExplosionList {
  position: fixed;
  width: 100%;
  top: 10%; }

.item {
  position: absolute;
  list-style-type: none; }

.dei-1 {
  top: 100px;
  left: 15%; }

.dei-2 {
  top: 400px;
  left: 80%; }

.dei-3 {
  top: 650px;
  left: 87%; }

.dei-4 {
  top: 550px;
  left: 93%; }

.dei-5 {
  top: 750px;
  left: 15%; }

.line {
  background-color: indianred;
  width: 1px; }

.line-1 {
  height: 500px; }

.line-2 {
  height: 300px; }

.line-3 {
  height: 400px; }

.line-4 {
  height: 325px; }

.line-5 {
  height: 350px; }
