---
file: 14-12-implementing-a-visual-testing-framework
title: Implementing a Visual CSS Testing Framework
date: December 2014
imageClass: orb
description: Automatic image capture
url: implementing-a-visual-testing-framework
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p><a href="https://twitter.com/jessicard">@jessicard</a>, Jessica Dillon.</p>

    <p><a href="http://www.slideshare.net/jessicardillon/implementing-a-visual-css-testing-framework" target="_blank">Slides</a></p>

    <p>We want image diffs to see when pages don't load properly. Why? Because CSS is frickin' hard to refactor! And writing tests to describe something visual is really, really hard.</p>

    <p>They wanted something that took full-page screenshots, not just the fold.</p>

    <p>They wanted a place to store these screenshots.</p>

    <p>They needed a want to view the diff screenshots.</p>

    <h2>Building the Framework</h2>

    <p>Testing with <a href="http://rspec.info/" target="_blank">rspec</a></p>

    <p><a href="https://buildbox.io/" target="_blank">Buildbox</a></p>

    <p><a href="http://www.seleniumhq.org/" target="_blank">Selenium</a></p>

    <p><a href="http://www.browserstack.com/" target="_blank">Browserstack</a></p>

    <p><a href="http://www.imagemagick.org/" target="_blank">Imagemagick</a> (What's up with wizards for web tools, anyway?)</p>

    <h2>Update, 12/10/14</h2>

    <p>@jessicard wrote a <a href="https://bugsnag.com/blog/implementing-a-visual-css-testing-framework">blog post</a> outlining this in much better detail than I was able to in my notes. Please check it out!</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}