---
file: 14-10-angular-animations
title: Angular Animations
date: October 2014
imageClass: orb
description: I've typed ng-something enough times to make me want to blow my brains out.
url: angular-animations
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>Couldn't get Angular animations working. Why? Because I hadn't defined <code>'ngAnimate'</code> in my app module.</p>

    <p>I wanted the receipt to animate in, a simple slide-down-and-in type thing. Most of the angular tutorials look god awful, so this is how you want to do it ifyou're not writing plain CSS:</p>

<pre><code>
.receipt {
    // Animations
    &.ng-hide-remove {
      @include animation(fade-in-and-down .35s ease-in);
      // @include animation-fill-mode(forwards);
    }
  }
}
</code></pre>

    <p>Angular works by applying <code>.ng-hide-remove</code>, or <code>.ng-hide-add</code> for when you're toggling a box. (Seems like a roundabout naming schema, but whatever).</p>

    <p>Unfortunately applying Bourbon's <code>@include animation-fill-mode(forwards)</code> didn't work in the way I was expecting it to. However, applying a <code>transform: translateY(10px);</code> in the base class did. Meh.</p>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@helenvholmes" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}