<header class="header">
  <div class="3d-nav">
    <img src="" alt="This thing isn't built yet, still learning three.js" />
  </div>

  <nav class="navigation" id="nav">
    <ul class="nav-items">
      <li class="nav-item name"><a href="/">Helen V. Holmes</a></li>
      <li class="nav-item"><a href="/writing">Writing</a></li>
      <li class="nav-item"><a href="/reading">Reading</a></li>
      <li class="nav-item"><a href="/about">Speaking</a></li>
      <li class="nav-item"><a href="/currently">Currently Collections</a></li>
      <li class="nav-item"><a href="/about">About</a> / <a href="/about#contact">Contact</a></li>
    </ul>
  </nav>
</header>