<section class="past-currentlys">
  <p id="past-currentlys-text">“Currently”s are collections of images and thoughts that speak to me at the moment. Sometimes, they’re just quotes and images I’ve curated; other times, I talk to you and show a few snapshots of my life at the moment. <a href="#past-currentlys" id="past-currentlys">See past currentlys</a>.</p>

  <ol class="letters-lot">
    {% for longFormTitle in longFormTitles %}
      <a href="/currently/{{ longFormTitle }}">
        <li>The {{ longFormTitle | replace("-", " ")}}</li>
      </a>
    {% endfor %}
  </ol>

  <ul id="past-currentlys-list">
    <a href="https://realm.io/news/tryswift-helen-holmes-10-ways-designers-swift-codebase/" target="_blank">
      <li>
        <div class="engagement">March 2016</div>
      </li>
    </a>

    <a href="https://viewsourc.es/2015/07/29/episode-10-client-side-mvcs/" target="_blank">
      <li>
        <div class="engagement">May 2015</div>
      </li>
    </a>

    <a href="http://2015.cascadiajs.com/speakers/helen-v-holmes" target="_blank">
      <li>
        <div class="engagement">January 2014</div>
      </li>
    </a>
  </ul>
</section>
