<section class="past-currentlys">
  <p id="past-currentlys-text">“Currently”s are collections of images and thoughts that speak to me at the moment. Sometimes, they’re just quotes and images I’ve curated; other times, I talk to you and show a few snapshots of my life at the moment. <a id="past-currentlys">See past currentlys</a>.</p>

  <ol class="letters-lot">
    {% for longFormTitle in longFormTitles %}
      <a href="/currently/{{ longFormTitle }}">
        <li>The {{ longFormTitle | replace("-", " ")}}</li>
      </a>
    {% endfor %}
  </ol>

  <ul id="past-currentlys-list">
    <a href="/currently">
      <li>
        <div class="engagement">Latest Currently</div>
      </li>
    </a>

    <a href="/currently/march-2015/">
      <li>
        <div class="engagement">March 2015</div>
      </li>
    </a>

    <a href="/currently/january-2014/">
      <li>
        <div class="engagement">January 2014</div>
      </li>
    </a>
  </ul>
</section>
