---
file: 14-10-angular-animations-with-css
title: Animations on Transition with Angular
date: October 2014
imageClass: orb
description: tl;dr won't work on init.
url: angular-animations-with-css
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>Most Angular animations work by appending and removing CSS classes, which means that <code>transitions</code> don't work for shit. (Not entirely true; they'll work, but only on second fire. Annoying.) According to some SO it might be because the browser doesn't have the chance to render it fast enough, as if it isn't aware of its initial state beforehand. Idk, friends.</p>

    <p>If you need/want to have a nice fade in on enter, you need to do it with keyframes. Always, essentially.</p>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@helenvholmes" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}