{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/winsome/winsome.css">

  <div class="project">
    <div class="callout">
      <img src="/images/portfolio/well-made-co/well-made--close-up-backpack.jpg" />
    </div>
    <div class="project-description">
      <div class="container">
        <div class="project-blurb">
          <h2 class="avenir-headers">Well Made Co.</h2>
          <p>This project was all about how to reinvent packaging for the better. How can packaging be good for the environment? Well, by making it reuseable, I thought. The details were what made this fun for me; if we'd done superlatives in college I think this would have gotten me 'most crafty'. </p>
        </div>
        <div class="detail"><img src="/images/portfolio/well-made-co/detail.jpg"/></div>
      </div>
    </div>
    <div class="container">
      <div class="project-detail-50"><img src="/images/portfolio/well-made-co/well-made--tube.jpg"/></div>
      <div class="project-detail-50"><img src="/images/portfolio/well-made-co/well-made--tag.gif"/></div>
      <div class="well-made-images">
        <div class="project-detail-third"><img src="/images/portfolio/well-made-co/well-made--tube-backpack-m.jpg"/></div>
        <div class="project-detail-third"><img src="/images/portfolio/well-made-co/well-made--tag.jpg"/></div>
        <div class="project-detail-third"><img src="/images/portfolio/well-made-co/well-made--store-bag-2.jpg"/></div>
      </div>
      <p>This project was fun and yet <em>so </em> challenging. The tag I wanted to double as a star map, so I had to carefully cut out thin lines with an exacto, glue them down, and then layer glow-in-the-dark paint to make it pop in the darkness. (This is of course ignoring doing the die cut bear myself, which was challenging as well—I had to layer cardstock as I couldn't have gotten the fidelity I wanted by hand with anything thicker). The map tube and bag felt easy by comparison, but both still necessitated from acrobatics with gluging and ironing.</p>

    <div class="callout separator">
      <img src="/images/portfolio/well-made-co/well-made--callout.jpg" />
    </div>

    <div class="container">
      <p>Oh goodness, hello! Would you like to see <a href="/portfolio/winsome">another project?</a></p>
    </div>
  </div>
  </div>
{% endblock %}