@import 'bourbon';
@import '../../styles/typography';
@import '../../styles/colors';
@import '../../styles/animations';

.letter-nav {
  align-items: center;
  background-color: $brand-primary; 
  display: flex;
  height: 12px;
  justify-content: center;
  transition: all 0.3s ease;
  width: 100%;

  a {
    color: white;
    opacity: 0;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    height: 30px;

    a {
      @include animation(fade-in-and-down 0.5s ease);
      @include animation-fill-mode(forwards);

      color: white;
    }
  }
}

.letter {
  font-family: $monospace;
  margin-bottom: 10%;
  padding: 2% 10%;
  width: 50%;
  min-height: 55vh;

  p {
    @include animation(fade-in-and-down 0s ease);
    @include animation-fill-mode(forwards);

    opacity: 0;
  }

  p:first-of-type {
    @include animation(fade-in-and-down 0.75s ease);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(2) {
    @include animation(fade-in-and-down 0.75s ease);
    @include animation-delay(0.15s);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(3) {
    @include animation(fade-in-and-down 0.75s ease);
    @include animation-delay(0.3s);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(4) {
    @include animation(fade-in-and-down 0.75s ease);
    @include animation-delay(0.45s);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(5) {
    @include animation(fade-in-and-down 0.75s ease);
    @include animation-delay(0.65s);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(6) {
    @include animation(fade-in-and-down 0.75s ease);
    @include animation-delay(0.75s);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(7) {
    @include animation(fade-in-and-down 0.85s ease);
    @include animation-delay(0.85s);
    @include animation-fill-mode(forwards);
  }

  p:nth-of-type(8) {
    @include animation(fade-in-and-down 0.95s ease);
    @include animation-delay(0.95s);
    @include animation-fill-mode(forwards);
  }
}

.letter-footer-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10% 0;

  .ornament::before {
    @include font-feature-settings('ornm' 7);

    color: $brand-primary;
    content: '\0041';
    display: inline-block;
    font-size: 1em;
    margin: 0 2em;
  }
}