// Links

@import '../../styles/colors';

$color-text:        #333332;
$color-background:  #fff;
$color-selection:   #b4d5fe;

a {
  // color: $brand-primary;
  @include link-underline(transparent, $brand-primary, $brand-secondary);

  // &:hover {
  //   color: darken($brand-primary, 10%);
  // }

  // &:visited {
  //   color: darken($brand-primary, 10%);
  // }

  // &:active {
  //   color: darken($brand-primary, 10%);
  // }
}