---
file: 14-12-things-i-have-learned
title: Things I've Learned About CSS
date: December 2014
imageClass: orb
description: Basically over 10 years of typing it
url: things-i-have-learned
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p><a href="https://twitter.com/mrmrs_" target="_blank">@mrmrs</a>, Adam Morse</p>

    <p><a href="https://github.com/mrmrs/slides-cssconfoakland-2014" target="_blank">Slides</a></p>

    <p><a href="http://www.opower.com/" target="_blank">Opower</a></p>

    <p>"In mathematics, if it's been done it's trivial. If it hasn't been done it's impossible. I'm only concerned with things that are impossible."</p>

    <h2>Empathy</h2>

    <p>We want people to have better lives. We shouldn't care about code, we should care about the people using the things we've built.</p>

    <p><em>Veil of Ignorance</em>: We don't think about what other people go through. You might not have a fast connection. Performance matters. Try to write CSS that doesn't degrade the experience.</p>

    <p><em>How much CSS is too much CSS for a website?</em> (What a great question)</p>

    <p><em>Everything should be readable on any device.</em>
    <em>Everything should be as performant as possible.</em>
    <em>Designing in the browser should be easy.</em>
    <em>Doing one thing extremely well promotes reusability.</em> (Nicholas Gallagher + <a href="http://nicolasgallagher.com/micro-clearfix-hack/" target="_blank">clearfix</a>)</p>

    <h2>Inline Styles Are Terrible!...?</h2>

    <p>Inline styles are frickin' <em>fast</em>.</p>

    <h2>CSS is like, 20kb.</h2>

    <p>Huh? </p>

    <p>CSS is finite. Most of what you're doing has been done before, and there are only so many options you could possibly have. (Literally, @mrmrs put all of the different options and applied them to classes and weighed them - and it's smaller than what most sites have for CSS.)</p>

    <p><em>40% of sites breaks down to floats, colors, etc.</em> So how much CSS is too much? How much CSS is redundant?</p>

    <p><a href="https://twitter.com/jxnblk" target="_blank">@jxnblk</a> + <a href="http://cssstats.com/" target="_blank">cssstats.com</a></p>

    <p>In the end, we want to make things better for our users. Worry less about solving things creatively and worry more about them.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}