.footer {
  clear: both;
  height: 200px;
  position: relative;
  text-align: center;
  background-color: white; 

  p {
    margin: 1em auto;
    width: 80%;
  }
}

.decoration-line {
  background-color: $brand-primary;
  height: 1px;
  position: absolute;
  top: 33%;
  width: 100%;
  z-index: 1;
}

.find-posts {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 6em auto;
  width: 100%;

  a, span {
    padding: 5px;
  }
}

.link-separator {
  &:after {
    @include font-feature-settings('ornm' 7);

    color: $brand-primary;
    content: '\0041';
    display: inline-block;
    font-size: 1em;
  }
}

.profile-image {
  background-color: $brand-white;
  border-radius: 50%;
  border: 1px solid $brand-primary;
  height: 117px;
  padding: 20px;
  position: relative;
  width: 117px;
  z-index: 2;
}