@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/animations';

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  padding-right: 4%;
  padding-top: 2%;
  width: 300px;
  z-index: 2;
  margin: auto;

  @include media($nine-col) {
    position: fixed;
    align-items: flex-end;
    justify-content: unset;
    right: 0;
    top: 0;
    margin: unset;
  }
}

.threed-nav {
}

.name a {
  $color2: $brand-primary;
  $color: peru;

  &:hover {
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, $color 25%, transparent 25%) 0 0 / 0.5em 0.5em
              , linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue($brand-gray-accent, 180);
  }
}


.navigation {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  display: flex;
}

.collapsed-nav {
  align-self: center;
  cursor: pointer;
  height: auto;
  opacity: 0;
  position: relative;
  transition: opacity 0.25s ease;
  width: 30px;
  
  @include media($nine-col) {
    margin-left: 74%;
  }
  
  &::before {
    content: "";
    display: block;
    height: 7px;
    width: 30px;
    background-color: transparent;
    border-bottom: 1px solid $brand-primary;
    border-top: 1px solid $brand-primary;
  }
  
  &::after {
    content: "";
    display: block;
    height: 7px;
    width: 30px;
    background-color: transparent;
    border-bottom: 1px solid $brand-primary;
  }
}

body.mobile-nav-open {
  overflow: hidden;
  position: fixed;
}

.big-nav {
  align-items: space-around;
  background-color: $brand-primary;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-top: 20%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  .close {
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: 10%;
    top: 5%;
    width: 20px;

    &::before, &::after {
      background-color: white; 
      content: '';
      display: block;
      height: 1px;
      width: 100%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      margin-top: -1px;
      position: absolute;
      transform: rotate(-45deg);
    }

    @include media($nine-col) {
      display: none;
    }
  }

  a {
    color: white;

    @include media($nine-col) {
      color: $brand-primary;
    }
  }

  @include media($nine-col) {
    align-items: unset;
    background-color: unset;
    height: unset;
    justify-content: unset;
    left: unset;
    padding-top: unset;
    position: unset;
    top: unset;
    width: unset;
    z-index: unset;
  }
}

$nav-items: 5; // number of nav lines
$big-nav-items: $nav-items; // just a second loop

@for $i from 1 through 5 {
  .nav-item-#{$i} {
    opacity: 0;
  }
}

@while ($nav-items > 0) {
  .small-nav {
    .nav-item-#{$nav-items} {
      $nav-items: $nav-items - 1;
      @include animation(fold-up 0.75s ease);
      @include animation-fill-mode(forwards);
      @include animation-delay(($nav-items / 15) + s);

      -webkit-font-smoothing: antialiased;
      -webkit-backface-visibility: hidden;
      display: none;
      opacity: 1;
    }

    .collapsed-nav {
      @include animation(fade-in-and-down 0.25s ease);
      @include animation-fill-mode(forwards);
      @include animation-delay(0.25s);

      -webkit-backface-visibility: hidden; // hack for animation bolding problem, whatever's causing that bullshit
    }
  }
}

@while ($big-nav-items > 0) {
  .big-nav {
    .nav-item-#{$big-nav-items} {
      $big-nav-items: $big-nav-items - 1;
      @include animation(fold-down 0.75s ease);
      @include animation-fill-mode(forwards);
      @include animation-delay(($big-nav-items / 15) + s);

      -webkit-font-smoothing: antialiased;
      -webkit-backface-visibility: hidden;
    }

    .collapsed-nav {
      height: 0;
      opacity: 0;
    }
  }
}

.nav-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  @include media($nine-col) {
    align-items: unset;
  }
}

.nav-item {
  flex: 0 1 100%;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 3.5;
  list-style-type: none;
  text-align: right;
  text-transform: uppercase;

  &:first-of-type {
    margin-left: 0;
  }

  a {
    background-image: linear-gradient(transparent, transparent);
  }
}

.nav-item:hover {
  // animation-duration: 0.15s;
  // animation-fill-mode: forwards;
  // animation-name: grow;
  // animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
  // background-color: $brand-primary;
  // content: "";
  // display: block;
  // height: 1px;
  // float: right;
  // transform-origin: left;
  // width: 100%;
  color: slateblue;
}