@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/animations';

.header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  padding-right: 2%;
  position: fixed;
  right: 0;
  width: 200px;
}

.threed-nav {
  width: 100%;
}

.nav-item.name {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  $color2: $brand-primary;
  $color: peru;

  &:hover {
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, $color 25%, transparent 25%) 0 0 / 0.5em 0.5em
              , linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue($brand-gray-accent, 180);
  }
}

.navigation {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  display: flex;
}

.nav-items {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.nav-item {
  flex: 0 1 100%;
  font-size: 0.8em;
  font-weight: $semibold-weight;
  letter-spacing: 0.05em;
  line-height: 2.5;
  list-style-type: none;
  text-align: right;
  text-transform: uppercase;

  &:first-of-type {
    margin-left: 0;
  }

  @include media($nine-col) {
    margin: 0;
  }
}

// .hover-left::after {
//   animation-duration: 0.15s;
//   animation-fill-mode: forwards;
//   animation-name: grow;
//   animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
//   background-color: $brand-primary;
//   content: "";
//   display: block;
//   height: 1px;
//   float: right;
//   transform-origin: left;
//   width: 70%;
// }

// .hover-out-left::after {
//   animation-duration: 0.15s;
//   animation-fill-mode: forwards;
//   animation-name: shrink;
//   animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
//   background-color: $brand-primary;
//   content: "";
//   display: block;
//   height: 1px;
//   float: right;
//   transform-origin: left;
//   width: 70%;
// }

// .hover-right::after {
//   animation-duration: 0.15s;
//   animation-fill-mode: forwards;
//   animation-name: grow;
//   animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
//   background-color: $brand-primary;
//   content: "";
//   display: block;
//   height: 1px;
//   float: right;
//   transform-origin: right;
//   width: 70%;
// }

// .hover-out-right::after {
//   animation-duration: 0.15s;
//   animation-fill-mode: forwards;
//   animation-name: shrink;
//   animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
//   background-color: $brand-primary;
//   content: "";
//   display: block;
//   height: 1px;
//   float: right;
//   transform-origin: left;
//   width: 70%;
// }