@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/animations';

.header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  padding-right: 4%;
  padding-top: 2%;
  position: fixed;
  right: 0;
  width: 300px;
  z-index: 2;
}

.threed-nav {
}

.name a {
  $color2: $brand-primary;
  $color: peru;

  &:hover {
    animation: blinds 0.75s linear forwards;
    background: linear-gradient(0deg, $color 25%, transparent 25%) 0 0 / 0.5em 0.5em
              , linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue($brand-gray-accent, 180);
  }
}


.navigation {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  display: flex;
}

.collapsed-nav {
  width: 30px;
  height: 13px;
  margin-left: 83%;
  opacity: 0;
  background-color: $brand-primary;
  transition: opacity 0.25s ease;
  
  &:before {
    width: 30px;
    height: 2px;
    background-color: $brand-primary;
    display: block;
    content: "";
    margin-top: 8px;
    position: absolute;
  }
  
  &:after {
    width: 30px;
    height: 2px;
    background-color: $brand-primary;
    display: block;
    content: "";
    margin-top: 16px;
    position: absolute;
  }
}

$nav-items: 5; // number of nav lines
$type-width: 20px;

@while ($nav-items > 0) {
  .small-nav {
    .nav-item-#{$nav-items} {
      $nav-items: $nav-items - 1;
      @include animation(fold-up 0.75s ease);
      @include animation-fill-mode(forwards);
      @include animation-delay(($nav-items / 15) + s);
    }
    
    .collapsed-nav {
      opacity: 1;
    }
  }
}

.nav-items {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.nav-item {
  flex: 0 1 100%;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 3.5;
  list-style-type: none;
  text-align: right;
  text-transform: uppercase;

  &:first-of-type {
    margin-left: 0;
  }

  a {
    background-image: linear-gradient(transparent, transparent);
  }
}
