@import 'bourbon';
@import '../../../styles/grid-settings';
@import 'neat';
@import '../../../styles/colors';
@import '../../../styles/typography';

.post {
  line-height: 2.5;
  margin: 10% 13%;
  width: 45%;
  
  p {
    margin: 2em auto;
  }
}

.title {
  font-size: 5em;
  margin: 0;
}

.proximanova-loaded .date {
  color: $brand-gray-dark;
  font-family: $proxima-nova !important;
  letter-spacing: 1px;
  margin-top: -3em;
  text-transform: uppercase;
}