---
file: 14-03-changing-git-dates
title: Changing Git Dates
date: March 2014
imageClass: orb
description: Or, How to Cheat On Your Github Contribution Graph
url: changing-git-dates
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>If you'd like to change the date and time of your last commit:</p>

<pre><code>
git commit --amend --date="Sat, 28 Mar 2015 12:40:00 +0000"
</code></pre>

    <p>Please note that 'commit' shouldn't be a hash, it should just actually be 'commit'.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}