---
file: 14-12-i-have-no-idea-what-im-doing-here
title: I Have No Idea What I'm Doing
date: December 2014
imageClass: orb
description: How you got there
url: i-have-no-idea-what-im-doing-here
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p><a href="https://twitter.com/elyseholladay" target="_blank">@elyseholladay</a>, Elyse Holladay.</p>

    <p><a href="http://elyseholladay.github.io/tigers/" target="_blank">Elyse's notes on her presentation</a></p>

    <p>How'd you get to where you are?</p>

    <p>Being in the right places at the right times, getting lucky, hard work, allowing teaching to be rewarding.</p>

    <p>We have personal "tigers" that will bog us down. But enjoy what you're currently doing and chip away at what you're doing right now.</p>

    <h2>The Shit We Don't Know We Don't Know</h2>

    <p>"I'm not good at this." Why do we always say this? We should say instead, "This challenges me." Progress and learning is awesome.</p>

    <p>There types of knowledge:</p>

    <ol>
    <li><p>Shit you know.</p></li>

    <li><p>Shit you know you don't know.</p></li>

    <li><p>Shit you don't know you don't know.</p></li>
    </ol>

    <p>Don't put stuff into the shit you know category; take it <em>out</em> of that last category. This is still broadening your horizons and giving you the tools to learn it when you need. It's the only dangerous category.</p>

    <h2>You feel like a fraud because you know there's a ton you don't know about.</h2>

    <p>Good news is, it means you're iterating and getting better at stuff. Bad news is you probably feel dumb all the time :(</p>

    <p><em>We need help!</em> Our education is not complete. Don't be scared of being a beginner. Truth: We are all bad programmers.</p>

    <h2>We judge others by the end result, and we judge ourselves by the struggle it took us to get there.</h2>

    <p>You don't always know what you can do.</p>

    <p>Set goals. Work joyously. Be Lucky. Share your doubts. Celebrate your wins. Help others.</p>

    <p>"Inspiration exists but it has to find you working." -Picasso</p>

    <p>Henry Miller, <a href="http://www.brainpickings.org/2012/02/22/henry-miller-on-writing/" target="_blank">Commandments of the Daily Routine</a></p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}