---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: I Have No Idea What I'm Doing
description: How you got there
tags: [css, conf, oakland]
---

[@elyseholladay](https://twitter.com/elyseholladay), Elyse Holladay.

[Elyse's notes on her presentation](http://elyseholladay.github.io/tigers/)

How'd you get to where you are?

Being in the right places at the right times, getting lucky, hard work, allowing teaching to be rewarding.

We have personal "tigers" that will bog us down. But enjoy what you're currently doing and chip away at what you're doing right now.

## The Shit We Don't Know We Don't Know
"I'm not good at this." Why do we always say this? We should say instead, "This challenges me." Progress and learning is awesome.

There types of knowledge:

1. Shit you know.

2. Shit you know you don't know.

3. Shit you don't know you don't know.

Don't put stuff into the shit you know category; take it _out_ of that last category. This is still broadening your horizons and giving you the tools to learn it when you need. It's the only dangerous category.

## You feel like a fraud because you know there's a ton you don't know about.
Good news is, it means you're iterating and getting better at stuff. Bad news is you probably feel dumb all the time :(

_We need help!_ Our education is not complete. Don't be scared of being a beginner. Truth: We are all bad programmers.

## We judge others by the end result, and we judge ourselves by the struggle it took us to get there.

You don't always know what you can do.

Set goals. Work joyously. Be Lucky. Share your doubts. Celebrate your wins. Help others.

"Inspiration exists but it has to find you working." -Picasso

Henry Miller, [Commandments of the Daily Routine](http://www.brainpickings.org/2012/02/22/henry-miller-on-writing/)

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}