---
file: 14-11-header-and-make
title: Header and Make
date: November 2014
imageClass: orb
description: ".h, .m"
url: header-and-make
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>Since these don't exist separately in web dev:</p>

    <p><code>App.h</code>: your header file. Where you import dependencies and specify the entry point.</p>

    <p><code>App.m</code>: your implementation file. Where your logic actually lives.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}