---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: BmoreResponsive Links
tags: [conf, bmoreresponsive, design]
image:
  feature: soft-trees.jpg
---

Whenever I go to a conference I like to do a quick recap of all of the links that all the speakers mentioned (like the one I did for [AmpersandConf](../ampersand-conference-links) which took place in NYC last November). [BmoreResponsive](http://bmoresponsive.com/) had a great lineup so for the curious:

**Jeremy Keith, [@adactio](https://twitter.com/adactio)**
*Enhance!* <br />

- [Clearleft](http://clearleft.com/)
- [Adactio](http://adactio.com/)

**Curt Kotula, [@curtkotula](https://twitter.com/curtkotula)** 
*Designing for Flexible Systems*

- [Fastspot](http://www.fastspot.com/)
- [Learning from Style Guides](http://www.thinkdesigninteract.com/post/learning-from-style-guides/)

**Estelle Weyl, [@estellevw](https://twitter.com/estellevw)**
*RWD Isn’t a Panacea* 

- [Talk Slides](http://estelle.github.io/rwdpanacea/)
- [Standardista](http://standardista.com/)
- [Page Weight Matters](http://blog.chriszacharias.com/page-weight-matters)
- [Web Page Performance Testing](http://www.webpagetest.org/breakdown.php?test=140506_W1_5NA&run=2&cached=0)
- [A Tale of Two Viewports](http://www.quirksmode.org/mobile/viewports2.html)

**Fabio Carneiro, [@flcarneiro](https://twitter.com/flcarneiro)** 
*Hard-won Lessons in Responsive Email Design* 

- [Portfolio](http://www.flcarneiro.com/)
- [Mailchimp](http://mailchimp.com/)
- [Getting Started](http://kb.mailchimp.com/category/getting-started/)
- [Email Templates](http://templates.mailchimp.com/)

**Catherine Farman, [@cfarm](https://twitter.com/cfarm)**
*Real World Responsive JQuery*

- [Portfolio](http://cfarman.com/)
- [Happy Cog](http://happycog.com/)
- [Github](https://github.com/cfarm)

**Clarissa Peterson, [@clarissa](https://twitter.com/clarissa)**
*Responsive Typography*

- [Blog](http://www.clarissapeterson.com/)
- [Slides](http://www.slideshare.net/clarissapeterson/responsive-typography-27460071?ref=http://www.clarissapeterson.com/)
- [Correct Length Bookmarklet](http://codepen.io/chriscoyier/pen/atebf)
- [Fluid Type, Trent Walton](http://trentwalton.com/2012/06/19/fluid-type/)
- [Prototyping Responsive Typography](http://viljamis.com/blog/2013/prototyping-responsive-typography/)
- [Responsive Web Design and Typography](http://www.slideshare.net/dannycalders/typography-responsive-web-design)
- [The Elements of Typography Style Applied to the Web](http://webtypography.net/toc/)

**Ghaida Zahran, [@ghaidazahran](https://twitter.com/ghaidazahran)**
*Lessons Learned From Building a Responsive Framework*

- [Zurb Foundation](http://foundation.zurb.com/)
- [Portfolio](http://ghaidazahran.com/)

**Miguel Montanez, [@digitalmig](https://twitter.com/digitalmig)**
*Building a Future Friendly PBS Kids*

- [PBS Kids](http://pbskids.org/)
- [SXSW Slides](http://chrisbishop.com/sxsw/deck/)

**Nick Whitmoyer, [@whistle](https://twitter.com/whistle)**
*Rethinking the News: An Insider's Look at NPR's Recent Responsive Redesign*

- [Portfolio](http://whitmoyer.com/)

Theme of the day was [pattern libraries](http://alistapart.com/blog/post/getting-started-with-pattern-libraries). (Most popular one that exists is [Bootstrap](http://getbootstrap.com/), if you don't know what a pattern library is.)

You can check out my links for AmpersandConf [here](../ampersand-conference-links)).

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}