---
file: 14-05-bmoreresponsive
title: BmoreResponsive Links
date: May 2014
imageClass: orb
description: Recap of speaker links.
url: bmoreresponsive
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>Whenever I go to a conference I like to do a quick recap of all of the links that all the speakers mentioned (like the one I did for <a href="/writing/ampersand-conf">AmpersandConf</a> which took place in NYC last November). <a href="http://bmoresponsive.com/" target="_blank">BmoreResponsive</a> had a great lineup so for the curious:</p>

    <p>
      <strong>Jeremy Keith, <a href="https://twitter.com/adactio" arget="_blank">@adactio</a></strong>
      <em>Enhance!</em>
    </p>

    <ul>
      <li><a href="http://clearleft.com/" target="_blank">Clearleft</a></li>
      <li><a href="http://adactio.com/" target="_blank">Adactio</a></li>
      </ul>

    <p>
      <strong>Curt Kotula, <a href="https://twitter.com/curtkotula" arget="_blank">@curtkotula</a></strong> 
      <em>Designing for Flexible Systems</em>
    </p>

    <ul>
      <li><a href="http://www.fastspot.com/" target="_blank">Fastspot</a></li>
      <li><a href="http://www.thinkdesigninteract.com/post/learning-from-style-guides/" target="_blank">Learning from Style Guides</a></li>
    </ul>

    <p><strong>Estelle Weyl, <a href="https://twitter.com/estellevw">@estellevw</a></strong>
    <em>RWD Isn’t a Panacea</em> </p>

    <ul>
    <li><a href="http://estelle.github.io/rwdpanacea/" target="_blank">Talk Slides</a></li>

    <li><a href="http://standardista.com/" target="_blank">Standardista</a></li>

    <li><a href="http://blog.chriszacharias.com/page-weight-matters" target="_blank">Page Weight Matters</a></li>

    <li><a href="http://www.webpagetest.org/breakdown.php?test=140506_W1_5NA&amp;run=2&amp;cached=0" target="_blank">Web Page Performance Testing</a></li>

    <li><a href="http://www.quirksmode.org/mobile/viewports2.html" target="_blank">A Tale of Two Viewports</a></li>
    </ul>

    <p><strong>Fabio Carneiro, <a href="https://twitter.com/flcarneiro" target="_blank">@flcarneiro</a></strong> 
    <em>Hard-won Lessons in Responsive Email Design</em> </p>

    <ul>
    <li><a href="http://www.flcarneiro.com/" target="_blank">Portfolio</a></li>

    <li><a href="http://mailchimp.com/" target="_blank">Mailchimp</a></li>

    <li><a href="http://kb.mailchimp.com/category/getting-started/" target="_blank">Getting Started</a></li>

    <li><a href="http://templates.mailchimp.com/" target="_blank">Email Templates</a></li>
    </ul>

    <p><strong>Catherine Farman, <a href="https://twitter.com/cfarm" target="_blank">@cfarm</a></strong>
    <em>Real World Responsive JQuery</em></p>

    <ul>
    <li><a href="http://cfarman.com/" target="_blank">Portfolio</a></li>

    <li><a href="http://happycog.com/" target="_blank">Happy Cog</a></li>

    <li><a href="https://github.com/cfarm" target="_blank">Github</a></li>
    </ul>

    <p><strong>Clarissa Peterson, <a href="https://twitter.com/clarissa" target="_blank">@clarissa</a></strong>
    <em>Responsive Typography</em></p>

    <ul>
    <li><a href="http://www.clarissapeterson.com/" target="_blank">Blog</a></li>

    <li><a href="http://www.slideshare.net/clarissapeterson/responsive-typography-27460071?ref=http://www.clarissapeterson.com/" target="_blank">Slides</a></li>

    <li><a href="http://codepen.io/chriscoyier/pen/atebf" target="_blank">Correct Length Bookmarklet</a></li>

    <li><a href="http://trentwalton.com/2012/06/19/fluid-type/" target="_blank">Fluid Type, Trent Walton</a></li>

    <li><a href="http://viljamis.com/blog/2013/prototyping-responsive-typography/" target="_blank">Prototyping Responsive Typography</a></li>

    <li><a href="http://www.slideshare.net/dannycalders/typography-responsive-web-design" target="_blank">Responsive Web Design and Typography</a></li>

    <li><a href="http://webtypography.net/toc/" target="_blank">The Elements of Typography Style Applied to the Web</a></li>
    </ul>

    <p><strong>Ghaida Zahran, <a href="https://twitter.com/ghaidazahran" target="_blank">@ghaidazahran</a></strong>
    <em>Lessons Learned From Building a Responsive Framework</em></p>

    <ul>
    <li><a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation</a></li>

    <li><a href="http://ghaidazahran.com/" target="_blank">Portfolio</a></li>
    </ul>

    <p><strong>Miguel Montanez, <a href="https://twitter.com/digitalmig" target="_blank">@digitalmig</a></strong>
    <em>Building a Future Friendly PBS Kids</em></p>

    <ul>
    <li><a href="http://pbskids.org/" target="_blank">PBS Kids</a></li>

    <li><a href="http://chrisbishop.com/sxsw/deck/" target="_blank">SXSW Slides</a></li>
    </ul>

    <p><strong>Nick Whitmoyer, <a href="https://twitter.com/whistle" target="_blank">@whistle</a></strong>
    <em>Rethinking the News: An Insider's Look at NPR's Recent Responsive Redesign</em></p>

    <ul>
    <li><a href="http://whitmoyer.com/" target="_blank">Portfolio</a></li>
    </ul>

  <p>Theme of the day was <a href="http://alistapart.com/blog/post/getting-started-with-pattern-libraries" target="_blank">pattern libraries</a>. (Most popular one that exists is <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, if you don't know what a pattern library is.)</p>

  <p>You can check out my links for AmpersandConf <a href="/writing/ampersand-conf">here</a>.</p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}