html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.underline {
  text-decoration: underline; }

.post-ending:after {
  -webkit-font-feature-settings: "ornm" 7;
  -moz-font-feature-settings: "ornm" 7;
  -ms-font-feature-settings: "ornm" 7;
  font-feature-settings: "ornm" 7;
  color: indianred;
  content: '\0041';
  display: inline-block;
  font-size: 1em;
  margin-left: 0.5em; }

.left, .middle, .right {
  margin-bottom: 10%;
  margin-top: 20%;
  text-align: justify;
  width: 40%; }

.left {
  margin-left: 10%; }

.middle {
  margin-left: auto;
  margin-right: auto; }

.right {
  margin-left: 50%; }

.title {
  font-family: "Didot 96 A", "Didot 96 B", serif;
  font-size: 11rem;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase; }

.batman {
  margin: 10% auto;
  width: 50%;
  text-align: center; }

.batman img {
  width: 90%; }

.ux {
  margin: 5% 0 0 10%;
  outline: 1px solid #F5F5F5;
  float: left; }

.ux > .right {
  float: left; }

.sf {
  margin: 5% 0 0 0;
  float: left; }

.glyphs {
  width: 100%; }

.glyphs ~ .right {
  margin-top: 0; }

.printing-press {
  float: right;
  margin-left: 10%;
  width: 40%; }

.printing-press ~ .left {
  float: right;
  margin-top: 0; }

.printing-press ~ .quote {
  width: 70%; }

.example {
  clear: both; }

.quote {
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 10% auto 10% auto;
  width: 50%; }

.quote-attribution {
  font-family: CalendasPlus, Georgia, "Times New Roman", Times, serif;
  font-size: 0.7em;
  float: right; }

code {
  display: block;
  font-family: "Courier New", Courier, monospace;
  margin: 5% auto;
  text-align: center;
  width: 50%; }

h2 {
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
  font-size: 2em; }
