---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: 2015 Goals (Now That We're in February)
description: "I’m coming up on six months at my job and as a result I’m being asked to come up with goals. I thought it would be easiest to cover some of the stuff I’ve done so far to get started. Let’s go from most impactful at a macro level down:"
tags: [goals]
---

- **Created a demo at work that’s made huge waves**. I’m talking about the CEO of my company saying, “This needs to be in our commercials,” and getting a high-five from my VP. This is a man who under normal circumstances might not know my name. It’s spawned off a video and some other internal craziness that’s pretty cool.

- **Won two internal hackathons that spun off more internal work**. One was a devOps hackathon where we came up with a workplace solution to a problem ([related](https://twitter.com/helenvholmes/status/569633411427647488)). Another was a data visualization hackathon around a financial tool that has [@waltergraysomerville](https://twitter.com/walter_gray) freakin’ out and has the company flying us out to San Francisco to continue working with one of the Labs teams to see it through.

- **Worked with others to start the internal Capital One Bootstrap.** I in no way spearheaded this, but it’s certainly exciting to be one of the first committers on a project that I know will be used so extensively internally. ```_animations.scss```? That’s me, guys.

- **Helped build Capital One’s [first external API](http://api.reimaginebanking.com/).** This is related to some of my community related work below, but this is the most concrete, showable piece of it. Got to work with a [ton](https://twitter.com/borikanes) of [really](https://twitter.com/ahuwaa) [cool](https://twitter.com/ferracoftw) [people](https://twitter.com/freefood89) on it remotely and basically celebrated by going to [PennApps](http://2015s.pennapps.com/) as [mentors](https://twitter.com/lablayers/status/556912172744581120).

* * *

### Community-Related Work

- **Mentored at two student hackathons for the fall semester and mentoring at two or three more for the spring**. Feels weird to lump this in with ‘things accomplished’ because I adore going to hackathons as a mentor. You help kids out and watch your coworkers kill it at tech talks and hack on things with the best of them. It’s awesome, and I love it.

- **Created a developer Lunch-and-Learn-style community at work**.  
It’s amazing: if you ask people if they want to learn, they’ll say yes. If you ask what, they’ll tell you what. If you ask them to learn it to teach everyone else by a certain date, you’ll have a lunch-and-learn that everyone can benefit from. I brave all sorts of crazy weather for days where we all get together and it’s _always worth it_ - everyone’s eyes light up when they talk about what they’re learning and what they want to teach others. Watching people’s faces light up like that makes my [heart swell](http://i.giphy.com/bMrvVCPNknxyo.gif). It’s awesome.

- **Created a design club that’s part book-club, part workshops, like the developer lunch-and-learns.** It was just easy pickings after the lunch-and-learns, but all of the things that make me feel warm and fuzzy from developers cross over to the designers too, it’s just the words are different. It’s amazing to watch as people who would normally go to one learning session spill over into the other, excited by that same enthusiasm.

(You may be wondering why I’ve split these up, considering a lot of people consider themselves, well, both. The reasoning is that our developer lunches _do_ get pretty damn technical, and by splitting them up, people are able to attend what really interests them.)

- **Created a [tiny bash script](https://gist.github.com/helenvholmes/04a8c2bc909ffcd8334b) that sparked an idea for a new open source project from the [Jekyll team](https://github.com/jekyll/jekyll-compose).** This is mostly here for posterity; those guys are my heroes and having that happen was really cool.

* * *

### Technical Goals

- **Worked with a variety of new tools**. Some of these I had worked with a little but not extensively as I have over the past few months:
  - Angular
  - Node
  - Express
  - Mongo
  - SocketIO
  - SIOSocket
  - JSONParse
  - Xcode
  - Arduino
  - Swift
  - Objective-C
  - Cocoapods
  - Interoperability (re: last four)
  - Circuits
  - Breadboards
  - Vim

Overall: still wouldn’t say I’m an expert with any of these technologies. If anything, I’m further than being an expert at anything than I ever have been; a great number of my friends have been honing their crafts and getting _very_ good at certain things, good enough to go to conferences and teach people and kick ass in general. I feel like I’m running in the opposite direction, for better or worse. *I’ve gotten very good at hacking shit together*. This can be a source of grief for me personally; I both love creating proofs of concept that make people imagine the future but I also get scared of ever improving technically as fast as I feel I should. Being a young developer, feeling adrift can sometimes induce real panic and frustration.  

- **Wrote some production code**. Since I’m a prototyper this isn’t technically what I’m supposed to be doing on any given day, but it’s been fun to be able to jump in and support teams when required because my breadth of things has allowed for it.

- **Started writing Swift/doing iOS development.** I know this has been on the laundry list of tools above but this one is _really, really_ big for me. Xcode’s been one of those things that is Just Scary™ and falls to the backlog of Things I Want To Learn. When the opportunity arose at work to create an app, I jumped at it, and so far have managed to keep my head above water, working with [JSON](https://twitter.com/helenvholmes/status/570335530610593794) and [notifications](https://twitter.com/helenvholmes/status/570298098649575424) and creating an internet of things. Weirdly, it’s been the push I needed to go from feeling like an imposter to being a damn powerhouse. (That, and probably all the [Ye I’ve been listening to.](https://play.spotify.com/track/1ce3DvvGQn6hY2LMGMLCr5)) I still end up in plenty of conversations where I don’t understand things, but like my Uncle told me: “You don’t understand those things… yet.”

* * *

### Tiny Things That Were Big for Me

- **Carried on a complete conversation in Spanish in an airport with a woman from Peru**. No matter how good I get at Spanish, I still get incredibly nervous speaking it around people who I don’t know, or with whom I normally speak English. It’s always a little easier with strangers and the rewards are so high: I become the American who let them have a little bit of their home come off their tongue. Chasing that feeling is definitely a goal for this year.

- **I got really good at keeping my apartment clean**. I never feel embarrassed about having guests over. It’s always clean. Mostly as a result of just doing a little every day, which is [neat](http://helenvholmes.com/gifs/ho%20ho%20ho/kermit-thinks-youre-an-idiot.gif).

* * *

### Things I’m Incredibly Grateful for That I’d Like to Keep Going

- **Made high quality friends.** I really fucking like the people I work with at my job. I’ve worked places where I’ve been pretty ambivalent about the people I work with for the most part and I’m so glad that isn’t the case here. FED Crew, you know who you are. Yous da real MVPs. 

- **Met a ton of great people.** Traveling really tires me out but damn if it ain’t nice to look back on. Since coming here I’ve met some really fascinating blokes and ladies and Twitter’s made the whole world feel a little bit smaller from my tiny corner in Charlottesville, Virginia. (Being millennium kids means we’ll always get to think the internet is amazing. That in and of itself is the best.)

- **Did all my thank-you notes from Christmas before January 1st**. Balled so hard I’m about to run out of stationery. You feel me? But in all seriousness, I’ve been writing a lot of letters which has been nice. Would like to keep that up, maybe even making it a weekly goal.

And, weird as it is to pat myself on the back for this: my commute’s still as bad as it was when I was in school (two to three hours a day). This has contributed to me being able to [read a lot of books these past five months](https://www.goodreads.com/user/show/11675850-helen) but honestly, commuting isn’t fun, and it takes those hours out of your day in a way that’s irretrievable.

* * *

### Plans, Goals

This part is sort of hard for projects. All of the projects I’ve talked about above have follow-up work associated with them (you can always make something better, right?). I also think that goals should be somewhat unwieldy, and these next three for me are just that:

- **I’d like to write a book.** Actually, scratch that, I’ve started writing a book. Weirdly, it has nothing to do code. My biggest hinderance here is that since it contains a lot of personal anecdotes that involve my family I can’t even talk about publishing it until their circumstances have changed. (It would be unsafe to publish it at the moment.) It’s the kind of thing where if all goes well, this sort of guide won’t even be needed: [the history instigating it will null its very existence](http://www.vox.com/2014/11/20/7250255/immigration-reform-obama-executive-action).

- **I’d like to get serious about open source.** This sounds vague, so let me explain. I’d like to be one of the top contributors on a big open source project or create one of my own. My biggest hinderance here is part apathy (who doesn’t want to just chill out once they get out?) and part imposter syndrome (am I really good enough to contribute to anything?). Weirdly, I think that part of my problem is that I’m not analytical enough of how the tools I use ever day are failing me; if they are, then I switch or find workarounds without blaming the software I use because hey: [software’s hard](http://stilldrinking.org/programming-sucks). I get it. Thanks for making stuff for us, men and women of the internet. But being analytical is the sort of thing that helps find bugs and make products better, so I’m determined to start doing so more consistently. I’ll find you, project that interests me.

- **I’d like to translate [a book](http://www.amazon.fr/Css3-Pratique-du-design-web/dp/2212140231?&tag=rnwap-20).** Happily I have a partner in [crime on this one](https://twitter.com/kapunahele). Learning languages in high school and in my first two years of college was a huge part of my life (I juggled three all at the same time). It frustrates me that I no longer practice my French or Spanish regularly, and this is an attempt to change that. I have no intentions of open sourcing this work, and here’s why: Hugo Giraudel deserves to make money.

- **I’d like to keep my Internet of Things hacking going.** Happily, work is making this easy, but I have a few product ideas I’d like to pursue in my own time too. Working on hardware interacting with websites interacting with phone apps interacting with watch apps - oh boy! When people say they want to make cool shit, _this is the stuff they’re talking about_. This sort of ties into point two above: I’d like to chronicle working on these projects (except for the work ones, of course) - design, code, ideation, everything. And hopefully get to contribute back to some cool open-source tools along the way.

* * *

### Technical Goals

This section is always easy. On anything iOS related, I have a big ol’, “I’d like to learn more about that stuff, please.” More specifically I’d love to learn more about Storyboards, design patterns, and if I’m putting the right things in the right places. I’m planning on going through the [Stanford course](https://itunes.apple.com/us/course/developing-ios-8-apps-swift/id961180099) to do that, especially now that I’ve started coding without it. 

Since I’ve committed myself somewhat to [MEAN stacks](https://github.com/meanjs/mean) (sans the Angular), I’d like to get a better grasp on Mongo. So far I haven’t had any projects that store data of any kind and it’s driving me crazy that I have such a huge gap in my knowledge. I’m a programmer who doesn’t understand databases. Um, available for hire? 

Those other two technologies could certainly use some bolstering up as well: I do not take advantage of a lot of the system-level stuff that Node provides and still feel that I'm at a copy-and-paste level when it comes to some of the more complicated things I’m trying to accomplish, which frustrates me. I’d like to remedy that. In regards to Express I have some of the same frustrations as with Swift: I don’t understand the design patterns of it well enough, I don’t understand how to scale it, and all of these are are inherent to readable, clean code. Which is all I want from anything, really.

* * *

### Community Goals

- **I’d love to see FED Day/Design Club grow beyond me**. What I mean by this is that I want the people participating to take ownership of it so that I can just participate. Happily, this is already sort of happening and I don’t think I will be required to do much to make this happen; in the future, I’m envisioning that my role be ordering food and setting the time and date - eventually, I might not even be doing those two things. 

- **I’d love to get official code reviews started among the prototypers.** If this sounds strange to you, it’s because it is. At work we don’t have to write production code and we’re all split up by LOB in a way that makes it hard to give code reviews (not to mention that we’re all trying to accomplish different things). I’d like to create a system where it’s just a Thing We Do, as I think it’s important for my own and everyone else’s growth around me. The unfortunate reality of the matter is that Capital One is still working to hire older development talent on the design crew and these things take time. But hey, what’s life if not tackling problems beyond you.

- **I’d like to get mentorship meetings started throughout the design group.** I’d like to create a community where designers, product owners, managers, and anyone else trying to teach themselves code can come and get some help. Office hours for anyone who’s curious, that sort of thing.

- **I’d like to start speaking and blogging more regularly.** I enjoy going to conferences but can sometimes be frustrated that I’m not learning enough at them - I think that speaking will help elevate that feeling, and blogging more is just for myself. I've been surprised at how many times I've been able to help someone out with a problem because _Hey! I remembered to blog about that immediately after I did it!_

* * *

### Other Small Goals

- **I’d like to get to the gym more regularly**. See: insane commute. In all honesty I could be much worse but I get lazy and have trouble spots that prevent me from seeing progress. My plan is to ease up on the cardio and do more weight training, see how that goes. 

- **I’d like to go on more date nights with Brian.** We’ve been working really hard, but it’s definitely affected how much we hang out. Sort of silly; who are we working this hard for if not each other?

Here’s to a renewed sense of purpose in 2015! (At whatever month we damn well please.)

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}