---
file: 14-12-nslogs
title: NSLogs
date: December 2014
imageClass: orb
description: Logging variables
url: nslogs
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>So, you want to log a variable, do you?</p>

    <p><code>NSLog(@"%@", rfduinoManager);</code></p>

    <p>For whatever reason, <code>NSLog</code> needs that string <code>"%@"</code> before you can log what you wanted in the first place. You're real fun, Objective-C.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}