---
file: 14-10-convergeva
title: ConvergeRVA Notes
date: October 2014
imageClass: orb
description: ConvergeRVA 2014, Convergerva.com
url: convergeva
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <h2>Designers Can Open Source</h2>

    <h3>Garth Braithwaite, @GarthDB</h3>

    <ul>
      <li>Open Source software, how it affects design<li>
      <li>As designers, we’re trying to solve problems, like developers</li>
      <li>Adopt practices of open source development, we can adapt faster</li>
      <li>Better collusions of ideas</li>
    </ul>

    <blockquote>“Designers are the most overworked group of people I know of in this industry.”</blockquote>

    <h3>So, how?</h3>

    <ul>
      <li>Open source software for everybody! Er, maybe not</li>
      <li>Actually blog about your process</li>
      <li>Share your source files</li>
      <li>Use code as a design tool</li>
      <li>“Designers are often guilted to learn to code.”</li>
      <li>Not trying to do that</li>
      <li>"Don’t be the designer that codes, be the designer with the bigger tool box.”</li>
      <li>It’s easier to collaborate with code than design.</li>
      <li>Collaborate! Find a designer you’d like to work with.</li>
      <li>Don’t break each other down, but talk through problems.</li>
      <li>Donate! If you have useful things, friggin’ open-source it. If the client didn’t like it, give it away.</li>
      <li>Contribute. Even if you can’t use git, developers will work with you.</li>
      <li>To work collaboratively with designers, you need to work with other designers.</li>
      <li>HOLY SHIT I WANT TO CONTRIBUTE TO BROWSERIFY OR SOMETHING ELSE. IT WILL BE FUN.</li>
      <li>Don’t let pride, fear of committee, tooling, file formats, lack of desire, or unreasonable greed get in the way of being happy and sharing.</li>
      <li>A Humble Manifesto:</li>
        <li>designopen.org, @designopen</li>
        <li>You should contribute!!</li>
      <li>Designers can open source, and we should.</li>
      <li>Everyone needs to make money, so worry about that before coding :)</li>
    </ul>

    <h2>Single page applications. A general overview.</h3>

    <h3>Tiffany France, @tiffanylou</h3>
    <ul>
      <li>?? She works at C1? I should talk to her/>???</li>
      <li>Angular, KnockoutJS</li>
      <li>a web application, single web page, desktop app-like experience</li>
      <li>I SHOULD TALK TO HER ABOUT MICHAEL WARREN AND GIVING THE INTERNAL TALK ON THIS</li>
      <li>Latency: how long does it take to load? How long does it take the user to accomplish what they want to do?</li>
      <li>half a second caused a 20% drop in traffic at Google loading 30 results instead of 10</li>
      <li>Amazon, Shopzilla: all did speed tests</li>
      <li>It was a direct correlation to revenue in most causes. Users respond to speed</li>
    </ul>

    <h3>So, SPAs + Latency?</h3>
    <ul>
      <li>offset server work to client</li>
      <li>selectively load page fragments</li>
      <li>arguably, it helps if you never leave your presentation, or that transition is really smooth</li>
      <li>predict users' next actions</li>
      <li>use localStorage to remember users' actions</li>
      <li>reduce load time with templates</li>
      <li>AJAX for tasks, like signing up for emails</li>
      <li>localStorage: preload data for faster experience</li>
      <li>Quick Mobile Apps: offline apps</li>
      <li>lack of page refreshes and dump it into PhoneGap. <a href="http://goo.gl/O3HTaa" target="_blank">Tutorial</a></li>
    </ul>


    <h2>Nick Wilson, @@TheHalfandHalf</h2>
    <ul>
      <li>Analog Research Lab</li>
      <li>Make posters, books, stickers, etc. for internal stuff</li>
      <li>Make beautiful fucking shit</li>
      <li>The 10 Commandments of Transit, <a href="http://www.transitcommandments.com/" target="_blank">Transit Commandments</a></li>
    </ul>

    <h2>The Power of Side Projects</h2>

    <h3>Matt Keas, @matthiasak</h3>
    <ul>
      <li>Leverage them to make your day job better.
      <li>No boss. You can choose your own challenges</li>
      <li>Build the skills you need</li>
      <li>"Adapt what is useful, reject what is useless, and add what is specifically your own."</li>
      <li>Progression of Mastery: learning something very deeply. Specialization.</li>
      <li>Keys to Survival: respect your own damn time.</li>
      <li>Turn on do-not-disturb.</li>
      <li>Documents things. When things work, he documents them. When they don't, he documents them.</li>
      <li>I like the idea of reading everything, and publishing notes on them</li>
      <li>Publishing your thoughts on articles</li>
      <li>Publishing your attempts to solve problems even if you don't understand <em>why</em> they worked or didn't</li>
      <li>Next idea: talking about designing something that's super, super ugly</li>
      <li>Saying no to design work, which feels weird</li>
    </ul>

    <h2>Making Musical Instruments & Music also My Successful Kickstarter (+ a live performance)</h2>

    <h3>Moldover, @moldover</h3>
    <ul>
      <li>He's singing
      <li>You can use software to make music</li>
      <li>this was bizarre and very cool</li></ul>
    </ul>

    <h2>Design Rebel</h2>

    <h3>Noah Scalin, @NoahScalin</h3>
    <ul>
      <li>Ethics into action for design
      <li>You won't make a lot of money or even a living in the beginning, but you shouldn't have to choose between your ethics and your work</li>
      <li>On your deathbed, will you be happy you sold crap to people?
      <li>Are you the gun (killing) or the megaphone (getting ethics across)?</li>
      <li>Make a commitment to yourself to do an action</li>
      <li><a href="alrdesign.com/resources">Resources</a></li>
      <li>Working with your hands is important. You shouldn't start on the computer.</li>
      <li>We talked about this all the time in school, but most designers don't do this</li>
      <li>Nick saying in SF that they were having this problem: all the designers wanted to start high fidelity</li>
      <li>It takes a long time to have a good idea, and you have to shift through a lot of shitty ones because you even have that first grain of a good idea. Might as well do all that shit on paper.</li>
      <li>It's bizarre to be that creative but to be scared of paper</li>
      </ul>

    <h2>The Wordless News Creation Process</h2>

    <h3>Maria Fabrizio, @StudioRia</h3>
    <ul>
      <li>Another sketch-a-day project
      <li>Illustrations for news stories every day</li>
      <li>Sometimes there's nothing good, or... nothing, or only negative</li>
      <li>She wakes up mad early</li>
      <li>Is waking up this early the secret to success or something?</li>
      <li>Grrr</li>
    </ul>

    <h2>The Journey Not The Destination</h2>

    <h3>James White, @signalnoise</h3>
    <ul>
      <li>Showed all of his old, <em>old</em> drawings. It's pretty awesome to see this stuff.
      <li>Like me with Pokémon</li>
      <li>Photoshop + Illustrator, same tools</li>
      <li>Like everyone else, does cool stuff, gave us his life story, made us laugh, but I haven't really learned anything</li>
      <li>Don't lose sight of the things you wanted to do as a kid that were ridiculous</li>
    </ul>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}