// Links

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: darken($brand-primary, 10%);
    background-image: linear-gradient(to bottom, $brand-primary 50%,$brand-primary 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
  }

  &:visited {
    color: darken($brand-primary, 10%);
  }

  &:active {
    color: darken($brand-primary, 10%);
  }
}