// Links

$color-text:        #333332;
$color-background:  #fff;
$color-selection:   #b4d5fe;

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    @include link-underline(white, $brand-primary, $color-selection);
  }

  &:visited {
    color: darken($brand-primary, 10%);
  }

  &:active {
    color: darken($brand-primary, 10%);
  }
}