// Links

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: darken($brand-primary, 10%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 95%;
    transition: all 0.5s ease;
  }

  &:visited {
    color: darken($brand-primary, 10%);
  }

  &:active {
    color: darken($brand-primary, 10%);
  }
}