<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="http://helenvholmes.com/index.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Helen V. Holmes</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Random letter from a random person",
        "datePublished": "2016-04-27T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <!-- offline -->
    <!-- <script async src="/javascripts/v0.js"></script> -->

  <body>
    {% block content %}{% endblock %}

    <div class="letter-footer-nav">
      <a href="/" class="first">Stop reading</a>
      <div class="ornament"></div>
      <a href="/letters/random" class="second">Read another</a>
    </div>

    {% include "partials/footer.html" %}
  </body>
</html>