{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/home/home.css">
  <script src="http://localhost:8097/"></script>

  <div class="container">
    <div id="explosion">
      <ul id="domExplosionList">
        <li class="item dei-1 line line-1"></li>
        <li class="item dei-2 line line-2"></li>
        <li class="item dei-3 line line-3"></li>
        <li class="item dei-4 line line-4"></li>
        <li class="item dei-5 line line-5"></li>
        <li class="item dei-6 line line-6"></li>
        <li class="item dei-7 line line-7"></li>
      </ul>
    </div>

    <div class="moi"></div>

    <section class="who-is-helen">
      <h1>Helen V. Holmes</h1>
      <p>is a designer working happily out of her small home office in her small town home. She’s had the privilege of working with brands such as <a href="https://heroku.com/" target="_blank">Heroku</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>, and <a href="https://github.com/" target="_blank">Github</a>. She’s given talks at <a href="/speaking">design, web, and iOS conferences around the world</a> about how design and code can come together to build really beautiful experiences. When she’s not researching or writing about the design and the web, she <a href="/writing">writes</a>.</p>

      <p>Business inquiries can be made at <a href="mailto:helen.v.holmes@gmail.com">helen.v.holmes@gmail.com</a>. <strong class="bio-link"><a href="/lets-work-together">Let's work together <span class="hand">☛</span></a></strong></p>
    </section>

    <section class="writing">
      <p>A smattering of her writing:</p>

      <div class="mad-men">
        <svg viewBox="0 0 959 678" xmlns="http://www.w3.org/2000/svg">
          <g fill-rule="evenodd">
            <path d="M570 0h40v677.309h-40zM485 0h80v677.309h-80zM322 0h160v677.309H322zM0 0h320v677.309H0zM620 0h20v677.309h-20zM660 0h10v677.309h-10zM710 0h5v677.309h-5zM795 0h3v677.309h-3zM958 0h1v677.309h-1z"/>
          </g>
        </svg>
        <h1><a href="/writing/the-things-we-own">The Things We Own</a></h1>
        <em>Cleaning up after someone's gone</em>
      </div>

      <div class="additional-articles"></div>

      <div class="the-future">
        <h1>
          <a href="/writing/the-future-of-wearables">
            The future of 
            <br />wearables
          </a>
        </h1>
        <em>No more telemarketers need call, please.</em>
      </div>

      <div class="the-future">
        <h1>
          <a href="/writing/the-future-of-wearables">
            The future of 
            <br />wearables
          </a>
        </h1>
        <em>No more telemarketers need call, please.</em>
      </div>
    </section>

    <section class="speaking">
      <p>She’s given talks all over the world, the following being her latest. If you’re organizing a conference where you think she would be a good fit feel free to <a href="/speaking">learn more</a> and <a href="mailto:helen.v.holmes@gmail.com">reach out</a>.</p>

      <div class="youtube">
        <iframe width="100%" src="https://www.youtube.com/embed/emLfXChvVPQ?rel=0" frameborder="0" allowfullscreen id="youtube-video"></iframe>
        <img src="/images/home/youtube.jpg" id="youtube" />
      </div>
    </section>

    <section class="hobbies">
      <p>She provides a multitude of design services including hardware product design, UI engineering for both web and iOS products, UX design, video editing, among others. If you’re not certain, <a href="mailto:helen.v.holmes@gmail.com">reach out</a>. If you’re intrigued, <a href="/lets-work-together">let’s see if we should work together</a>.</p>

      <img src="/images/home/devtools-pin.jpg" class="devtools-pin" />
    </section>

    <section class="third-person">
      <p>Oh thank god, you’re here.</p>

      <p>I’m so tired of writing in the third person.</p>

      <p><a href="/writing">Read something?</a></p>
    </section>
  </div>
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = 'https://cloud.typography.com/6668652/730364/css/fonts.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
{% endblock %}