@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

// Homepage

.moi {
  margin-top: 4%;
  margin-left: 3%;
}

.who-is-helen {
  background-color: white;
  margin-left: 10%; 
  margin-top: -8%;
  padding: 2%;
  padding-top: 0.15%;
  width: 50%;
  position: relative;
}