@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

// Homepage

.moi {
  background-attachment: fixed;
  background-image: url("/images/home/esta-bien.jpg");
  background-position: left top;
  background-size: contain;
  height: 300px;
  width: 100%;

  @include media($nine-col) {
    background-size: auto 77%;
    background-position: left top;
    height: 517px;
    margin-left: 3%;
    margin-top: 3%;
    width: 1017px;
  }
}

.who-is-helen {
  background-color: white;
  margin-left: 8%;
  margin-top: -8%;
  padding: 2%;
  position: relative;
  width: 81%;

  @include media($nine-col) {
    margin-left: 10%;
    width: 50%;
  }

  h1 {
    font-size: $h1-font-size * 1.5;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 3%;
  }
}

.writing, .speaking {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20%;
  position: relative;

  p {
    width: 65%;
    margin-left: 15%;
    margin-bottom: 10%;

    @include media($nine-col) {
      margin-bottom: 5%;
      margin-left: 50%;
      width: 30%;
    }
  }
}

.bio-link a {
  color: $brand-gray-accent;
  background-image: linear-gradient(transparent, transparent);
  transition: all 0.25s ease;

  &:hover {
    color: $brand-gray-dark;
    background-image: linear-gradient($brand-gray-dark, $brand-gray-dark);
  }
}

.hand {
  display: inline-block;
  padding-left: 2px;
}

.youtube {
  cursor: pointer;
  position: relative;
  height: 315px !important; // exact size as youtube iframe
  margin: 0 auto 10% auto;
  width: 100%;

  @include media($nine-col) {
    width: 560px; // exact size as youtube iframe
  }

  img {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    
    @include media($nine-col) {
      height: 315px; // exact size as youtube iframe
      width: 560px; // exact size as youtube iframe
    }
  }

  iframe {
    z-index: 0;
  }
}

.mad-men {
  align-items: center;
  cursor: pointer;
  display: flex;
  fill: $brand-primary;
  flex: 0 1 100%;
  position: relative;
  transition: fill 0.25s ease;

  &:hover {
    svg {
      animation: red-to-blue 8s linear infinite;
    }
  }

  svg {
    fill: $brand-primary;
    left: 0;
    position: absolute;
    top: 0;
    width: 85%;
    z-index: 0;

    @include media($nine-col) {
      height: 675px;
    }
  }

  h1 {
    font-family: $didot;
    font-size: 5em;
    font-style: italic;
    line-height: 1;
    padding: 0 5%;
    margin: 0 auto 5% auto;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    
    @include media($nine-col) {
      font-size: 14em;
      padding: 0 5%;
      line-height: 1.25;
    }

    a {
      color: $brand-black;
      background-image: linear-gradient(transparent, transparent);
    }
  }

  em {
    background-color: white;
    margin-top: 8%;
    display: none;
    position: absolute;
    right: 15%;
    
    @include media($nine-col) {
      display: block;
    }
  }
}

.additional-articles {
  flex: 0 1 100%;
  margin-top: 5%;

  &:before {
    border-bottom: $brand-primary 2px solid;
    border-top: $brand-primary 1px solid;
    content: '';
    display: block;
    height: 7px;
    margin: auto;
    width: 150px;
  }
}

.the-future {
  align-self: center;
  background-color: white;
  clear: both;
  color: $brand-black;
  cursor: pointer;
  flex: 0 1 100%;
  margin-top: 15%;
  position: relative;

  @include media($nine-col) {
    flex: 0 1 40%;
    margin-top: 10%;
  }

  &:hover {
    &::before {
      animation: spin-color 8s linear forwards;
    }
  }

  &::before {
    background-color: $brand-primary;
    content: '';
    display: block;
    height: 200px;
    width: 200px;

    @include media($nine-col) {
      height: 200px;
      width: 200px;
    }
  }

  h1 {
    font-family: $neue-haas-unica, sans-serif;
    font-size: $h1-font-size;
    font-style: normal;
    font-weight: $extra-bold-weight;
    line-height: $base-line-height;
    margin-left: 25px;
    margin-top: -50%;
    position: relative;
    text-align: center;
    text-transform: capitalize;

    @include media($nine-col) {
      margin-left: 100px;
      margin-top: -13.5%;
      text-align: left;
    }

    a {
      background-image: linear-gradient(transparent, transparent);
      color: $brand-black;

      &:hover {
        color: $brand-black;
      }
    }
  }

  em {
    position: relative;
    font-family: $calendas-plus;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: -25px;

    @include media($nine-col) {
      margin-left: 120px;
      text-align: left;
      top: -110px;
    }
  }
}

.hobbies {
  margin-bottom: 60%;
  margin-top: 15%;

  p {
    float: left;
    background-color: white;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 6%;
    position: relative;
    width: 60%;

    @include media($nine-col) {
      margin-left: 20%;
      width: 30%;
    }
  }
}

.devtools-pin {
  float: right;
  width: 40%;
}

.third-person {
  background-color: white; 
  clear: both;
  margin: 125% auto 10% auto;
  position: relative;
  width: 65%;

  @include media($nine-col) {
    margin: 10% auto;
    width: 30%;
  }
}