{% extends 'layout.html' %}

{% block content %}
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = '//cloud.typography.com/6668652/681922/css/fonts.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/home/home.css">

  <div class="container">
    <div id="explosion">
      <ul id="domExplosionList">
        <li class="item dei-1 line line-1"></li>
        <li class="item dei-2 line line-2"></li>
        <li class="item dei-3 line line-3"></li>
        <li class="item dei-4 line line-4"></li>
        <li class="item dei-5 line line-5"></li>
        <li class="item dei-6 line line-6"></li>
        <li class="item dei-7 line line-7"></li>
      </ul>
    </div>

    <div class="moi"></div>

    <section class="who-is-helen">
      <h1>Helen V. Holmes</h1>
      <p>is a designer working happily out of her small home office in her small town home. She’s had the privilege of working with brands such as <a href="https://www.capitalone.com/" target="_blank">Capital One</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>, and <a href="https://hagersharp.com/" target="_blank">Hager Sharp</a>. She’s given talks at <a href="/speaking">design, web, and iOS conferences around the world</a> about how design and code can come together to build really beautiful experiences. When she’s not researching or writing about the design and the web, she <a href="/writing">writes</a>.</p>

      <p>Business inquiries can be made at <a href="mailto:helen.v.holmes@gmail.com">helen.v.holmes@gmail.com</a>. <strong class="bio-link"><a href="/about">Read full bio <span class="hand">☛</span></a></strong></p>
    </section>

    <section class="writing">
      <p>A smattering of her writing:</p>

      <div class="mad-men">The Things We Own</div>

      <div class="additional-articles"></div>

      <div class="the-future">
        <h1>
          <a href="/writing/the-future-of-wearables">
            The future of 
            <br />wearables
          </a>
        </h1>
        <em>No more telemarketers need call, please.</em>
      </div>
    </section>

    <section class="speaking">
      <p>She’s given talks all over the world, the following being her latest. If you’re organizing a conference where you think she would be a good fit feel free to <a href="/speaking">learn more</a> and <a href="mailto:helen.v.holmes@gmail.com">reach out</a>.</p>

      <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/emLfXChvVPQ?rel=0" frameborder="0" allowfullscreen id="youtube-video"></iframe>
        <img src="/images/home/youtube.jpg" id="youtube" />
      </div>
    </section>

    <section class="hobbies">
      <p>She also creates and sells small products as a way to have fun at work and on the internet in general. A somewhat more formalized (and what she actually does for her day job) is available <a href="mailto:helen.v.holmes@gmail.com">upon request</a>, although a few public case studies float around among her <a href="/writing">other writing</a>.</p>

      <img src="/images/home/devtools-pin.jpg" class="devtools-pin" />
    </section>

    <section class="third-person">
      <p>Oh thank god, you’re here.</p>

      <p>I’m so tired of writing in the third person.</p>

      <p><a href="/writing">Read something?</a></p>
    </section>
  </div>

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script async src="/javascripts/parallax.js"></script>
  <script async src="/javascripts/youtube.js"></script>
  <script type="text/javascript">
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll >= 10) {
        $(".navigation").addClass("small-nav").removeClass("big-nav");
      } else {
        $(".navigation").addClass("big-nav").removeClass("small-nav");
      }
    });
  </script>
{% endblock %}