/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
.underline {
  text-decoration: underline; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Animations
   Animations not "fancy" enough to merit being put into their own separate app pages.

*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fade-in-and-down {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fade-in-and-down {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade-in-and-down {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes link-underlines {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white; }
  50% {
    border-bottom-color: white;
    border-top-color: indianred; }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: indianred; } }

@-moz-keyframes link-underlines {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white; }
  50% {
    border-bottom-color: white;
    border-top-color: indianred; }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: indianred; } }

@keyframes link-underlines {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white; }
  50% {
    border-bottom-color: white;
    border-top-color: indianred; }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: indianred; } }

@-webkit-keyframes rainbow-colors {
  0% {
    color: #4a90e2; }
  17% {
    color: #60e6e4; }
  34% {
    color: #59e48c; }
  51% {
    color: #e1e570; }
  68% {
    color: #ea886d; }
  85% {
    color: #ea75e3; }
  100% {
    color: #8e7fe8; } }

@-moz-keyframes rainbow-colors {
  0% {
    color: #4a90e2; }
  17% {
    color: #60e6e4; }
  34% {
    color: #59e48c; }
  51% {
    color: #e1e570; }
  68% {
    color: #ea886d; }
  85% {
    color: #ea75e3; }
  100% {
    color: #8e7fe8; } }

@keyframes rainbow-colors {
  0% {
    color: #4a90e2; }
  17% {
    color: #60e6e4; }
  34% {
    color: #59e48c; }
  51% {
    color: #e1e570; }
  68% {
    color: #ea886d; }
  85% {
    color: #ea75e3; }
  100% {
    color: #8e7fe8; } }

@-webkit-keyframes open-up {
  0% {
    background-size: 100% 75%; }
  100% {
    background-size: 100% 100%; } }

@-moz-keyframes open-up {
  0% {
    background-size: 100% 75%; }
  100% {
    background-size: 100% 100%; } }

@keyframes open-up {
  0% {
    background-size: 100% 75%; }
  100% {
    background-size: 100% 100%; } }

@keyframes grow {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes shrink {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em; } }

@keyframes spin-color {
  0% {
    background-color: indianred; }
  20% {
    background-color: #cdcd5c; }
  40% {
    background-color: #5ccd5c; }
  55% {
    background-color: #5ccdcd; }
  75% {
    background-color: #5c5ccd; }
  90 {
    background-color: #cd5ccd; }
  100% {
    background-color: indianred; } }

.letter-nav {
  align-items: center;
  background-color: indianred;
  display: flex;
  height: 12px;
  justify-content: center;
  transition: all 0.3s ease;
  width: 100%; }

.letter-nav a {
  color: white;
  opacity: 0;
  text-decoration: none; }

.letter-nav:hover {
  cursor: pointer;
  height: 30px; }

.letter-nav:hover a {
  -webkit-animation: fade-in-and-down 0.5s ease;
  -moz-animation: fade-in-and-down 0.5s ease;
  animation: fade-in-and-down 0.5s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  color: white; }

.letter {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10%;
  padding: 2% 10%;
  width: 50%;
  min-height: 55vh; }

.letter p {
  -webkit-animation: fade-in-and-down 0s ease;
  -moz-animation: fade-in-and-down 0s ease;
  animation: fade-in-and-down 0s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }

.letter p:first-of-type {
  -webkit-animation: fade-in-and-down 0.75s ease;
  -moz-animation: fade-in-and-down 0.75s ease;
  animation: fade-in-and-down 0.75s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(2) {
  -webkit-animation: fade-in-and-down 0.75s ease;
  -moz-animation: fade-in-and-down 0.75s ease;
  animation: fade-in-and-down 0.75s ease;
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(3) {
  -webkit-animation: fade-in-and-down 0.75s ease;
  -moz-animation: fade-in-and-down 0.75s ease;
  animation: fade-in-and-down 0.75s ease;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(4) {
  -webkit-animation: fade-in-and-down 0.75s ease;
  -moz-animation: fade-in-and-down 0.75s ease;
  animation: fade-in-and-down 0.75s ease;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  animation-delay: 0.45s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(5) {
  -webkit-animation: fade-in-and-down 0.75s ease;
  -moz-animation: fade-in-and-down 0.75s ease;
  animation: fade-in-and-down 0.75s ease;
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  animation-delay: 0.65s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(6) {
  -webkit-animation: fade-in-and-down 0.75s ease;
  -moz-animation: fade-in-and-down 0.75s ease;
  animation: fade-in-and-down 0.75s ease;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(7) {
  -webkit-animation: fade-in-and-down 0.85s ease;
  -moz-animation: fade-in-and-down 0.85s ease;
  animation: fade-in-and-down 0.85s ease;
  -webkit-animation-delay: 0.85s;
  -moz-animation-delay: 0.85s;
  animation-delay: 0.85s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter p:nth-of-type(8) {
  -webkit-animation: fade-in-and-down 0.95s ease;
  -moz-animation: fade-in-and-down 0.95s ease;
  animation: fade-in-and-down 0.95s ease;
  -webkit-animation-delay: 0.95s;
  -moz-animation-delay: 0.95s;
  animation-delay: 0.95s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.letter-footer-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10% 0; }

.letter-footer-nav .ornament::before {
  -webkit-font-feature-settings: "ornm" 7;
  -moz-font-feature-settings: "ornm" 7;
  -ms-font-feature-settings: "ornm" 7;
  font-feature-settings: "ornm" 7;
  color: indianred;
  content: '\0041';
  display: inline-block;
  font-size: 1em;
  margin: 0 2em; }
