@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.featured-article {
  margin: 7% 10% 7% 10%;
  width: 73%;

  p {
    width: 30%;
  }
}

.post {
  &:hover {
    .title {
      &:after {
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-name: grow;
        animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
        background-color: $brand-black; 
        content: "";
        display: block;
        float: right;
        height: 1px;
        margin-top: -8px;
        transform-origin: left;
        width: 100%;
      }
    }

    .post-image {
      border: 1px solid $brand-gray-accent;
    }
  }
}

.blog-posts {
  list-style-type: none;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.outside-link {
  .post-image {
    position: relative;
  }

  .post-image::before {
    @include animation(fade-out-half 0.25s ease);
    @include animation-fill-mode(forwards);

    background: url("/images/outside-link-white.png");
    background-size: contain;
    content: '';
    display: block;
    height: 25px;
    margin-left: calc(50% - 17.5px);
    margin-top: calc(100px - 17.5px); // images have a predefined height
    opacity: 0;
    position: absolute;
    width: 25px;
    z-index: 1;
  }

  .post-image::after {
    @include animation(fade-out 0.25s ease);
    @include animation-fill-mode(forwards);

    background-color: $brand-tertiary;
    border-radius: 3px;
    content: '';
    display: block;
    height: 200px;
    opacity: 0;
    width: 100%;
    z-index: 0;
  }

  &:hover {
    .post-image::before {
      @include animation(fade-in 0.25s ease);
      @include animation-fill-mode(forwards);
    }

    .post-image::after {
      @include animation(fade-in-half 0.25s ease);
      @include animation-fill-mode(forwards);
    }
  }
}

.post {
  background-image: linear-gradient(transparent, transparent);
  color: $brand-black;
  flex: 0 1 30%;
  margin-bottom: 7%;

  &:visited {
    color: $brand-black;
  }

  &:first-of-type {
    flex: 0 1 85%;
    margin: 7% 0 7% 0;

    p {
      width: 30%;
    }
  }

  &:nth-of-type(2), &:nth-of-type(3) {
    flex: 0 1 44%;
    margin-right: 6%;
  }
}

.title-and-date {
  align-items: center;
  display: flex;
}

.title {
  font-size: 3.5em;
  line-height: 1.25;
  margin: 3% 0 0 0;
}

.date {
  color: $brand-gray-accent;
  font-family: $avenir-next;
  font-size: 0.75em;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 40px;
}

.post-description {
  align-items: center;
  display: flex;
}

.tag {
  background-color: $brand-tertiary;
  border-radius: 3px;
  color: white;
  padding: 3px 10px 1px 8px; // fuck Calendas
  margin-left: 5%;
}

/* 3D renders 
   Wow so cool much fance

*/

.post-image {
  background-size: auto 100%;
  border-radius: 3px;
  border: 1px solid $brand-gray-light;
  height: 200px;
  transition: all 0.25s ease;
  width: 100%;
}

.baas {
  background-image: url("/images/partials/writing/baas.jpg");
}

.jungle-gym {
  background-size: auto 150%;
  background-image: url("/images/partials/writing/jungle-gym.jpg");
}

.lightbulb {
  background-image: url("/images/partials/writing/lightbulb.jpg");
  background-size: auto 300%;
  background-position: center 15%;
}

.orb {
  background-image: url("/images/partials/writing/orb.jpg");
  background-size: auto 220%;
}

.printing-press {
  background-size: auto 200%;
  background-position: center 50%;
  background-image: url("/images/partials/writing/printing-press.jpg");
}

.splash {
  background-image: url("/images/partials/writing/splash.jpg");
}

.spiral {
  background-size: auto 125%;
  background-position: center 100%;
  background-image: url("/images/partials/writing/spiral.jpg");
}

.words {
  background-image: url("/images/partials/writing/words.jpg");
}