{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/writing.css">

  <ol class="letters-lot">
    {% for longFormTitle in longFormTitles %}
      {% if longFormTitle == "type-is-your-right" %}
        <a href="/writing/{{ longFormTitle }}">
          <li>{{ longFormTitle | replace("-", " ")}}!</li>
        </a>
      {% elif longFormTitle == "baas" %}
        <a href="/writing/{{ longFormTitle }}">
          <li>{{ longFormTitle | replace("-", " ")}}</li>
        </a>
      {% else %}
        <a href="/writing/the-{{ longFormTitle }}">
          <li>The {{ longFormTitle | replace("-", " ")}}</li>
        </a>
      {% endif %}
    {% endfor %}
  </ol>
{% endblock %}