{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/writing.css">

  <ul class="blog-posts">
    <li class="featured-article">
      <div class="lightbulb"></div>
      <h1>The New Age Madmen</h1>
      <span class="date">January 2017</span>
      <p>Tech, women, and other shit no one particularly wants to talk about</p>
      <span class="tag">Featured</span>
    </li>
    {% for longFormTitle in longFormTitles %}
      {% if longFormTitle == "type-is-your-right" %}
        <a href="/writing/{{ longFormTitle }}">
          <li>{{ longFormTitle | replace("-", " ")}}!</li>
        </a>
      {% elif longFormTitle == "baas" %}
        <a href="/writing/{{ longFormTitle }}">
          <li>{{ longFormTitle | replace("-", " ")}}</li>
        </a>
      {% else %}
        <a href="/writing/the-{{ longFormTitle }}">
          <li>The {{ longFormTitle | replace("-", " ")}}</li>
        </a>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}