@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.letters-lot {
  font-size: $h3-font-size;
  line-height: 3;
  list-style-type: none;
  padding-left: 0;
  text-transform: capitalize;
  width: 80%;

  @include media($nine-col) {
    padding: auto;
    width: 60%;
  }

  a {
    color: $brand-gray-dark;
    transition: color 0.5s ease;

    &:hover {
      background: transparent;
      color: darken($brand-gray-dark, 15%);
    }
  }

  li {
    border-bottom: 2px solid $brand-gray-dark;
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
    width: 100%;
    outline-offset: 15px;

    &::before {
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: width 0s ease, background .5s ease;
      width: 0;
    }

    &::after {
      background: $brand-gray-dark;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      right: 0;
      transition: width .5s ease;
      width: 0;
    }

    &:hover {
      &::before {
        background: $brand-gray-dark;
        transition: width .5s ease;
        width: 100%;
      }

      &::after {
        background: transparent;
        transition: all 0s ease;
        width: 100%;
      }
    }
  }
}