---
file: 14-02-reset-ssh-keys-for-github
title: Reset SSH Keys for Github
date: February 2014
imageClass: orb
description: When you reset your password, do this
url: reset-ssh-keys-for-github
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>To access stuff within our VPN at work we have to reset our passwords every 90 days, which often messes me up for a few hours. One such instance is with Github.</p>

    <p>Ugh, god damn it.</p>

    <p>Easiest way to deal with this is by just deleting your old SSH keys instead of doing anything fancy. You can do this with Mac's Keychain Access.</p>

    <p>Delete the appropriate key, and then next you try to push it will ask you for your username and password, and generate a new key for you until you have to reset your password again.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}