.header {
  align-items: center;
  border-bottom: 1px solid $brand-primary;
  display: flex;
  flex-wrap: wrap;
  font-family: $sans-serif;
  height: 120px;
  padding: 0 5%;

  @include media($nine-col) {
    height: 80px;
  }

  .name {
    flex: 0 1 50%;

    a {
      color: $brand-black;
      font-family: $serif;
      font-size: $h5-font-size;
      font-weight: $light-weight;
      margin: 0;

      &:hover {
        @include link-underline(white, $brand-black, $brand-primary);
      }

      @include media($nine-col) {
        font-size: $h4-font-size;
      }
    }
  }
}

.navigation {
  display: flex;
  flex: 1 1 auto;

  .nav-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    flex-wrap: nowrap;
    flex: 1 1 auto;
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: $semibold-weight;
    justify-content: space-between;
    letter-spacing: 0.4px;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
  }
}