@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/animations';

.header {
  align-items: center;
  display: flex;
  font-family: $sans-serif;
  height: 120px;
  padding: 0 10% 0 9%;
}

.name {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  flex: 0 1 70%;

  a {
    color: $brand-black;
    font-family: $serif;
    font-size: $h5-font-size;
    font-weight: $light-weight;
    // margin: 0;
    padding: 1% 0 1% 1%;
    display: block;
    position: relative;
    width: auto;

    $color2: $brand-primary;
    $color: peru;

    &:hover {
      animation: blinds 0.75s linear forwards;
      background: linear-gradient(0deg, $color 25%, transparent 25%) 0 0 / 0.5em 0.5em
                , linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
      color: adjust-hue($brand-gray-accent, 180);
    }

    @include media($nine-col) {
      font-size: $h5-font-size;
    }
  }
}

.navigation {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  display: flex;
  flex: 1 1 auto;
}

.nav-items {
  display: flex;
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 1 1 auto;
  font-size: 0.8em;
  font-weight: $semibold-weight;
  letter-spacing: 0.05em;
  list-style-type: none;
  text-align: right;
  text-transform: uppercase;
  margin-left: 50px;

  @include media($nine-col) {
    margin: 0;
  }
}

.hover-left::after {
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: grow;
  animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
  background-color: $brand-primary;
  content: "";
  display: block;
  height: 1px;
  float: right;
  transform-origin: left;
  width: 70%;
}

.hover-out-left::after {
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: shrink;
  animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
  background-color: $brand-primary;
  content: "";
  display: block;
  height: 1px;
  float: right;
  transform-origin: left;
  width: 70%;
}

.hover-right::after {
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: grow;
  animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
  background-color: $brand-primary;
  content: "";
  display: block;
  height: 1px;
  float: right;
  transform-origin: right;
  width: 70%;
}

.hover-out-right::after {
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: shrink;
  animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
  background-color: $brand-primary;
  content: "";
  display: block;
  height: 1px;
  float: right;
  transform-origin: left;
  width: 70%;
}