.navigation {
  border-bottom: 1px solid $brand-primary;
  display: flex;
  padding: 3% 6%;

  @include media($nine-col) {
    padding: 1% 10%;
  }

  .name {
    @include flex(1 1 100%);

    font-size: 1.25em;
    margin-top: 0.25em;

    @include media($nine-col) {
      @include flex(1 1 10%);

      margin-top: 0.95em;
    }
  }

  ul {
    background-color: $brand-primary;
    display: block;
    float: right;
    height: 2px;
    width: 10px;
    position: relative;

    @include media($nine-col) {
      height: auto;
      width: auto;
    }

    &::before, &::after {
      background-color: aqua; 
      content: 'um hi';
      display: block;
      height: 2px;
      position: absolute;
      margin-bottom: 1%;
      margin-top: 1%;
    }
  }

  li {
    @include flex(1 1 0);

    // display: none;
    float: left;
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: $semibold-weight;
    letter-spacing: 0.4px;
    list-style-type: none;
    margin-left: 15px;
    text-transform: uppercase;

    @include media($nine-col) {
      @include flex(1 1 auto);

      display: block;
      margin-left: 30px;
    }
  }
}