---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: Latinos, Blacks, and Other People Of Color in Tech
description: A brief write-up on why I care and you should too
tags: [inclusivity]
---

I got told more than once at South By this year that it was ‘cool’ that I cared so much about diversity in tech. I can only assume I get such responses to my postulations because I am really, really white. 

That people feel the need to point this out to me and praise me for it makes me pretty sad. I know some only look out for others so far as it protects themselves - meaning, as a white woman, it’s expected that I’ll only care about diversity so far as it means letting white women into the locked doors of tech. But I _don’t_ feel that way, and most of my reasons for that are reasons that I believe others should be able to get behind as well.

- _Diversity helps the bottom line._ As ugly as it is that we put so much weight on this particular fact, this is all many executives care about so I always feel pressured to include it. When Cristian Deszö of University of Maryland and David Ross of Columbia University studied the effect of gender diversity in large companies they found that “female representation in top management leads to an increase of $42 million in firm value”, as quoted in the [Scientific American](http://www.scientificamerican.com/article/how-diversity-makes-us-smarter/). This leads us to our second point, which is that:

- _Diversity creates better products._ When you have the exact same group trying to solve problems all the time, you end up with the same solutions to the same problems. [Tracy Chou](https://twitter.com/triketora) put it perfectly in one of the [SXSW panels](http://schedule.sxsw.com/2015/events/event_IAP42552) when she said that, “When you have a bunch of white men in their 20s in the Bay Area creating apps you end up with 30 laundry solution apps.” (A paraphrase, excuse me if there are inaccuracies.) People from different backgrounds and viewpoints alert you to problems you couldn’t have anticipated and solutions you couldn’t have seen. Diversity gives you information wealth.

- _Inclusivity is about making comfortable environments for everyone, not just the few._ Advocating for latinos and blacks in tech in many ways aligns with my goals as a feminist. Creating platforms for people of color to succeed in tech creates platforms for women to succeed as well. Creating comfortable environments for people of color means creating comfortable for women. They map really, really well to each other, to the point where it just makes sense to fight for both.

- _I have real names and faces to put to the problem._ My husband is hispanic and in tech. My little sister is in tech. They’re the reason I started to care but they’re only part of the reason I still care. Breaking down the barriers I see in tech is partially to make tech a better place for them and partially to make tech a better place for the sisters and husbands and brothers and mothers of everyone else. I am blessed with a job that keeps me engaged, happy, and paying the bills. I don’t want racism and sexism to push me or anyone else out of the industry before they’re ready to leave.

- _I consider it a duty._ And if you’re reading this, I hope that you will too. As a feminist, I want men to fight for my rights too. For that reason I want to fight for people of color.

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}