/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
@font-face {
  font-family: NeueHaasUnica;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NeueHaasUnicaW1G-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/NeueHaasUnicaW1G-Regular.woff2") format("woff2"), url("/fonts/NeueHaasUnicaW1G-Regular.woff") format("woff"), url("/fonts/NeueHaasUnicaW1G-Regular.ttf") format("truetype"), url("/fonts/NeueHaasUnicaW1G-Regular.svg#NeueHaasUnica") format("svg"); }

@font-face {
  font-family: LibreCaslonDisplay;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/librecaslondisplay-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/librecaslondisplay-regular.woff2") format("woff2"), url("/fonts/librecaslondisplay-regular.woff") format("woff"), url("/fonts/librecaslondisplay-regular.ttf") format("truetype"), url("/fonts/librecaslondisplay-regular.svg#LibreCaslonDisplay") format("svg"); }

/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
.underline {
  text-decoration: underline; }

.conferences {
  width: 35%;
  margin-left: 20%;
  padding-top: 15%; }

.upcoming-engagements {
  background-color: white;
  margin-left: 10%;
  margin-top: 15%;
  z-index: 1;
  position: relative; }

.upcoming-engagements h1 {
  margin-left: 50%; }

.past-engagements {
  clear: both;
  margin-top: 20%;
  background-color: white;
  z-index: 1;
  position: relative; }

.past-engagements iframe {
  margin-left: 25%;
  margin-bottom: 2%;
  margin-top: 2%; }

li {
  clear: both;
  color: #959595;
  display: block;
  list-style-type: none;
  line-height: 2; }

.neuehaasunica-loaded .upcoming-engagements {
  font-family: NeueHaasUnica, Arial, sans-serif; }

.librecaslon-loaded .upcoming-engagements h1, .librecaslon-loaded .past-engagements h1 {
  font-family: LibreCaslonDisplay, sans-serif;
  font-size: 2.925em;
  font-weight: 300; }

.upcoming-engagements li, .past-engagements li {
  border-bottom: 2px solid #959595;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  outline-offset: 15px;
  padding-bottom: 3px;
  position: relative;
  width: 60%; }

.upcoming-engagements li::before, .past-engagements li::before {
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: width 0s ease, background .5s ease;
  width: 0; }

.upcoming-engagements li::after, .past-engagements li::after {
  background: #959595;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  transition: width .5s ease;
  width: 0; }

.upcoming-engagements li:hover, .past-engagements li:hover {
  border-bottom: 2px solid indianred;
  color: indianred; }

.upcoming-engagements li:hover .outside-link, .past-engagements li:hover .outside-link {
  opacity: 1; }

.upcoming-engagements li:hover::before, .past-engagements li:hover::before {
  background: indianred;
  transition: width .5s ease;
  width: 100%; }

.upcoming-engagements li:hover::after, .past-engagements li:hover::after {
  background: transparent;
  transition: all 0s ease;
  width: 100%; }

.upcoming-engagements a, .past-engagements a {
  background-image: none; }

.past-engagements {
  margin-left: 10%; }

.past-engagements ul {
  margin-left: 5%; }

.past-engagements li {
  width: 70%; }

.engagement {
  float: left;
  font-size: 1.8em; }

.date {
  float: right;
  font-family: AvenirNextBold, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 5%;
  margin-top: 15px; }

.outside-link {
  opacity: 0;
  float: right;
  margin-top: 8px;
  margin-right: 2%;
  width: 16px;
  transition: opacity 0.15s ease-in-out; }

.fit {
  margin: 7% auto 7% auto;
  width: 40%; }

/* Lines
--------------------------------------- */
#domExplosionList {
  position: fixed;
  top: 10%;
  width: 100%;
  z-index: 0; }

.item {
  position: absolute;
  list-style-type: none; }

.dei-1 {
  top: 100px;
  left: 15%; }

.dei-2 {
  top: 400px;
  left: 80%; }

.dei-3 {
  top: 650px;
  left: 87%; }

.dei-4 {
  top: 550px;
  left: 93%; }

.dei-5 {
  top: 750px;
  left: 15%; }

.line {
  background-color: indianred;
  width: 1px; }

.line-1 {
  height: 500px; }

.line-2 {
  height: 300px; }

.line-3 {
  height: 400px; }

.line-4 {
  height: 325px; }

.line-5 {
  height: 350px; }
