---
file: 14-12-whats-in-a-name
title: What's in a Name
date: December 2014
imageClass: orb
description: Exploring the origins of CSS Namespace Colors
url: whats-in-a-name
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p><a href="https://twitter.com/ainsleywagon" target="_blank">@ainsleywagon</a>, Ainsley Wagoner</p>

    <p><em>Stories behind the hex values.</em> e.g., <code>darkred</code>. (Or my favorite, <code>tomato</code>!) For example, <code>Rebecca Purple</code>.</p>

    <p><a href="http://ainsleywagon.github.io/color-chart" target="_blank">Color Chart</a></p>

    <h2>So, how did we get these names?</h2>

    <p>First of all, they're not CSS originals, but web standard originals (which is why you can use them with SVG). X-Window System: they come from one of the first GUI interfaces. </p>

    <p><em>Late 80s</em>: Lots of color names weren't standardized until <a href="http://en.wikipedia.org/wiki/X11_color_names" target="_blank">X11</a>. Then, Netspace > HTML Browsers > CSS.</p>

    <h2>So why did it take so long?</h2>

    <p>It takes a long time to get things into spec! Also, we're all familiar with hex values, which has so many possibilities.</p>

    <p><em>But you should still use them!</em> Why? They were put through the ringer for web accessibility. They're not case sensitive, recognized cross-browser, work across HTML &amp; SVG, and last but not least: they have fun names &lt;3</p>

    <p><code>navajowhite</code>: why is it named this and why is it orange?</p>

    <h2>So who was behind this?</h2>

    <p>Paul Ravelling, who got them from Sinclair paint swatches! So why the silly names? Because paint swatches have insane names because there really so many different kinds of beige/off-white.</p>

    <p><em>So why so many beiges/off-whites, anyway?</em>: Because there are so many options for desktop backgrounds. </p>

    <p>A lot of our color names come from Crayola. Are you surprised?</p>

    <h2>Adding Colors</h2>

    <p>This is actually fairly rare. (We're still working off the list published in 1989, with the exception of <code>Rebecca Purple</code>). Even this was added fairly quickly, but to lots of controversy. Web standards people take their jobs very seriously; but should this be something we're allowed to change as a community? Default is boring! Shouldn't we question standards to improve them?</p>

    <h2>Accessibility</h2>

    <p>Hey, people gotta read. Color shouldn't be the only visual means of conveying information.</p>

    <p><em>Color should be used to have fun!</em>: </p>

    <p><a href="http://kocha.com.au/" target="_blank">Kocha</a></p>

    <p><em>But... I work on serious stuff. Like banks.</em>: So use illustrations as an opportunity to make things beautiful. Don't ask permission, just use pastels.</p>

    <p>(Also, <code>thistle</code> is a beautiful CSS color.)</p>

    <p>We should push for more colors. Because color just comes along with creativity! &lt;3</p>

    <h2>Update, 1/28/15</h2>

    <p>You can now watch <a href="https://twitter.com/ainsleywagon">@ainsleywagon's</a> talk on <a href="https://www.youtube.com/watch?v=ciGmOlxRxeg&amp;feature=youtu.be">Youtube!</a></p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}