/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.moi {
  background-attachment: fixed;
  background-image: url("/images/home/esta-bien.jpg");
  background-position: left top;
  background-size: auto 77%;
  height: 517px;
  margin-left: 3%;
  margin-top: 3%;
  width: 1017px; }

.who-is-helen {
  background-color: white;
  margin-left: 10%;
  margin-top: -8%;
  padding: 2%;
  padding-top: 0.15%;
  width: 50%;
  position: relative; }

.who-is-helen h1 {
  font-size: 4.3875em;
  margin-bottom: 0;
  margin-top: 3%;
  line-height: 1; }

.writing, .speaking {
  background-color: white;
  margin-top: 20%;
  position: relative; }

.writing p, .speaking p {
  width: 30%;
  margin-left: 50%;
  margin-bottom: 5%; }

.bio-link a {
  color: #D8D8D8;
  background-image: linear-gradient(transparent, transparent);
  transition: all 0.25s ease; }

.bio-link a:hover {
  color: #959595;
  background-image: linear-gradient(#959595, #959595); }

.hand {
  display: inline-block;
  padding-left: 2px; }

.youtube {
  cursor: pointer;
  position: relative;
  margin: 0 auto 10% auto;
  width: 560px; }

.youtube img {
  display: block;
  height: 315px;
  left: 0;
  position: absolute;
  top: 0;
  width: 560px;
  z-index: 1; }

.youtube iframe {
  z-index: 0; }

.mad-men {
  align-items: center;
  cursor: pointer;
  display: flex;
  fill: indianred;
  position: relative;
  transition: fill 0.25s ease; }

.mad-men:hover svg {
  animation: red-to-blue 8s linear infinite; }

.mad-men svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 85%;
  fill: indianred; }

.mad-men h1 {
  font-family: "Didot 96 A", "Didot 96 B", serif;
  font-size: 14em;
  font-style: italic;
  line-height: 1.25;
  padding: 0 5%;
  position: relative;
  text-transform: uppercase;
  z-index: 1; }

.mad-men h1 a {
  color: #2d2d2d;
  background-image: linear-gradient(transparent, transparent); }

.mad-men em {
  background-color: white;
  margin-top: 8%;
  position: absolute;
  right: 15%; }

.additional-articles {
  flex: 0 1 100%;
  margin-top: 5%; }

.additional-articles:before {
  border-bottom: indianred 2px solid;
  border-top: indianred 1px solid;
  content: '';
  display: block;
  height: 7px;
  margin: auto;
  width: 150px; }

.the-future {
  align-self: center;
  background-color: white;
  clear: both;
  color: #2d2d2d;
  cursor: pointer;
  flex: 0 1 100%;
  margin-left: 10%;
  margin-top: 45%;
  position: relative; }

@media screen and (min-width: 850px) {
  .the-future {
    flex: 0 1 50%;
    margin-top: 10%; } }

.the-future:hover::before {
  animation: spin-color 8s linear forwards; }

.the-future::before {
  background-color: indianred;
  content: '';
  display: block;
  height: 200px;
  width: 200px; }

@media screen and (min-width: 850px) {
  .the-future::before {
    height: 200px;
    width: 200px; } }

.the-future h1 {
  font-family: NeueHaasUnica, Arial, sans-serif, sans-serif;
  font-size: 2.925em;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75;
  margin-left: 25px;
  margin-top: -13.5%;
  position: relative;
  text-align: center;
  text-transform: capitalize; }

@media screen and (min-width: 850px) {
  .the-future h1 {
    margin-left: 100px;
    text-align: left; } }

.the-future h1 a {
  background-image: linear-gradient(transparent, transparent);
  color: #2d2d2d; }

.the-future h1 a:hover {
  color: #2d2d2d; }

.the-future em {
  position: relative;
  font-family: CalendasPlus, Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  width: 100%;
  text-align: center; }

@media screen and (min-width: 850px) {
  .the-future em {
    margin-left: 120px;
    text-align: left;
    top: -110px; } }

.hobbies {
  margin-bottom: 60%;
  margin-top: 15%; }

.hobbies p {
  float: left;
  background-color: white;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 20%;
  width: 30%; }

.devtools-pin {
  float: right;
  width: 40%; }

.third-person {
  clear: both;
  margin: 10% auto;
  width: 30%; }
