---
file: 13-11-ampersand-conf
title: Ampersand Conf
date: November 2013
imageClass: orb
description: All the links from this year's Ampersand Conf.
url: ampersand-conf
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>I figured it might be useful to have all of the things each of the speakers mentioned in one place to look at more thoroughly later, so for those curious, here are the various links the speakers brought up or things that they mentioned that I needed clarification on:</p>

    <h2>Michael Johnson</h2>
    <ul>
      <li><a href="http://pitchfork.com/features/cover-story/reader/bat-for-lashes/" target="_blank">Bat for Lashes Interview Article</a></li>
      <li><a href="http://www.ffmark.com/" target="_blank">FFMark</a></li>
      <li><a href="http://20tongues.simonfosterdesign.com/" target="_blank">20 Tongues</a></li>
      <li><a href="http://theharrietseries.com/" target="_blank">The Harriet Series</a></li>
      <li><a href="http://www.underconsideration.com/brandnew/archives/acumens_manifesto_as_logo.php#.UnVAg5R4bso" target="_blank">Acumen Branding</a></li>
    </ul>

    <h2>Mark Boulton, <a href="https://twitter.com/markboulton" target="_blank">@markboulton</a>, <a href="https://twitter.com/markboultondsg" target="_blank">@markboultondsg</a></h2>
    <ul>
      <li><a href="http://typecast.com/" target="_blank">Typecast</a></li>
      <li><a href="http://css-tricks.com/viewport-sized-typography/" target="_blank">V Units</a></li>
      <li><a href="http://snook.ca/archives/html_and_css/font-size-with-rem" target="_blank">Rem Units</a></li>
      <li><a href="http://webdesign.maratz.com/lab/responsivetypography/onload/" target="_blank">Head Tracker: Responsive Typography</a></li>
    </ul>

    <h2>Johnathan Hoefler, <a href="https://twitter.com/HoeflerCo" target="_blank">@HoeflerCo</a></h2>
    <ul>
      <li><a href="http://www.typography.com/cloud/welcome/" target="_blank">Cloud Typography</a></li>
      <li><a href="http://www.typography.com/fonts/didot/overview/" target="_blank">The Harper Bizarre typeface</a></li>
      <li><a href="http://www.typography.com/blog" target="_blank">Cloud Typography blog</a></li>
      <li>Note: The talk referenced some particular articles about Russian characters that I wasn’t able to track down. If anyone finds them, please let me know!</li>
      <li><a href="http://vimeo.com/69721995" target="_blank">Using Shades</a></li>
    </ul>

    <h2>Sites Using Hoefler Frere-Jones Fonts:</h2>
    <ul>
      <li><a href="http://simplebits.com/" target="_blank">Simplebits</a></li>
      <li><a href="http://jessicahische.is/awesome" target="_blank">Jessica Hische</a></li>
    </ul>

    <h2>Lucas de Groot, <a href="https://twitter.com/FontFabrik" target="_blank">@fontfabrik</a></h2>
    <ul>
      <li><a href="http://en.wikipedia.org/wiki/Font_hinting" target="_blank">Hinting</a></li>
      <li><a href="http://www.lucasfonts.com/fonts/thesans/" target="_blank">TheSans</a></li>
      <li><a href="http://www.lucasfonts.com/fonts/floris/about/" target="_blank">Floris</a></li>
    </ul>

    <h2>Trent Walton, <a href="https://twitter.com/trentwalton" target="_blank">@trentwalton</a></h2>
    <ul>
      <li><a href="https://speakerdeck.com/trentwalton/get-your-hands-dirty" target="_blank">Presentation: Get Your Hands Dirty</a></li>
      <li><a href="https://dl.dropboxusercontent.com/u/3648990/Ampersand-Demo/index.html" target="_blank">Examples</a></li>
      <li><a href="http://fittextjs.com/" target="_blank">Fittext.js</a></li>
      <li><a href="http://letteringjs.com/" target="_blank">Lettering.js</a></li>
      <li><a href="http://circletype.labwire.ca/" target="_blank">Circletype.js</a></li>
      <li><a href="http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html" target="_blank">Background Text Clip with Fallback</a></li>
      <li><a href="http://css-tricks.com/examples/nth-child-tester/" target="_blank">Chris Coyier's Nth-Tester</a></li>
      <li><a href="http://vimeo.com/69721995" target="_blank">Using Shades</a></li>
      <li><a href="http://clagnut.com/sandbox/css3/" target="_blank">Open Type Sandbox</a></li>
      <li><a href="http://trentwalton.com/" target="_blank">His blog</a></li>
      <li><a href="http://blog.fontdeck.com/post/15777165734/opentype-1" target="_blank">Font Deck: Open Type Features</a></li>
      <li><a href="http://lostworldsfairs.com/" target="_blank">Lost World's Fairs</a></li>
      <li><a href="http://typofonderie.com/" target="_blank">Typefounderie</a></li>
      <li><a href="http://www.marksimonson.com/" target="_blank">Mark Simonson</a></li>
      <li><a href="http://paravelinc.com/" target="_blank">Paravel, his firm</a></li>
    </ul>

    <h2>Nick Sherman, <a href="https://twitter.com/NickSherman" target="_blank">@nicksherman</a></h2>
    <ul>
      <li><a href="http://sizecalc.com/" target="_blank">Size Calc</a></li>
      <li><a href="http://msdn.microsoft.com/en-us/library/windows/apps/windows.graphics.display.displayinformation.rawdpiy.aspx" target="_blank">Raw DPI</a></li>
      <li><a href="http://superpolator.com/" target="_blank">Superpolator</a></li>
      <li><a href="http://prototypo.io/" target="_blank">Prototypo.io</a></li>
    </ul>

    <h2>Jenn Lukas</h2>
    <ul>
      <li><a href="http://jennlukas.com/" target="_blank">JennLukas.com</a></li>
      <li><a href="http://dowebsitesneedtolookexactlythesameineverybrowser.com/" target="_blank">Do Websites Need to Look the Same In Every Browser?</a></li>
      <li><a href="http://icomoon.io/" target="_blank">IcoMoon</a></li>
      <li><a href="http://www.glyphsapp.com/" target="_blank">Glyphs App</a></li>
      <li><a href="http://fuckyeahhovers.tumblr.com/" target="_blank">Fuck Yeah Hovers</a></li>
      <li><a href="http://ladiesintech.com/" target="_blank">Ladies in Tech</a></li>
      <li><a href="http://css-tricks.com/flat-icons-icon-fonts/" target="_blank">Huge List of Icon Fonts</a></li>
      <li><a href="http://www.thenerdary.net/" target="_blank">TheNerdary.net</a></li>
      <li><a href="http://typecast.com/" target="_blank">Typecast</a></li>
      <li><a href="http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/" target="_blank">Kellum Method</a></li>
      <li><a href="http://pictos.cc/" target="_blank">Pictos</a></li>
      <li><a href="http://symbolset.com/" target="_blank">Symbolset</a></li>
      <li><a href="http://alistapart.com/article/hack-your-maps" target="_blank">Hack Your Maps</a></li>
      <li><a href="http://blog.typekit.com/2013/04/17/fallback-fonts-on-mobile-devices/" target="_blank">Fallback Fonts on Mobile Browsers</a></li>
    </ul>

    <h2>Christian Schwartz</h2>
    <ul>
      <li><a href="http://www.historyoflol.com/" target="_blank">The History of Lol</a></li>
      <li><a href="http://vllg.com/typesupply/ohm" target="_blank">OHM Typeface</a></li>
      <li><a href="http://www.typography.com/fonts/tungsten/overview/" target="_blank">Tungsten</a></li>
      <li><a href="http://commercialtype.com/typefaces/graphik" target="_blank">Graphik</a></li>
    </ul>

    <p><small><em>* Update May 9, 2014: Hoefler & Frere-Jones has split up and is now just Hoefler&Co. You can read about why <a href="http://www.businessweek.com/articles/2014-04-08/font-war-inside-the-design-worlds-20-million-divorce" target="_blank">here</a>.</em></small></p>
  </main>

  <p class="center">
    <em>Congrats, you've finished one of my awkward attempts at creative writing. I didn't go to school for this crap. Follow me on <a href="https://twitter.com/helenvholmes">Twitter</a>.</em>
  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}