---
file: 14-12-cssconf-oakland
title: CSS Conf Oakland Summary
date: December 2014
imageClass: orb
description: "tl;dr: it was really fun."
url: cssconf-oakland
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>In case you weren't able to attend <a href="http://cssconfoak.land/">CSS Conf Oakland</a>, I tried to take comprehensive notes during the conference:</p>

    <p><a href="/writing/what-makes-something-revolutionary">Keynote: What Makes Something Revolutionary?</a> from <a href="https://twitter.com/itsmisscs" target="_blank">@itsmisscs</a></p>

    <p><a href="/writing/the-future-of-css/">The Future of CSS</a> from <a href="https://twitter.com/tabatkins" target="_blank">@tabatkins</a></p>

    <p><a href="/writing/svg-is-awesome/">SVG is Awesome</a> from <a href="https://twitter.com/brnnbrn" target="_blank">@brnnbrn</a></p>

    <p><a href="/writing/whats-in-a-name/">What's in a Name</a> from <a href="https://twitter.com/ainsleywagon" target="_blank">@ainsleywagon</a></p>

    <p><a href="/writing/tonight-we-will-code-like-it-is-1999/">Tonight We're Gonna Code Like it's 1999</a> from <a href="https://twitter.com/mybluewristband" target="_blank">@mybluewristband</a></p>

    <p><a href="/writing/things-i-have-learned-about-css/">Things I've Learned About CSS</a> from <a href="https://twitter.com/mrmrs_" target="_blank">@mrmrs</a></p>

    <p><a href="/writing/stuff-about-cascading-style-sheets/">Stuff About Cascading Style Sheets</a> from <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/connors" target="_blank">@connors</a></p>

    <p><a href="/writing/rework/">Rework</a> from <a href="https://twitter.com/hazelcough" target="_blank">@hazelcough</a></p>

    <p><a href="/writing/performance-stuff-in-general/">Performance Stuff in General</a> from <a href="https://twitter.com/benschwarz" target="_blank">@benschwarz</a></p>

    <p><a href="">Implementing a Visual CSS Testing Framework</a> from <a href="https://twitter.com/jessicard" target="_blank">@jessicard</a></p>

    <p><a href="/writing/i-have-no-idea-what-i-am-doing/">I Don't Know What I'm Doing</a> from <a href="https://twitter.com/elyseholladay" target="_blank">@elyseholladay</a></p>

    <p>Also, the CSS Conf Oakland <a href="http://lanyrd.com/2014/cssconfoak/coverage/">Lanyrd page</a> has a list of all the direct links to the slides (which I've tried to add to their appropriate note re-write here when I could find them).</p>

    <p>CSS Conf Oakland was organized by <a href="https://twitter.com/fox" target="_blank">@fox</a> (Karolina Szczur) and <a href="https://twitter.com/mikeal" target="_blank">@mikeal</a> (Mikeal Rogers).</p>

    <p>You can see photos from the event from @fox <a href="https://www.flickr.com/photos/xytine/sets/72157649641077236/" target="_blank">here</a> and from @fotovertite <a href="https://www.flickr.com/photos/matthewbergman/sets/72157649684937431/" target="_blank">here</a>.</p>

    <p>@floriidaaa did Sketchnotes, which you can find <a href="https://storify.com/thefox/cssconf-oakland-notes" target="_blank">here</a>.</p>

    <p>@jina also posted her notes on Medium, which you can find <a href="https://medium.com/salesforce-ux/cssconf-oakland-b24c8b12da25" target="_blank">here</a>.</p>

    <p>If there are slides missing from any of the talks, please let me know either in the comments or on twitter <a href="https://twitter.com/helenvholmes" target="_blank">@helenvholmes</a>. (Same for spelling errors. We all need a little help from our friends.)</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}