---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: CSS Conf Oakland Summary
description: "tl;dr: it was really fun."
tags: [css, conf, oakland]
---

In case you weren't able to attend [CSS Conf Oakland](http://cssconfoak.land/), I tried to take comprehensive notes during the conference:

[Keynote: What Makes Something Revolutionary?](http://helenvholmes.com/thoughts//what-makes-something-revolutionary) from [@itsmisscs](https://twitter.com/itsmisscs)

[The Future of CSS](http://helenvholmes.com/thoughts/the-future-of-css/) from [@tabatkins](https://twitter.com/tabatkins)

[SVG is Awesome](http://helenvholmes.com/thoughts/svg-is-awesome/) from [@brnnbrn](https://twitter.com/brnnbrn)

[What's in a Name](http://helenvholmes.com/thoughts/whats-in-a-name/) from [@ainsleywagon](https://twitter.com/ainsleywagon)

[Tonight We're Gonna Code Like it's 1999](http://helenvholmes.com/thoughts/tonight-we-will-code-like-it-is-1999/) from [@mybluewristband](https://twitter.com/mybluewristband)

[Things I've Learned About CSS](http://helenvholmes.com/thoughts/things-i-have-learned-about-css/) from [@mrmrs](https://twitter.com/mrmrs_)

[Stuff About Cascading Style Sheets](http://helenvholmes.com/thoughts/stuff-about-cascading-style-sheets/) from [@mdo](https://twitter.com/mdo) and [@connors](https://twitter.com/connors)

[Rework](http://helenvholmes.com/thoughts/rework/) from [@hazelcough](https://twitter.com/hazelcough)

[Performance Stuff in General](http://helenvholmes.com/thoughts/performance-stuff-in-general/) from [@benschwarz](https://twitter.com/benschwarz)

[Implementing a Visual CSS Testing Framework]() from [@jessicard](https://twitter.com/jessicard)

[I Don't Know What I'm Doing](http://helenvholmes.com/thoughts/i-have-no-idea-what-i-am-doing/) from [@elyseholladay](https://twitter.com/elyseholladay)

Also, the CSS Conf Oakland [Lanyrd page](http://lanyrd.com/2014/cssconfoak/coverage/) has a list of all the direct links to the slides (which I've tried to add to their appropriate note re-write here when I could find them).

CSS Conf Oakland was organized by [@fox](https://twitter.com/fox) (Karolina Szczur) and [@mikeal](https://twitter.com/mikeal) (Mikeal Rogers).

You can see photos from the event from @fox [here](https://www.flickr.com/photos/xytine/sets/72157649641077236/) and from @fotovertite [here](https://www.flickr.com/photos/matthewbergman/sets/72157649684937431/).

@floriidaaa did Sketchnotes, which you can find [here](https://storify.com/thefox/cssconf-oakland-notes).

@jina also posted her notes on Medium, which you can find [here](https://medium.com/salesforce-ux/cssconf-oakland-b24c8b12da25).

If there are slides missing from any of the talks, please let me know either in the comments or on twitter [@hlnvhlms](https://twitter.com/hlnvhlms). (Same for spelling errors. We all need a little help from our friends.)

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}