html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.underline {
  text-decoration: underline; }

img {
  width: 100%; }

.container {
  width: 80%; }

.the-things {
  margin-top: 10%; }

.the-things-title {
  color: black;
  flex: 0 1 45%;
  font-family: 'Didot 96 A', 'Didot 96 B', serif;
  font-size: 3.2175em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0;
  margin-top: 0.25em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word; }

@media screen and (min-width: 850px) {
  .the-things-title {
    font-size: 5.5575em;
    margin-top: 0;
    text-align: left; } }

.the-things-parrot {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 100%;
  -moz-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  float: left;
  margin-right: 5%; }

@media screen and (min-width: 850px) {
  .the-things-parrot {
    max-width: 45%; } }

.the-things-subtitle {
  display: block;
  flex: 0 1 45%;
  justify-content: flex-end; }

.additional-articles {
  flex: 0 1 100%;
  margin-bottom: 10%;
  margin-top: 10%; }

.additional-articles:before {
  border-bottom: peru 2px solid;
  border-top: peru 1px solid;
  content: '';
  display: block;
  height: 7px;
  margin: auto;
  width: 150px; }

.letters-lot {
  width: 60%;
  float: right;
  list-style-type: none;
  font-size: 1.575em;
  line-height: 3;
  margin: 0 10% 10% 0;
  text-transform: capitalize; }

.letters-lot::before {
  border-bottom: 1px solid peru;
  border-top: 3px solid peru;
  content: '';
  display: block;
  height: 9px;
  margin: 15% auto;
  width: 25%; }

.letters-lot a {
  color: #959595;
  transition: color 0.5s ease; }

.letters-lot a:hover {
  background: transparent;
  color: #6f6f6f; }

.letters-lot li {
  border-bottom: 2px solid #959595;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  width: 100%;
  outline-offset: 15px; }

.letters-lot li::before {
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: width 0s ease, background .5s ease;
  width: 0; }

.letters-lot li::after {
  background: #959595;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  transition: width .5s ease;
  width: 0; }

.letters-lot li:hover::before {
  background: #959595;
  transition: width .5s ease;
  width: 100%; }

.letters-lot li:hover::after {
  background: transparent;
  transition: all 0s ease;
  width: 100%; }
