@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.canvas {
  width: 100vw;
  height: 75vh;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(205, 92, 92, 0.25), white); /* Standard syntax */
  display: flex;
  justify-content: center;
}

svg {
  fill: $brand-primary;
  width: 100vw;
  height: 100vh;
}

.canvas-text {
  align-self: center;
  background-color: $brand-primary;
  padding: 0 2%;
  color: white;
  flex: 0 0 auto;
  font-family: $pre-avenir-next;
  font-size: 4em !important;
  position: absolute;
  z-index: 1;
}

.avenirnext-loaded .canvas-text, .avenirnext-loaded .avenir-headers {
  font-weight: 700;
  font-family: $avenir-next;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

.container {
  margin: auto;
  width: 35%;

  section {
    margin-top: 20%;

    &:first-of-type {
      margin-top: 0;
    }
  }
}