{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/portfolio.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


  <section class="canvas">
    <h1 class="canvas-text avenir-headers">Let's Work Together</h1>
  </section>

  <div id="explosion">
    <ul id="domExplosionList">
      <li class="item dei-2 line line-2"></li>
      <li class="item dei-3 line line-3"></li>
      <li class="item dei-4 line line-4"></li>
      <li class="item dei-5 line line-5"></li>
    </ul>
  </div>

  <div class="container">
    <section class="about-me">
      <p>I run my own design contracting company named Helen V. Holmes LLC. I specialize in experience and interaction design—specifically web, native, and hardware experiences. I am often a liason between designers and developers, and enjoy writing and speaking about how designers and developers can work together to build great experiences. I’ve worked both as a designer and as an engineer, and find I’m well-suited to this challenging interim space.</p>

      <p>If you think I’d be a good fit for your team, I encourage you to check out my case studies below to double-check. If you’re already convinced (wow, hello, yay!), please <a href="mailto:helen.v.holmes@gmail.com">shoot me an email</a> for my resume and references.</p>
    </section>

    <section class="firefox">
      <h2 class="avenir-headers">Firefox Developer Tools</h2>
    </section>
  </div>

  {% include "partials/firefox-devtools.html" %}

  <div class="container public-speaking-header">
    <h2 class="avenir-headers">Public Speaking</h2>
  </div>

  <div class="public-speaking-carousel">
    <div class="slide slide-1">
      <a href="https://viewsourceconf.org/berlin-2016/#typography_summary" target="_blank">
        <img src="/images/portfolio/viewsource.jpg" />
      </a>
    </div>
    <div class="slide slide-2">
      <a href="https://realm.io/news/tryswift-helen-holmes-10-ways-designers-swift-codebase/" target="_blank">
        <img src="/images/portfolio/tryswift.jpg" />
      </a>
    </div>
    <div class="slide slide-3">
      <a href="http://conference.awwwards.com/los-angeles-2017/" target="_blank">
        <img src="/images/portfolio/awwwards.jpg" />
      </a>
    </div>
    <div class="slide slide-4">
      <a href="http://2015.cascadiajs.com/speakers/helen-v-holmes" target="_blank">
        <img src="/images/portfolio/cascadia.jpg" />
      </a>
    </div>
    <div class="slide slide-5">
      <a href="https://www.youtube.com/watch?v=VFU1r8uNtQk" target="_blank">
        <img src="/images/portfolio/braziljs.jpg" />
      </a>
    </div>
  </div>

  <div class="container">
    <section class="public-speaking">
      <p>I’ve done a small amount of public speaking—and looking at the body of my work, you’ll find that most of it is about figuring out how to make design concerns and engineering concerns play nice, with a small bit of human advice thrown in.</p>

      <p>If you’re hosting a conference and think I’d be a good fit, more information can be found on my <a href="/speaking">Speaking</a> page.</p>
    </section>

    <section class="capital-one">
      <h2 class="avenir-headers">Capital One</h2>
      <p>The 9-to-5 work I did at Capital One was NDA’d. (<em>Yawn.</em>) What I can say is that I helped develop a number of internal components and a <a href="https://github.com/helenvholmes/gulp-starter" target="_blank">Gulp boilerplate</a> that was widely used by the front end engineers on the design team. I also cofounded the <a href="https://www.meetup.com/Women-Who-Code-DC/" target="_blank">Women Who Code DC chapter</a> and or mentored at numerous student hackathons all over the country.</p>

      <p>I also made a ton of React forms. It was just endless.</p>
    </section>
  </div>

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="/javascripts/petri.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script>
    $('.public-speaking-carousel').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 2,
      centerMode: true,
      variableWidth: true,
      prevArrow: false,
      nextArrow: false
    });
  </script>
{% endblock %}