{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/portfolio.css">

  <section class="canvas">
    <h1 class="teh-text">Let's Work Together</h1>
  </section>

  <div class="container">
    <section>
      <p>I run my own design contracting company named Helen V. Holmes LLC. I specialize in experience and interaction design—specifically web, native, and hardware experiences. I am often a liason between designers and developers, and enjoy writing and speaking about how designers and developers can work together to build great experiences. I’ve worked both as a designer and as an engineer, and find I’m well-suited to this challenging interim space.</p>

      <p>If you think I’d be a good fit for your team, I encourage you to check out my case studies below to double-check. If you’re already convinced (wow, hello, yay!), please <a href="mailto:helen.v.holmes@gmail.com">shoot me an email</a> for my resume and references.</p>
    </section>
  </div>

  <div id="explosion">
    <ul id="domExplosionList">
      <li class="item dei-1 line line-1"></li>
      <li class="item dei-2 line line-2"></li>
      <li class="item dei-3 line line-3"></li>
      <li class="item dei-4 line line-4"></li>
      <li class="item dei-5 line line-5"></li>
    </ul>
  </div>

  <script src="/javascripts/fontfaceonload.js"></script>
  <script src="/javascripts/neuehaasunica.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="/javascripts/petri.js"></script>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script async src="/javascripts/parallax.js"></script>
{% endblock %}