{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/portfolio.css">

  <section class="canvas">
    <h1 class="canvas-text avenir-headers">Let's Work Together</h1>
  </section>

  <div class="container">
    <section class="about-me">
      <p>I run my own design contracting company named Helen V. Holmes LLC. I specialize in experience and interaction design—specifically web, native, and hardware experiences. I am often a liason between designers and developers, and enjoy writing and speaking about how designers and developers can work together to build great experiences. I’ve worked both as a designer and as an engineer, and find I’m well-suited to this challenging interim space.</p>

      <p>If you think I’d be a good fit for your team, I encourage you to check out my case studies below to double-check. If you’re already convinced (wow, hello, yay!), please <a href="mailto:helen.v.holmes@gmail.com">shoot me an email</a> for my resume and references.</p>
    </section>

    <section class="firefox">
      <h2 class="avenir-headers">Firefox Developer Tools</h2>
    </section>

    <section class="public-speaking">
      <h2 class="avenir-headers">Public Speaking</h2>
      <p>I’ve done a small amount of public speaking—and looking at the body of my work, you’ll find that most of it is about figuring out how to make design concerns and engineering concerns play nice, with a small bit of human advice thrown in.</p>

      <p>If you’re hosting a conference and think I’d be a good fit, more information can be found on my <a href="/speaking">Speaking</a> page. If you’re just curious about my public speaking, check out my article “<a href="/writing/oh-god">Oh God, Oh God, Why, Why, Why, or: A Tiny Personal Journey into Public Speaking</a>”, an article I wrote for people interested in getting into public speaking.</p>
    </section>

    <section class="capital-one">
      <h2 class="avenir-headers">Capital One</h2>
      <p>The 9-to-5 work I did at Capital One was NDA’d. (<em>Yawn.</em>) But the technologies I did were not, nor were the things I did on the side—cofounding the <a href="https://www.meetup.com/Women-Who-Code-DC/" target="_blank">Women Who Code DC chapter</a>, or mentoring at student hackathons. During my time there I worked on a design security team and wrote up my learnings on password design in “TOBEDETERMINED”.</p>
    </section>
  </div>

  <div id="explosion">
    <ul id="domExplosionList">
      <li class="item dei-2 line line-2"></li>
      <li class="item dei-3 line line-3"></li>
      <li class="item dei-4 line line-4"></li>
      <li class="item dei-5 line line-5"></li>
    </ul>
  </div>

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="/javascripts/petri.js"></script>
{% endblock %}