@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.canvas {
  width: 100vw;
  height: 75vh;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(205, 92, 92, 0.25), white); /* Standard syntax */
  display: flex;
  justify-content: center;
}

svg {
  fill: $brand-primary;
  width: 100vw;
  height: 100vh;
}

.teh-text {
  align-self: center;
  background-color: transparent;
  color: $brand-primary;
  flex: 0 0 auto;
  font-family: $pre-avenir-next;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
}

.avenirnext-loaded .teh-text {
  font-weight: 700;
}