@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.conferences {
  width: 35%;
  margin-left: 20%;
  padding-top: 15%;
}

.upcoming-engagements {
  background-color: white;
  margin-left: 10%;
  margin-top: 15%;
  z-index: 1;
  position: relative;

  h1 {
    margin-left: 50%;
  }
}

.past-engagements {
  clear: both;
  margin-top: 20%;
  background-color: white;
  z-index: 1;
  position: relative;

  iframe {
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}

li {
  clear: both;
  color: $brand-gray-dark;
  display: block;
  list-style-type: none;
  line-height: 2;
}

.upcoming-engagements h1, .past-engagements h1 {
  font-size: $h1-font-size;
}

.upcoming-engagements li, .past-engagements li {
  border-bottom: 2px solid $brand-gray-dark;
  cursor: pointer;
  display: inline-block;
  outline-offset: 15px;
  padding-bottom: 3px;
  position: relative;
  width: 60%;

  &::before {
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: width 0s ease, background .5s ease;
    width: 0;
  }

  &::after {
    background: $brand-gray-dark;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    transition: width .5s ease;
    width: 0;
  }

  &:hover {
    border-bottom: 2px solid $brand-primary;
    color: $brand-primary;
    
    .outside-link {
      opacity: 1;
    }

    &::before {
      background: $brand-primary;
      transition: width .5s ease;
      width: 100%;
    }

    &::after {
      background: transparent;
      transition: all 0s ease;
      width: 100%;
    }
  }
}

.upcoming-engagements a, .past-engagements a {
  background-image: none;
}

.past-engagements {
  margin-left: 10%;

  ul {
    margin-left: 5%;
  }

  li {
    width: 70%;
  }
}

.engagement {
  float: left;
  font-size: $h2-font-size;
}

.avenirnext-bold-loaded {
  .date {
    font-family: $avenir-next;
    font-weight: 700;
  }
}

.date {
  float: right;
  font-family: $pre-avenir-next;
  font-size: $base-font-size;
  font-weight: bold;
  margin-right: 5%;
  margin-top: 15px;
}

.outside-link {
  opacity: 0;
  float: right;
  margin-top: 8px;
  margin-right: 2%;
  width: 16px;
  transition: opacity 0.15s ease-in-out;
}

.fit {
  margin: 7% auto 7% auto;
  width: 40%;
}

// Speaking Engagements
/* Lines
--------------------------------------- */
#domExplosionList {
  position: fixed;
  top: 10%;
  width: 100%;
  z-index: 0;
}

.item {
  position: absolute;
  list-style-type: none;
}

.dei-1  { top: 100px;   left: 15%; }
.dei-2  { top: 400px;   left: 80%; }
.dei-3  { top: 650px;   left: 87%; }
.dei-4  { top: 550px;   left: 93%; }
.dei-5  { top: 750px;   left: 15%; }

.line {
  background-color: $brand-primary;
  width: 1px;
}

.line-1 {
  height: 500px;
}

.line-2 {
  height: 300px;
}

.line-3 {
  height: 400px;
}

.line-4 {
  height: 325px;
}

.line-5 {
  height: 350px;
}
