{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/speaking/speaking.css">

  <div id="explosion">
    <ul id="domExplosionList">
      <li class="item dei-1 line line-1"></li>
      <li class="item dei-2 line line-2"></li>
      <li class="item dei-3 line line-3"></li>
      <li class="item dei-4 line line-4"></li>
      <li class="item dei-5 line line-5"></li>
    </ul>
  </div>

  <section class="conferences">
    <p>I’ve spoken at a variety of conferences, most variations on the same topic: how design and code work together to create wonderful experiences. I’ve also given talks on how to create environments where designers and developers work together instead of being at odds. If those are the sorts of things that sound like they’d be a good fit at your conference, <a href="mailto:helen.v.holmes@gmail.com">send me an email</a>.</p>
  </section>

  <section class="upcoming-engagements">
    <h1>Upcoming Engagements</h1>

    <ul>
      <a href="http://conference.awwwards.com/los-angeles-2017/" target="_blank">
        <li>
          <div class="engagement">Awwwards Conference</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">June 2017</div>
        </li>
      </a>
    </ul>
  </section>

  <section class="past-engagements">
    <h1>Past Engagements</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/emLfXChvVPQ?rel=0" frameborder="0" allowfullscreen></iframe>

    <ul>
      <a href="https://soundcloud.com/friendstalkfrontend/helen-holmes" target="_blank">
        <li>
          <div class="engagement">Friends Talk Frontend Podcast</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">December 2016</div>
        </li>
      </a>

      <a href="https://viewsourceconf.org/berlin-2016/#typography_summary" target="_blank">
        <li>
          <div class="engagement">ViewSource Conference</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">September 2016</div>
        </li>
      </a>

      <a href="https://www.youtube.com/watch?v=VFU1r8uNtQk" target="_blank">
        <li>
          <div class="engagement">BrazilJS</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">August 2016</div>
        </li>
      </a>

      <a href="http://www.podcasts.com/toolsday-30/episode/firefox-dev-tools" target="_blank">
        <li>
          <div class="engagement">Toolsday Podcast</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">June 2016</div>
        </li>
      </a>

      <a href="https://realm.io/news/tryswift-helen-holmes-10-ways-designers-swift-codebase/" target="_blank">
        <li>
          <div class="engagement">Try!Swift Japan</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">June 2016</div>
        </li>
      </a>

      <a href="https://viewsourc.es/2015/07/29/episode-10-client-side-mvcs/" target="_blank">
        <li>
          <div class="engagement">ViewSourc.es Podcast</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">July 2015</div>
        </li>
      </a>

      <a href="http://2015.cascadiajs.com/speakers/helen-v-holmes" target="_blank">
        <li>
          <div class="engagement">CascadiaJS</div>
          <div class="outside-link">
            <img src="/images/outside-link.png" alt="outside link" class="outside-link" />
          </div>
          <div class="date">July 2015</div>
        </li>
      </a>
    </ul>
  </section>

  <p class="fit">Seems like I'm a good fit for your conference or podcast? <a href="mailto:helen.v.holmes@gmail.com">Send me an email</a>. Looking for images for your conference site? <a href="#">Here's my press kit</a>.</p>

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script async src="/javascripts/parallax.js"></script>
{% endblock %}