{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/speaking/speaking.css">

  <section class="conferences">
    <p>I’ve spoken at a variety of conferences, most variations on the same topic: how design and code work together to create wonderful experiences. I’ve also given talks on how to create environments where designers and developers work together instead of being at odds. If those are the sorts of things that sound like they’d be a good fit at your conference, <a href="mailto:helen.v.holmes@gmail.com">send me an email</a>.</p>
  </section>

  <section class="upcoming-engagements">
    <h1>Upcoming Engagements</h1>

    <ul>
      <li>
        <div class="engagement">Awwwards Conference</div>
        <div class="date">June 2017</div>
      </li>
    </ul>
  </section>

  <section class="past-engagements">
    <h1>Past Engagements</h1>

    <video src="#"></video>

    <ul>
      <li>
        <div class="engagement">Friends Talk Frontend Podcast</div>
        <div class="date">December 2016</div>
      </li>

      <li>
        <div class="engagement">ViewSource Conference</div>
        <div class="date">September 2016</div>
      </li>

      <li>
        <div class="engagement">BrazilJS</div>
        <div class="date">August 2016</div>
      </li>

      <li>
        <div class="engagement">Toolsday Podcast</div>
        <div class="date">June 2016</div>
      </li>

      <li>
        <div class="engagement">Try!Swift Japan</div>
        <div class="date">June 2016</div>
      </li>

      <li>
        <div class="engagement">ViewSourc.es Podcast</div>
        <div class="date">July 2015</div>
      </li>

      <li>
        <div class="engagement">CascadiaJS</div>
        <div class="date">July 2015</div>
      </li>
    </ul>
  </section>

  <p>Seems like I'm a good fit for your conference or podcast? <a href="mailto:helen.v.holmes@gmail.com">Send me an email</a>.</p>

  <div id="explosion">
    <ul id="domExplosionList">
      <li class="item dei-1 line line-1"></li>
      <li class="item dei-2 line line-2"></li>
      <li class="item dei-3 line line-3"></li>
      <li class="item dei-4 line line-4"></li>
      <li class="item dei-5 line line-5"></li>
    </ul>
  </div>

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script async src="/javascripts/parallax.js"></script>
{% endblock %}