@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.conferences {
  width: 35%;
  margin-left: 20%;
  padding-top: 15%;
}

.upcoming-engagements {
  background-color: white;
  margin-left: 10%;
  margin-top: 15%;
  z-index: 1;

  h1 {
    margin-left: 50%;
  }
}

.past-engagements {
  background-color: white;
  z-index: 1;
}

li {
  // clear: both;
  color: $brand-gray-dark;
  // display: block;
  list-style-type: none;
}

.upcoming-engagements li, .past-engagements li {
  font-family: $display-sans;
}

.engagement {
  // float: left;
  outline: 1px solid slateblue;
  font-size: $h2-font-size;
}

.date {
  float: left;
  outline: 1px solid tomato;
}

// Speaking Engagements
/* Lines
--------------------------------------- */
#domExplosionList {
  position: fixed;
  width: 100%;
  top: 10%;
}

.item {
  position: absolute;
  list-style-type: none;
}

.dei-1  { top: 100px;   left: 15%; }
.dei-2  { top: 400px;   left: 80%; }
.dei-3  { top: 650px;   left: 87%; }
.dei-4  { top: 550px;   left: 93%; }
.dei-5  { top: 750px;   left: 15%; }

.line {
  background-color: $brand-primary;
  width: 1px;
  z-index: 0;
}

.line-1 {
  height: 500px;
}

.line-2 {
  height: 300px;
}

.line-3 {
  height: 400px;
}

.line-4 {
  height: 325px;
}

.line-5 {
  height: 350px;
}
