/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/

// Colors
$brand-primary:               indianred; // #cd5c5c
$devtools-primary:            #4a90e2;
$brand-secondary:             #ddd147;
$brand-tertiary:              #240eba;

// Black --- White
$brand-blacker:               #202420;
$brand-black:                 #2d2d2d;
$brand-gray-dark:             #959595;
$brand-gray:                  #F5F5F5; // bg
$brand-gray-light:            #F2F2F2;
$brand-gray-accent:           #D8D8D8;
$brand-white:                 #ffffff;

$winsome-bg:                  #2a2a39;

$test:                        tomato; // only for testing. e.g., throw on a bg