/* Font-face
   Calls for webfonts used, alphabetically.
   
   Typefaces are not downloaded until they're added to a font-stack.

*/

@import 'bourbon';

// Avenir Next, paragraphs
@include font-face(AvenirNext,         '../fonts/avenir-next-thin', 300);
@include font-face(AvenirNext,         '../fonts/avenir-next-regular', 400);
@include font-face(AvenirNext,         '../fonts/avenir-next-bold', 700);
@include font-face(AvenirNext,         '../fonts/avenir-next-italic', 400, italic);

// Libre Caslon Display, headers
@include font-face(LibreCaslonDisplay, '../fonts/libre-caslon-display-regular', 400);

// Neue Haas Unica, unordered lists
@include font-face(NeueHaasUnica,      '../fonts/neue-haas-unica-regular', 400);
@include font-face(NeueHaasUnica,      '../fonts/neue-haas-unica-black', 900);

// Proxima Nova, navigation
@include font-face(ProximaNova,        '../fonts/proxima-nova-light', 300);
@include font-face(ProximaNova,        '../fonts/proxima-nova-regular', 400);
@include font-face(ProximaNova,        '../fonts/proxima-nova-bold', 700);

// Calendas Plus, previous paragraph typeface
@include font-face(CalendasPlus,       '../fonts/calendas-plus-regular', 400);
@include font-face(CalendasPlus,       '../fonts/calendas-plus-italic', 400, italic);

// League Spartan, idk used it somewhere as decoration
@include font-face(LeagueSpartan,      '../fonts/league-spartan-bold', 700);

// Icons needed for old portfolio projects
@include font-face(Icomoon,            '../fonts/icomoon', normal);
