/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/

// Avenir (base typography)
$pre-avenir-next:                -apple-system, BlinkMacSystemFont, sans-serif;
$avenir-next:                    AvenirNext, $pre-avenir-next;
$avenir-next-italic:             AvenirNextItalic, $pre-avenir-next;

// Libre Caslon Display (headers)
$pre-libre-caslon:               serif;
$libre-caslon:                   LibreCaslonDisplay, $pre-libre-caslon;

// Neue Haas Unica (unordered lists)
$pre-neue-haas-unica:            Arial, sans-serif;
$neue-haas-unica:                NeueHaasUnica, $pre-neue-haas-unica;

// Proxima Nova (navigation)
$pre-proxima-nova:               Helvetica, Arial, sans-serif;
$proxima-nova:                   ProximaNova, $pre-proxima-nova;

// Calendas Plus (default serif)
$pre-calendas-plus:              Georgia, "Times New Roman", Times, serif;
$calendas-plus:                  CalendasPlus, $pre-calendas-plus;

// Courier New (default monospace, websafe)
$monospace:                     "Courier New", Courier, monospace;

// Didot (large titles/callouts). Doesn't have a font-loading
// strategy nomenclature because it's hosted through typography.com
$didot:                         "Didot 96 A", "Didot 96 B", serif;

// Knockout (idk where I'm using this)
$knockout:                      "Knockout", $neue-haas-unica;

// Icon Font, needed for Winsome
$pre-ico:                        Arial;
$ico:                            Icomoon, $pre-ico;


/* Sizes

*/
$base-font-size:                 0.9em;
$base-line-height:               1.75;
$unitless-line-height:           $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height:             $base-font-size * 1.25;
$base-border-radius:             em(3);
$base-vertical-spacing:          0.5em;

$h1-font-size:                   $base-font-size * 3.25;
$h2-font-size:                   $base-font-size * 2;
$h3-font-size:                   $base-font-size * 1.75;
$h4-font-size:                   $base-font-size * 1.5;
$h5-font-size:                   $base-font-size * 1.25;
$h6-font-size:                   $base-font-size * 1.5;

// Display sizes
$blockquote-size:                $base-font-size * 3.25;

$light-weight:                   300;
$normal-weight:                  400;
$semibold-weight:                600;
$bold-weight:                    700;
$extra-bold-weight:              900;

// Adam Schwartz' smart underline mixin
@mixin text-underline-crop($background) {
  text-shadow:                  .03em 0 $background, 
                               -.03em 0 $background,
                                 0 .03em $background,
                                 0 -.03em $background,
                                .06em 0 $background,
                               -.06em 0 $background,
                                .09em 0 $background,
                               -.09em 0 $background,
                                .12em 0 $background,
                               -.12em 0 $background,
                                .15em 0 $background,
                               -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);
    
    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);
    
    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection){
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

@mixin gradient-text($text, $background, $gradient) {
  background: white;
  color: black;
  position: relative;
  
  // Hide aliased edges caused by mixing blend modes. Will appear as a faint dark outline on certain backgrounds. Tweak to improve rendering
    text-shadow: 
      1px  1px 0px $background,
      1px -1px 0px $background,
     -1px -1px 0px $background,
     -1px  1px 0px $background;
  
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    // Make cursor ignore these, allowing text underneath to be clicked and selected
    pointer-events: none;
  }
  
  &::before {
    // Gradient
    background: $gradient;
    content: '';
    display: block;
    mix-blend-mode: screen;
  }
}

.underline {
  text-decoration: underline;
}