---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: List Items &amp; Line Height
tags: [css, list-style-type, list-items]
description: "CSS USERS USE THIS ONE TRICK"
image:
  feature: soft-trees.jpg
---

Oft times I'll find that my list-items for whatever god damn reason have a little generated space underneath them. Normally this is fine, unless I'm trying to have an image in them:

![list items padding](/thoughts/assets/img/line-height.png)

The way you fix this is by setting your ```line-height``` to ```0```. Voilà friends.

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}