---
file: 14-11-list-items-and-line-height
title: "List Items & Line Height"
date: November 2014
imageClass: orb
description: CSS USERS USE THIS ONE TRICK
url: list-items-and-line-height
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>Oft times I'll find that my list-items for whatever god damn reason have a little generated space underneath them. Normally this is fine, unless I'm trying to have an image in them.</p>

    <p>The way you fix this is by setting your <code>line-height</code> to <code>0</code>. Voilà friends.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}