@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/variables';
@import '../../styles/font-face/neuehaasunica';
@import '../../styles/typography';
@import '../../styles/animations';

.letters-header {
  @include animation(open-up 1s ease);
  @include animation-fill-mode(forwards);

  background-image: linear-gradient( 
    to bottom,
    $brand-black 35%, white 35%, 
    white 35.25%, $brand-black 35.25%,
    $brand-black 57%, white 57%,
    white 57.5%, $brand-black 57.5%,
    $brand-black 62%, white 62%,
    white 63%, $brand-black 63%,
    $brand-black 65%, white 65%,
    white 67%, $brand-black 67%,
    $brand-black 67.75%, white 67.75%,
    white 75%, $brand-black 75%,
    $brand-black 75.25%, white 75.25%,
    white 92%, $brand-black 92%,
    $brand-black 92.1%, white 92.1% );
  background-size: 100% 75%;
  color: white;
  font-family: $mega-display;
  font-size: 14em;
  font-style: italic;
  line-height: 1;
  margin-top: -1px;
  min-height: 125vh;
  padding: 4% 0 7% 5%;
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.5s ease;

  svg {
    width: 80%;
  }
}

.letters-description {
  width: 30%;
  margin-left: 10%;
}

.letters-sf {
  margin: 10% auto 5% auto;
  width: 60%;
}

.letters-letras {
  float: left;
  margin: 5% 5%;
  width: 40%;
}

.letters-government {
  float: left;
  margin: 3% 15% 20% 15%;
  width: 18%;
}

.letters-i-forgot {
  margin: 5% auto;
  width: 30%;
}

.letters-millennial {
  float: left;
  margin: 20% 10%;
  width: 30%;
}

.letters-pianos {
  float: left;
  margin: 15% 10%;
  width: 30%;
}

.letters-lot {
  width: 60%;
  float: right;
  list-style-type: none;
  font-size: $h3-font-size;
  line-height: 3;
  margin: 0 10% 10% 0;
  text-transform: capitalize;

  &::before {
    border-bottom: 1px solid $brand-primary;
    border-top: 3px solid $brand-primary;
    content: '';
    display: block;
    height: 9px;
    margin: 15% auto;
    width: 25%;
  }

  a {
    color: $brand-gray-dark;
    transition: color 0.5s ease;

    &:hover {
      background: transparent;
      color: darken($brand-gray-dark, 15%);
    }
  }

  li {
    border-bottom: 2px solid $brand-gray-dark;
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
    width: 100%;
    outline-offset: 15px;

    &::before {
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: width 0s ease, background .5s ease;
      width: 0;
    }

    &::after {
      background: $brand-gray-dark;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      right: 0;
      transition: width .5s ease;
      width: 0;
    }

    &:hover {
      &::before {
        background: $brand-gray-dark;
        transition: width .5s ease;
        width: 100%;
      }

      &::after {
        background: transparent;
        transition: all 0s ease;
        width: 100%;
      }
    }
  }
}