{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/winsome/winsome.css">

  <div class="project">
    <div class="callout"><img src="/images/portfolio/firefox-swag/firefox.jpg"/></div>
    <div class="project-description">
      <div class="container">
        <div class="project-blurb">
          <h1 class="avenir-headers">Firefox Swag</h1>
          <p>Hey, I mean, because you need to be able to show off where you work, right? While working for Firefox I made swag for the Developer Tools team—enamel pins with a fox wearing a skull mask, “Motherfucking devtools” stickers, and anything else that “needed” to be made.
          </p>
        </div>
        <div class="detail"><img src="/images/portfolio/firefox-swag/detail.jpg"/></div>
      </div>
    </div>
    <div class="container">
      <div class="project-detail-50">
        <img src="/images/portfolio/firefox-swag/sticker.png"/>
      </div>
      <div class="project-detail-50">
        <img src="/images/portfolio/firefox-swag/sketches.png"/>
      </div>

      <p></p>

      <div class="callout separator">
        <img src="/images/portfolio/firefox-swag/wearing.jpg"/>
      </div>

      <div class="container">
        <p>Oh hello, you're here! Would you like to see <a href="/portfolio/firefox-social-media-campaign">another project?</a></p>
      </div>
    </div>
  </div>
{% endblock %}