---
file: 14-10-svn
title: SVN Thus Far
date: October 2014
imageClass: orb
description: "tl;dr: SVN is fucking the worst"
url: svn
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>I have by no means conquered SVN in the way that I normally barge into things, wanting to conqueror anything, everything, breaking shit, and peacing out. (Hey guys, want to hire me?) Anyway, SVN from what I can tell is Git's easier little brother that is terrible if you're a control freak and want intelligent version control. (I'm being disengenous because I obviously have a favorite, but whatever.)</p>

    <p>Learned as of now:</p>

    <p><code>git clone [repo-url]</code> : <code>svn checkout [repo-url]</code></p>

    <p><code>git pull</code> : <code>svn up</code></p>

    <p><code>git commit -m "[message]" && git push</code>: <code>svn commit -m "[message]"</code></p>

    <p>Also learned: old male developers will tell you not to use things unless you're a 'command line wizard' because they don't know how to use the command line. Leaving it at that.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}