/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.container {
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70%; }

.avenirnext-loaded .avenir-headers {
  font-weight: 700;
  font-family: AvenirNext, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase; }

.twitter {
  margin-bottom: 10em;
  text-align: center;
  font-style: italic;
  width: 100%; }

.project .container {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }

.project .well-made-images ~ p {
  flex: 0 1 100%;
  padding-left: 10%; }

@media screen and (min-width: 850px) {
  .project .well-made-images ~ p {
    flex: 0 1 50%; } }

.project p {
  flex: 0 1 100%;
  margin: 10% auto; }

@media screen and (min-width: 850px) {
  .project p {
    flex: 0 1 65%; } }

.project p img, .project p video {
  max-width: 100%;
  width: 100%; }

.callout {
  flex: 0 1 100%;
  position: relative;
  margin-top: 5%; }

@media screen and (min-width: 850px) {
  .callout {
    margin-top: 0; } }

.callout img, .callout video {
  max-width: 100%;
  width: 100%; }

.callout p {
  left: 0;
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
  z-index: 2; }

@media screen and (min-width: 850px) {
  .callout p {
    top: 80%; } }

.project-description {
  padding: 3em 0; }

@media screen and (min-width: 850px) {
  .project-description {
    padding: 6em; } }

.project-blurb {
  flex: 0 1 100%; }

.project-blurb p {
  margin: 2% auto; }

@media screen and (min-width: 850px) {
  .project-blurb {
    flex: 0 1 65%;
    margin-top: 5%; } }

.detail {
  display: none;
  flex: 0 1 20%; }

@media screen and (min-width: 850px) {
  .detail {
    display: block; } }

.detail img {
  max-width: 100%;
  padding: 2%; }

.project-detail-100 {
  align-self: flex-start;
  flex: 0 1 100%;
  margin-top: 10%; }

.project-detail-50 {
  align-self: flex-start;
  flex: 0 1 100%;
  margin-top: 10%;
  min-height: 250px;
  position: relative; }

@media screen and (min-width: 850px) {
  .project-detail-50 {
    flex: 0 1 48%; } }

.project-detail-50 img {
  max-width: 100%; }

.project-detail-50.winsome {
  background-color: #240eba;
  display: flex;
  justify-content: center;
  min-height: 300px;
  position: relative; }

.project-detail-50.winsome:nth-of-type(3) {
  background-color: #240eba; }

.project-detail-third {
  flex: 0 1 100%;
  margin-top: 10%; }

@media screen and (min-width: 850px) {
  .project-detail-third {
    flex: 0 1 30%; } }

.project-detail-third img {
  max-width: 100%; }

.well-made-images {
  flex: 0 1 100%;
  margin: 10% 0; }

@media screen and (min-width: 850px) {
  .well-made-images {
    flex: 0 1 50%; } }

.well-made-images .project-detail-third {
  float: left;
  width: 100%; }

@media screen and (min-width: 850px) {
  .well-made-images .project-detail-third {
    width: 50%; } }

.well-made-images .project-detail-third:nth-of-type(2) {
  float: left;
  margin-top: 15%;
  width: 100%; }

@media screen and (min-width: 850px) {
  .well-made-images .project-detail-third:nth-of-type(2) {
    width: 50%; } }

.well-made-images .project-detail-third:nth-of-type(3) {
  float: left;
  margin-top: 15%;
  width: 100%; }

@media screen and (min-width: 850px) {
  .well-made-images .project-detail-third:nth-of-type(3) {
    width: 35%;
    margin-top: -1.75%; } }

/* Anti-aliasing
   http://maximilianhoffmann.com/posts/better-font-rendering-on-osx

*/
/* Icon font call
   Only place this icon font actually gets used.
   Ugh, what a goddamn waste.

*/
.ico {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 2.925em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0 5px;
  speak: none;
  text-transform: none; }

.ico.-twitter:before, .ico.-twitter.x:after {
  content: "\e606"; }

/* Mountain illustration
   Lots'o'great things happening here, animation-wise

*/
.illustration {
  background-color: #240eba;
  height: 200px;
  position: relative; }

@media screen and (min-width: 850px) {
  .illustration {
    height: 275px; } }

.illustration svg {
  bottom: 0;
  display: block;
  fill: white;
  float: left;
  height: 150px;
  position: absolute;
  width: 100%; }

@-webkit-keyframes ripple {
  0% {
    opacity: auto; }
  50% {
    opacity: 0; }
  100% {
    opacity: auto; } }

@-moz-keyframes ripple {
  0% {
    opacity: auto; }
  50% {
    opacity: 0; }
  100% {
    opacity: auto; } }

@keyframes ripple {
  0% {
    opacity: auto; }
  50% {
    opacity: 0; }
  100% {
    opacity: auto; } }

.ring-1,
.ring-2,
.ring-3,
.ring-4,
.ring-5,
.ring-6 {
  -webkit-animation: ripple 3s ease infinite;
  -moz-animation: ripple 3s ease infinite;
  animation: ripple 3s ease infinite; }

.ring-1 {
  opacity: 1; }

.ring-2 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
  opacity: 0.8; }

.ring-3 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  opacity: 0.6; }

.ring-4 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
  opacity: 0.3; }

.ring-5 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0.2; }

.ring-6 {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s;
  opacity: 0.1; }

@-webkit-keyframes glide {
  0% {
    -webkit-transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(0px); } }

@-moz-keyframes glide {
  0% {
    -moz-transform: translateX(0px); }
  50% {
    -moz-transform: translateX(5px); }
  100% {
    -moz-transform: translateX(0px); } }

@keyframes glide {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px); }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); } }

.cloud-level-top {
  -webkit-animation: glide 6s ease-in-out infinite;
  -moz-animation: glide 6s ease-in-out infinite;
  animation: glide 6s ease-in-out infinite;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.cloud-level-middle {
  -webkit-animation: glide 4s ease-in-out infinite;
  -moz-animation: glide 4s ease-in-out infinite;
  animation: glide 4s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  opacity: 0.5; }

.cloud-level-bottom {
  -webkit-animation: glide 8s ease-in-out infinite;
  -moz-animation: glide 8s ease-in-out infinite;
  animation: glide 8s ease-in-out infinite;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
  opacity: 0.15; }

/* Poopy browser
   "Fail to load resource" 404 illustration

*/
.poopy-browser {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  border-radius: 10px;
  border: 3px solid white;
  height: 20%;
  min-height: 175px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 75%; }

@media screen and (min-width: 850px) {
  .poopy-browser {
    width: 55%; } }

.winsome-close, .minimize, .maximize {
  border-radius: 50%;
  border: 3px solid white;
  width: 5px;
  height: 5px;
  float: left;
  margin-right: 3%; }

.address-bar {
  width: 115%;
  margin-left: -7%;
  border-top: 3px solid white;
  margin-top: 20px; }

.x {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid white;
  top: 55%;
  margin-left: -30px;
  left: 50%;
  margin-top: -30px;
  position: absolute; }

.x:before, .x:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 40px;
  height: 3px;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -20px;
  background-color: white;
  content: '';
  display: block; }

.x:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* Long shadow
   These were already going out of style in 2013,
   but yeah whatever we were students

*/
.action-button {
  align-items: center;
  background-color: #2b11e0;
  border-radius: 50%;
  color: white;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
  display: block;
  z-index: 5; }

@media screen and (min-width: 850px) {
  .action-button {
    height: 210px;
    width: 210px; } }

.action-button:active:before, .action-button.x:active:after {
  -webkit-transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  background-color: #280fcd;
  box-shadow: inset -10px -10px 0 #220db1;
  width: calc(($size * 2.25) - 20%); }

.action-button:before, .action-button.x:after {
  height: -webkit-calc(200px - 20%);
  height: calc(200px - 20%);
  width: -webkit-calc(200px - 20%);
  width: calc(200px - 20%);
  box-shadow: 0px 0px #220db1, 1px 1px #220db1, 2px 2px #220db1, 3px 3px #220db1, 4px 4px #220db1, 5px 5px #220db1, 6px 6px #220db1, 7px 7px #220db1, 8px 8px #220db1, 9px 9px #220db1, 10px 10px #220db1, 11px 11px #220db1, 12px 12px #220db1, 13px 13px #220db1, 14px 14px #220db1, 15px 15px #220db1, 16px 16px #220db1, 17px 17px #220db1, 18px 18px #220db1, 19px 19px #220db1, 20px 20px #220db1, 21px 21px #220db1, 22px 22px #220db1, 23px 23px #220db1, 24px 24px #220db1, 25px 25px #220db1, 26px 26px #220db1, 27px 27px #220db1, 28px 28px #220db1, 29px 29px #220db1, 30px 30px #220db1, 31px 31px #220db1, 32px 32px #220db1, 33px 33px #220db1, 34px 34px #220db1, 35px 35px #220db1, 36px 36px #220db1, 37px 37px #220db1, 38px 38px #220db1, 39px 39px #220db1, 40px 40px #220db1, 41px 41px #220db1, 42px 42px #220db1, 43px 43px #220db1, 44px 44px #220db1, 45px 45px #220db1, 46px 46px #220db1, 47px 47px #220db1, 48px 48px #220db1, 49px 49px #220db1, 50px 50px #220db1, 51px 51px #220db1, 52px 52px #220db1, 53px 53px #220db1, 54px 54px #220db1, 55px 55px #220db1, 56px 56px #220db1, 57px 57px #220db1, 58px 58px #220db1, 59px 59px #220db1, 60px 60px #220db1, 61px 61px #220db1, 62px 62px #220db1, 63px 63px #220db1, 64px 64px #220db1, 65px 65px #220db1, 66px 66px #220db1, 67px 67px #220db1, 68px 68px #220db1, 69px 69px #220db1, 70px 70px #220db1, 71px 71px #220db1, 72px 72px #220db1, 73px 73px #220db1, 74px 74px #220db1, 75px 75px #220db1, 76px 76px #220db1, 77px 77px #220db1, 78px 78px #220db1, 79px 79px #220db1, 80px 80px #220db1, 81px 81px #220db1, 82px 82px #220db1, 83px 83px #220db1, 84px 84px #220db1, 85px 85px #220db1, 86px 86px #220db1, 87px 87px #220db1, 88px 88px #220db1, 89px 89px #220db1, 90px 90px #220db1, 91px 91px #220db1, 92px 92px #220db1, 93px 93px #220db1, 94px 94px #220db1, 95px 95px #220db1, 96px 96px #220db1, 97px 97px #220db1, 98px 98px #220db1, 99px 99px #220db1, 100px 100px #220db1, 101px 101px #220db1, 102px 102px #220db1, 103px 103px #220db1, 104px 104px #220db1, 105px 105px #220db1, 106px 106px #220db1, 107px 107px #220db1, 108px 108px #220db1, 109px 109px #220db1, 110px 110px #220db1, 111px 111px #220db1, 112px 112px #220db1, 113px 113px #220db1, 114px 114px #220db1, 115px 115px #220db1, 116px 116px #220db1, 117px 117px #220db1, 118px 118px #220db1, 119px 119px #220db1, 120px 120px #220db1, 121px 121px #220db1, 122px 122px #220db1, 123px 123px #220db1, 124px 124px #220db1, 125px 125px #220db1;
  -webkit-transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
  background-color: #240eba;
  border-radius: 50%;
  content: '';
  display: block;
  margin-top: 10%;
  position: absolute;
  margin-left: -webkit-calc(50% - ((200px - 20%)/2));
  margin-left: calc(50% - ((200px - 20%)/2)); }

@media screen and (min-width: 850px) {
  .action-button:before, .action-button.x:after {
    height: -webkit-calc((200px*1.05) - 20%);
    height: calc((200px*1.05) - 20%);
    width: -webkit-calc((200px*1.05) - 20%);
    width: calc((200px*1.05) - 20%);
    margin-left: 16%;
    margin-left: -webkit-calc(50% - (((200px*1.05) - 20%)/2));
    margin-left: calc(50% - (((200px*1.05) - 20%)/2)); } }

.action-button:active .twitter {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  fill: white; }

@media screen and (min-width: 850px) {
  .action-button:hover {
    cursor: pointer; }
  .action-button:hover .twitter {
    -webkit-transition: all 0.09s ease 0s;
    -moz-transition: all 0.09s ease 0s;
    transition: all 0.09s ease 0s;
    font-size: 6em;
    margin-left: 27%;
    margin-top: 28%; } }

@media screen and (min-width: 850px) and (min-width: 850px) {
  .action-button:hover .twitter {
    font-size: 2.6em; } }

.action-button .twitter {
  font-size: 2.35em;
  margin-left: 28%;
  margin-top: 29%;
  overflow: hidden;
  position: absolute; }

@media screen and (min-width: 850px) {
  .action-button .twitter {
    font-size: 2.5em; } }

.action-button .twitter .ico {
  color: white;
  overflow: hidden;
  z-index: 6; }

.login {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center; }
