---
file: 14-12-how-to-force-a-refresh
title: How to Force a Favicon Refresh
date: December 2014
imageClass: orb
description: Every damn time
url: how-to-force-a-refresh
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>From this <a href="http://stackoverflow.com/questions/2208933/how-do-i-force-a-favicon-refresh">Stackoverflow Post</a>: </p>

    <p>"To refresh your site's favicon you can force browsers to download a new version using the link tag and a querystring on your filename. This is especially helpful in production environments to make sure your users get the update."</p>

    <p><code>&lt;link rel="shortcut icon" href="http://www.yoursite.com/favicon.ico?v=2" /&gt;</code></p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}