/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
/* Sizes

*/
.underline {
  text-decoration: underline; }

.canvas {
  width: 100vw;
  height: 75vh;
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(205, 92, 92, 0.25), white);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(205, 92, 92, 0.25), white);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(205, 92, 92, 0.25), white);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(205, 92, 92, 0.25), white);
  /* Standard syntax */
  display: flex;
  justify-content: center; }

svg {
  fill: indianred;
  width: 100vw;
  height: 100vh; }

.canvas-text {
  align-self: center;
  background-color: indianred;
  padding: 0 2%;
  color: white;
  flex: 0 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 4em !important;
  position: absolute;
  z-index: 1; }

.avenirnext-loaded .canvas-text, .avenirnext-loaded .avenir-headers {
  font-weight: 700;
  font-family: AvenirNext, -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase; }

.container {
  margin: auto;
  clear: both;
  width: 35%; }

.container section {
  clear: both;
  margin-top: 20%; }

.container section:first-of-type {
  margin-top: 0; }

/* Interactive Firefox Devtools Demo
   JUST WHEN I THOUGHT I WAS DONE

*/
@keyframes icon-bounce-in {
  0% {
    opacity: 0;
    transform-origin: bottom bottom;
    transform: translateY(5px);
    width: 15px; }
  50% {
    opacity: 1;
    transform-origin: bottom bottom;
    transform: translateY(-3px);
    width: 15px; }
  100% {
    transform-origin: bottom bottom;
    transform: translateY(0);
    width: 15px; } }

@keyframes icon-bounce-out {
  0% {
    opacity: 1;
    transform-origin: top top;
    transform: translateY(0);
    width: 15px; }
  50% {
    opacity: 1;
    transform-origin: top top;
    transform: translateY(-3px);
    width: 15px; }
  100% {
    opacity: 0;
    transform-origin: top top;
    transform: translateY(5px);
    width: 15px; } }

@keyframes icon-no-change {
  from {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 15px; }
  to {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 15px; } }

@keyframes icon-grow {
  0% {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 17px; }
  50% {
    transform-origin: bottom bottom;
    transform: scale3d(1.2, 1.2, 1.2);
    margin-left: -1px;
    margin-top: 3px;
    width: 17px; }
  100% {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 17px; } }

.firefox-devtools {
  margin: 0 auto 7% auto;
  outline: 1px solid #dde1e4;
  width: 70vw; }

.firefox-devtools svg {
  height: 100%;
  width: 100%; }

.hotspot {
  cursor: pointer;
  opacity: 0.75;
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  z-index: 2; }

.hotspot:hover {
  opacity: 1; }

.hotspot-info {
  display: none;
  color: indianred;
  background-color: white;
  outline: 4px solid indianred;
  padding: 5px;
  position: relative;
  margin-left: -48%;
  margin-top: 40px;
  width: 250px; }

.hotspot-info::after {
  border-bottom: 30px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -7.5px;
  position: absolute;
  top: -30px;
  width: 0; }

.hotspot-info::before {
  border-bottom: 40px solid indianred;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -12.5px;
  position: absolute;
  top: -40px;
  width: 0; }

.nav {
  align-content: center;
  align-items: stretch;
  background-color: #fcfcfc;
  border-bottom: 1px solid #dde1e4;
  color: #696969;
  display: flex;
  flex-direction: row;
  height: 40px;
  position: relative;
  width: 100%; }

.nav .hotspot:first-of-type {
  top: 5px;
  left: 3.5%; }

.nav .hotspot:nth-of-type(2) {
  top: 5px;
  right: 6.5%; }

.nav .hotspot:nth-of-type(3) {
  top: 7px;
  left: 32%; }

.command-pick {
  align-self: center;
  border-right: 1px solid #dde1e4;
  float: left;
  padding: 0 15px;
  margin-top: 3px; }

.panels {
  flex: 0 1 70%; }

.panel-item {
  cursor: pointer;
  flex: 0 1 15%;
  float: left;
  padding: 7px 0 10px 9px;
  min-width: 112px;
  max-width: 117px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease; }

.panel-item:hover {
  color: #0996f8; }

.panel-item:active {
  color: #0996f8; }

.panel-item.active {
  color: #0996f8; }

.box {
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  float: left;
  margin-top: -1px;
  position: absolute;
  transition: all 0.4s easeinout; }

.icon-in {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  animation-name: icon-bounce-in;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.415, 0.61, 0.855, 1);
  height: 20px;
  margin-top: 2.5px;
  transform-origin: bottom bottom;
  width: 30px; }

.icon-grow {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  -o-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transform-origin: bottom bottom;
  -moz-transform-origin: bottom bottom;
  -ms-transform-origin: bottom bottom;
  -o-transform-origin: bottom bottom;
  transform-origin: bottom bottom;
  animation-name: icon-grow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: easeinout;
  margin-top: 3px;
  margin-left: -1px;
  width: 17px; }

.icon-out {
  -webkit-transform-origin: bottom bottom;
  -moz-transform-origin: bottom bottom;
  -ms-transform-origin: bottom bottom;
  -o-transform-origin: bottom bottom;
  transform-origin: bottom bottom;
  animation-name: icon-bounce-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: easeinout;
  margin-top: 2.5px;
  opacity: 0;
  transform: scale3d(1, 1, 1);
  width: 15px; }

.icons {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex: 0 1 30%;
  padding-right: 10px; }

.icon {
  flex: 0 1 auto; }

.secondary-menu {
  padding: 0 5px; }

main {
  display: flex;
  justify-content: center; }

.inspector {
  flex: 1 1 65%; }

.inspector img {
  width: 100%; }

.rules-area {
  flex: 1 1 43%;
  border-left: 1px solid #dde1e4;
  position: relative; }

.rules-area img {
  width: 100%; }

.rules-area .hotspot:first-of-type {
  top: 5px;
  left: 3%; }

.rules-area .hotspot:nth-of-type(2) {
  top: 76%;
  left: 23%; }
