/* Grid
   Grid settings through Bourbon Neat.
   https://github.com/thoughtbot/neat#using-neat

   Color variables are stored in _color.scss.

   Typography variables are stored in _typography.scss.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Color

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Typography variables are stored in _typography.scss.
*/
/* Typography

   Grid/breakpoints variables are stored in _grid_settings.scss.

   Color variables are stored in _color.scss.
*/
.underline {
  text-decoration: underline; }

.portfolio {
  flex-wrap: wrap; }

.portfolio h1 {
  flex: 0 1 85%;
  font-family: Arial, sans-serif, sans-serif;
  font-size: 4.3875em;
  font-style: normal;
  font-weight: 900;
  line-height: 1.2em;
  margin-top: 10%; }

@media screen and (min-width: 850px) {
  .portfolio h1 {
    font-size: 8.775em;
    margin-top: 2%; } }

.portfolio .cds {
  align-self: flex-start;
  flex: 0 1 15%;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: 7%; }

.portfolio p {
  flex: 0 1 100%;
  font-family: Arial, sans-serif, sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0 auto 8% auto; }

.cd-1 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.05;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%;
  margin-top: 0; }

@media screen and (min-width: 850px) {
  .cd-1 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-1:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-1:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-1 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-1 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-2 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.1;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-2 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-2:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-2:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-2 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-2 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-3 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.2;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-3 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-3:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-3:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-3 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-3 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-4 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.4;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-4 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-4:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-4:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-4 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-4 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-5 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.5;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-5 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-5:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-5:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-5 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-5 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-6 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.7;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-6 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-6:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-6:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-6 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-6 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-7 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 0.8;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-7 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-7:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-7:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-7 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-7 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.cd-8 {
  background-color: white;
  border-radius: 50%;
  border: 1px solid indianred;
  float: right;
  height: 50px;
  opacity: 1;
  position: relative;
  width: 50px;
  z-index: 1;
  margin-top: 150%; }

@media screen and (min-width: 850px) {
  .cd-8 {
    height: 100px;
    width: 100px;
    margin-top: 35%; } }

.cd-8:before {
  background-color: indianred;
  border-radius: 50%;
  border: 2px solid white;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  position: absolute;
  top: 50%;
  width: 45px;
  z-index: -1; }

@media screen and (min-width: 850px) {
  .cd-8:before {
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    width: 90px; } }

.cd-8 .innard {
  background-color: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px; }

@media screen and (min-width: 850px) {
  .cd-8 .innard {
    height: 25px;
    margin-left: -12.5px;
    margin-top: -12.5px;
    width: 25px; } }

.project h2 {
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  text-transform: uppercase; }

.project hr {
  border-color: indianred; }

.projects {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 70%; }

.projects img {
  max-width: 100%;
  width: 100%; }

.projects .game-of-thrones {
  flex: 0 1 100%; }

@media screen and (min-width: 850px) {
  .projects .game-of-thrones {
    flex: 0 1 70%; } }

.projects .well-made-co, .projects .winsome {
  align-self: flex-start;
  flex: 0 1 100%;
  margin-top: 10%; }

@media screen and (min-width: 850px) {
  .projects .well-made-co, .projects .winsome {
    flex: 0 1 48%; } }

.projects-right {
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 15%; }

.projects-right img {
  max-width: 100%;
  width: 100%; }

.projects-right .united {
  flex: 0 1 100%;
  float: right;
  margin: 10% 0; }

@media screen and (min-width: 850px) {
  .projects-right .united {
    flex: 0 1 70%; } }

a.project {
  color: #434242 !important; }

a.project:hover {
  color: #434242;
  text-decoration: none; }

a.project:hover h2 {
  color: indianred;
  text-decoration: underline; }
