@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

.canvas {
  width: 100vw;
  height: 75vh;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(205, 92, 92, 0.25), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(205, 92, 92, 0.25), white); /* Standard syntax */
  display: flex;
  justify-content: center;
}

svg {
  fill: $brand-primary;
  width: 100vw;
  height: 100vh;
}

.canvas-text {
  align-self: center;
  background-color: $brand-primary;
  padding: 0 2%;
  color: white;
  flex: 0 0 auto;
  font-family: $pre-avenir-next;
  font-size: 4em !important;
  position: absolute;
  z-index: 1;
}

.avenirnext-loaded .canvas-text, .avenirnext-loaded .avenir-headers {
  font-weight: 700;
  font-family: $avenir-next;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

.container {
  clear: both;
  margin: auto;
  text-align: justify;
  width: 35%;

  section {
    clear: both;
    margin-top: 20%;
  }
}

/* Interactive Firefox Devtools Demo
   JUST WHEN I THOUGHT I WAS DONE

*/
$theme-splitter-color: #dde1e4;
$theme-body-color: #393f4c;
$theme-toolbar-background: #fcfcfc;
$theme-selection-background: #0996f8;

// Grays
$theme-gray-1: #f3f3f3;
$theme-gray-2: #dde1e4;

@keyframes icon-bounce-in {
  0% {
    opacity: 0;
    transform-origin: bottom bottom;
    transform: translateY(5px);
    width: 15px;
 }

  50% {
    opacity: 1;
    transform-origin: bottom bottom;
    transform: translateY(-3px);
    width: 15px;
  }
  
  100% {
    transform-origin: bottom bottom;
    transform: translateY(0);
    width: 15px;
 }
}

@keyframes icon-bounce-out {
  0% {
    opacity: 1;
    transform-origin: top top;
    transform: translateY(0);
    width: 15px;
 }

  50% {
    opacity: 1;
    transform-origin: top top;
    transform: translateY(-3px);
    width: 15px;
  }
  
  100% {
    opacity: 0;
    transform-origin: top top;
    transform: translateY(5px);
    width: 15px;
  }
}

@keyframes icon-no-change {
  from {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 15px;
 }

  to {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 15px;
  }
}

@keyframes icon-grow {
  0% {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 17px;
 }

  50% {
    transform-origin: bottom bottom;
    transform: scale3d(1.2, 1.2, 1.2);
    margin-left: -1px;
    margin-top: 3px;
    width: 17px;
  }
  
  100% {
    transform-origin: bottom bottom;
    transform: scale3d(1, 1, 1);
    width: 17px;
 }
}

.firefox-devtools {
  margin: 0 auto 7% auto;
  outline: 1px solid $theme-splitter-color;
  width: 70vw;

  svg {
    height: 100%;
    width: 100%;
  }
}

.hotspot {
  cursor: pointer;
  opacity: 0.75;
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  width: 24px;
  z-index: 2;

  &:hover {
    opacity: 1;
  }
}

.avenirnext-loaded {
  .hotspot-info {
    font-family: $avenir-next;
  }
}

.hotspot-info {
  align-items: center;
  background-color: white;
  color: $brand-primary;
  display: flex;
  font-family: $pre-avenir-next;
  font-weight: bold;
  justify-content: center;
  margin-left: -96px;
  margin-top: 40px;
  outline: 4px solid $brand-primary;
  padding: 5px 10px;
  position: relative;
  width: 200px;

  &::after {
    border-bottom: 30px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -7.5px;
    position: absolute;
    top: -30px;
    width: 0;
  }

  &::before {
    border-bottom: 40px solid $brand-primary;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -12.5px;
    position: absolute;
    top: -40px;
    width: 0;
  }

  a {
    background-image: none;
    flex: 1 1 70%;
  }
}

.outside-link {
  flex: 1 1 30%;
  margin-right: 1%;
  margin-left: 3px;
  max-width: 16px;
  transition: opacity 0.15s ease-in-out;
}

.inside-link {
  flex: 1 1 30%;
  margin-right: 2%;
  margin-left: 3px;
  max-width: 20px;
  transition: opacity 0.15s ease-in-out;
}

.nav {
  align-content: center;
  align-items: stretch;
  background-color: $theme-toolbar-background;
  border-bottom: 1px solid $theme-splitter-color;
  color: #696969;
  display: flex;
  flex-direction: row;
  height: 40px;
  position: relative;
  width: 100%;
  
  .hotspot:first-of-type {
    top: 5px;
    left: 3.5%;
  }
  
  .hotspot:nth-of-type(2) {
    top: 5px;
    right: 6.5%;
  }
  
  .hotspot:nth-of-type(3) {
    top: 7px;
    left: 32%;
  }
}

.command-pick {
  align-self: center;
  border-right: 1px solid $theme-splitter-color;
  float: left;
  padding: 0 15px;
  margin-top: 3px;
}

.panels {
  flex: 0 1 70%;
}

.panel-item {
  cursor: pointer; // in devtools they're links, n'est-ce pas?
  flex: 0 1 15%;
  float: left;
  padding: 7px 0 10px 9px;
  min-width: 112px;
  max-width: 117px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease;
  
  &:hover {
    color: $theme-selection-background;
  }
  
  &:active {
    color: $theme-selection-background;
  }
  
  &.active {
    color: $theme-selection-background;
  }
}

.box {
  @include transform(scale3d(0, 0, 0));

  float: left;
  margin-top: -1px;
  position: absolute;
  transition: all 0.4s easeinout;
}

.icon-in {
  @include transform(scale3d(1, 1, 1));

  animation-name: icon-bounce-in;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.415, 0.610, 0.855, 1.000);
  height: 20px;
  margin-top: 2.5px;
  transform-origin: bottom bottom;
  width: 30px;
}

.icon-grow {
  @include transform(scale3d(1.1, 1.1, 1.1));
  @include transform-origin(bottom bottom);

  animation-name: icon-grow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: easeinout;
  margin-top: 3px;
  margin-left: -1px;
  width: 17px;
}

.icon-out {
  @include transform-origin(bottom bottom);

  animation-name: icon-bounce-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: easeinout;
  margin-top: 2.5px;
  opacity: 0;
  transform: scale3d(1, 1, 1);
  width: 15px;
}

.icons {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex: 0 1 30%;
  padding-right: 10px;
}

.icon {
  flex: 0 1 auto;
}

.secondary-menu {
  padding: 0 5px;
}

main {
  display: flex;
  justify-content: center;
}

.inspector {
  flex: 1 1 65%;
  
  img {
    width: 100%;
  }
}

.rules-area {
  flex: 1 1 43%;
  border-left: 1px solid $theme-splitter-color;
  position: relative;
  
  img {
    width: 100%;
  }
  
  .hotspot:first-of-type {
    top: 5px;
    left: 3%;
  }
  
  .hotspot:nth-of-type(2) {
    top: 76%;
    left: 23%;
  }
}

/* Carousel Frame styles
   You'll know soon enough.

*/

.public-speaking-header {
  margin-top: 20%;
}

.slide {
  height: 194px !important;

  img {
    width: 100%;
  }
}

.slide-1 {
  width: 346px !important;
}

.slide-2 {
  width: 343px !important;
}

.slide-3 {
  width: 287px !important;
}

.slide-4 {
  width: 346px !important;
}

.slide-5 {
  width: 347px !important;
}

.portfolio-review {
  margin: 10% auto 100% auto;
  position: relative;
  text-align: justify;

  .portfolio-copy {
    float: left;
    margin-left: 15%;
    margin-right: 10%;
    width: 30%;
  }

  .portfolio-images {
    float: left;
    width: 30%;

    img {
      width: 100%;
    }
  }
}