{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/lets-work-together/lets-work-together.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


  <section class="canvas">
    <h1 class="canvas-text avenir-headers">Let's Work Together</h1>
  </section>

  <div id="explosion">
    <ul id="domExplosionList">
      <li class="item dei-2 line line-2"></li>
      <li class="item dei-3 line line-3"></li>
      <li class="item dei-4 line line-4"></li>
      <li class="item dei-5 line line-5"></li>
    </ul>
  </div>

  <div class="container">
    <section class="about-me">
      <p>I specialize in experience and interaction design—web, native, and hardware experiences. Some of my previous clients have included <a href="https://githubuniverse.com/satellite/" target="_blank">Github</a>, Heroku, <a href="https://hacks.mozilla.org/2016/12/css-grid-and-grid-highlighter-now-in-firefox-developer-edition/" target="_blank">Mozilla</a> <a href="https://hacks.mozilla.org/2016/11/new-responsive-design-mode-rdm-lands-in-firefox-dev-tools/" target="_blank">Firefox</a>, and Capital One. I also do branding and illustration.</p>

      <p>If you think I’d be a good fit for your project, I encourage you to check out my case studies below. If you’re already convinced, let’s chat via <a href="mailto:helen.v.holmes@gmail.com">email</a>.</p>
    </section>
  </div>

  <section class="portfolio-review">
    <a href="/portfolio/firefox-swag">
      <img src="/images/lets-work-together/firefox.jpg" />
    </a>

    <a href="https://githubuniverse.com/satellite/" target="_blank" class="outside-link">
      <div class="project-role">
        <img src="/images/outside-link-white.png" />
        <span>Front End Developer</span>
      </div>

      <img src="/images/lets-work-together/satellite.png" class="screenshot" />
    </a>

    <a href="https://hacks.mozilla.org/2016/12/css-grid-and-grid-highlighter-now-in-firefox-developer-edition/" target="_blank" class="outside-link">
      <div class="project-role">
        <img src="/images/outside-link-white.png" />
        <span>Senior UX Designer</span>
      </div>

      <img src="/images/lets-work-together/grid-tooling.png" class="screenshot" />
    </a>

    <a href="/portfolio/firefox-social-media-campaign">
      <img src="/images/lets-work-together/firefox-social-media.jpg" />
    </a>

    <a href="/portfolio/game-of-thrones">
      <img src="/images/lets-work-together/gameofthrones.jpg" />
    </a>

    <a href="/portfolio/united">
      <img src="/images/lets-work-together/united.jpg" />
    </a>

    <a href="/portfolio/well-made-co">
      <img src="/images/lets-work-together/wellmadeco.jpg" />
    </a>

    <a href="/portfolio/winsome">
      <img src="/images/lets-work-together/winsome.jpg" />
    </a>
  </section>

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="/javascripts/petri.js"></script>
{% endblock %}