html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: NeueHaasUnica;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NeueHaasUnicaW1G-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/NeueHaasUnicaW1G-Regular.woff2") format("woff2"), url("/fonts/NeueHaasUnicaW1G-Regular.woff") format("woff"), url("/fonts/NeueHaasUnicaW1G-Regular.ttf") format("truetype"), url("/fonts/NeueHaasUnicaW1G-Regular.svg#NeueHaasUnica") format("svg"); }

.underline {
  text-decoration: underline; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fade-in-and-down {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-moz-keyframes fade-in-and-down {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade-in-and-down {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes link-underlines {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white; }
  50% {
    border-bottom-color: white;
    border-top-color: peru; }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: peru; } }

@-moz-keyframes link-underlines {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white; }
  50% {
    border-bottom-color: white;
    border-top-color: peru; }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: peru; } }

@keyframes link-underlines {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white; }
  50% {
    border-bottom-color: white;
    border-top-color: peru; }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: peru; } }

@-webkit-keyframes rainbow-colors {
  0% {
    color: #4A90E2; }
  17% {
    color: #60e6e4; }
  34% {
    color: #59e48c; }
  51% {
    color: #e1e570; }
  68% {
    color: #ea886d; }
  85% {
    color: #ea75e3; }
  100% {
    color: #8e7fe8; } }

@-moz-keyframes rainbow-colors {
  0% {
    color: #4A90E2; }
  17% {
    color: #60e6e4; }
  34% {
    color: #59e48c; }
  51% {
    color: #e1e570; }
  68% {
    color: #ea886d; }
  85% {
    color: #ea75e3; }
  100% {
    color: #8e7fe8; } }

@keyframes rainbow-colors {
  0% {
    color: #4A90E2; }
  17% {
    color: #60e6e4; }
  34% {
    color: #59e48c; }
  51% {
    color: #e1e570; }
  68% {
    color: #ea886d; }
  85% {
    color: #ea75e3; }
  100% {
    color: #8e7fe8; } }

.letters-header {
  background-image: linear-gradient(to bottom, #434242 35%, white 35%, white 35.25%, #434242 35.25%, #434242 57%, white 57%, white 57.5%, #434242 57.5%, #434242 62%, white 62%, white 63%, #434242 63%, #434242 65%, white 65%, white 67%, #434242 67%, #434242 67.75%, white 67.75%, white 75%, #434242 75%, #434242 75.25%, white 75.25%, white 92%, #434242 92%, #434242 92.1%, white 92.1%);
  color: white;
  font-family: "Didot 96 A", "Didot 96 B", serif;
  font-size: 14em;
  font-style: italic;
  line-height: 1;
  margin-top: -1px;
  padding: 4% 0 7% 5%;
  position: relative;
  text-transform: uppercase; }

.letters-header .first-word, .letters-header .second-word, .letters-header .third-word, .letters-header .last-word {
  -webkit-animation: fade-in 0.25s ease;
  -moz-animation: fade-in 0.25s ease;
  animation: fade-in 0.25s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }

.letters-header .first-word {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.letters-header .second-word {
  -webkit-animation-delay: 0.14s;
  -moz-animation-delay: 0.14s;
  animation-delay: 0.14s; }

.letters-header .third-word {
  -webkit-animation-delay: 0.17s;
  -moz-animation-delay: 0.17s;
  animation-delay: 0.17s; }

.letters-header .last-word {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  color: #434242; }

.letters-description {
  width: 30%;
  margin-left: 10%; }

.letters-sf {
  margin: 10% auto 5% auto;
  width: 60%; }

.letters-letras {
  float: left;
  margin: 5% 5%;
  width: 40%; }

.letters-government {
  float: left;
  margin: 3% 15% 20% 15%;
  width: 18%; }

.letters-i-forgot {
  margin: 5% auto;
  width: 30%; }

.letters-millennial {
  float: left;
  margin: 20% 10%;
  width: 30%; }

.letters-pianos {
  float: left;
  margin: 15% 10%;
  width: 30%; }

.letters-lot {
  width: 60%;
  float: right;
  list-style-type: none;
  font-size: 1.575em;
  line-height: 3;
  margin: 0 10% 10% 0;
  text-transform: capitalize; }

.letters-lot::before {
  border-bottom: 1px solid peru;
  border-top: 3px solid peru;
  content: '';
  display: block;
  height: 9px;
  margin: 15% auto;
  width: 25%; }

.letters-lot a {
  color: #959595;
  transition: color 0.5s ease; }

.letters-lot a:hover {
  background: transparent;
  color: #6f6f6f; }

.letters-lot li {
  border-bottom: 2px solid #959595;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  width: 100%;
  outline-offset: 15px; }

.letters-lot li::before {
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: width 0s ease, background .5s ease;
  width: 0; }

.letters-lot li::after {
  background: #959595;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  transition: width .5s ease;
  width: 0; }

.letters-lot li:hover::before {
  background: #959595;
  transition: width .5s ease;
  width: 100%; }

.letters-lot li:hover::after {
  background: transparent;
  transition: all 0s ease;
  width: 100%; }
