{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/home/index.css">

  <div class="home">
    <div class="sheets">
      <amp-img
        class="sheets-image"
        src="images/home/sheets.jpg"
        srcset="images/home/sheets.jpg 1x, images/home/sheets.jpg 2x"
        placeholder
        alt="There's gold in the early morning."
        width="1500px" height="975px" layout="responsive">
      </amp-img>

      <blockquote class="sheets-quote">“There were days when he touched the tip of her nose and it was enough, a miracle of plenty.”
        <div class="sheets-quote-attribution"> <em>—Oyeyemi</em></div>
      </blockquote>

    </div>
    <div class="cluster">
      <div class="images">
        <amp-img
          class="cluster-one"
          src="images/home/charlemagne.jpg"
          srcset="images/home/charlemagne.jpg 1x, images/home/charlemagne.jpg 2x"
          placeholder
          alt="Don't you just want to fix her ear?"
          width="346px" height="260px" layout="responsive">
        </amp-img>
        <amp-img
          class="cluster-two"
          src="images/home/teepee.jpg"
          srcset="images/home/teepee.jpg 1x, images/home/teepee.jpg 2x"
          placeholder
          alt="Hm, wonder what happened to this thing."
          width="274px" height="205px" layout="responsive">
        </amp-img>
        <amp-img
          class="cluster-three"
          src="images/home/workspace.jpg"
          srcset="images/home/workspace.jpg 1x, images/home/workspace.jpg 2x"
          placeholder
          alt="Hm, wonder what happened to this thing."
          width="273px" height="180px" layout="responsive">
        </amp-img>
      </div>
      <div class="description">
        <p>Hi friends. Figuring out what to write here has never been my forté, so please be patient. I always liked calling myself a generalist or Helen or nothing at all but most places I’ve worked haven’t let me have any of those as a title. (Most, meaning, that one place did let me be an official ‘Helen’ on staff. Can you imagine? I like to pretend that they had to awkwardly explain it to a client at some point or another, but alas, if they ever did, that particular story never circled back to me.) </p>
        <p>I’ve wanted nothing more than to create beautiful things; of course, no one tells you how hard it is to create beautiful things. Or maybe they did, and my brain just edited it out. I’m sure you’ve experienced this. Or maybe not. I shouldn’t assume.</p>
        <p>When I was eight or so, I took apart a cuckoo clock in my grandparents’ house. Instead of getting angry, they thought I would grow up to be an engineer or something akin to it despite that I spent most of my time setting up in the woods to draw with colored pencils and reading books and writing fanfiction. It was fanciful thinking to say the least. Even though I spend a lot of time coding these days I would be lying if I said coding for coding’s sake was what I wanted to be doing. I’m nervous you’ll think me clichéd but I like the storytelling. (Should I have said it?) I should mention I was not able to put the cuckoo clock back together again. Imagine if I’d done that with a bridge or something. Engineer indeed.</p>
      </div>

      <div class="my-face">
        <amp-img
          class="cluster-three"
          src="images/home/autoportrait.png"
          srcset="images/home/autoportrait.png 1x, images/home/autoportrait.png 2x"
          placeholder
          alt="Sheesh, how dramatic."
          width="204px" height="204px" layout="responsive">
        </amp-img>
      </div>
    </div>

    <amp-img
      class="corridor"
      src="images/home/corridor.jpg"
      srcset="images/home/corridor.jpg 1x, images/home/corridor.jpg 2x"
      placeholder
      alt="Sheesh, how dramatic."
      width="905px" height="679px" layout="responsive">
    </amp-img>
  </div>
{% endblock %}