@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/typography';
@import '../../styles/variables';

// Index2.html

.ocean {
  display: none;
  text-align: center;
  width: 80%;

  @include media($nine-col) {
    display: block;
  }
}

.ocean-image {
  float: left;
  margin-top: 0;
  margin-bottom: 1%;
  width: 100%;
}

.ocean-quote {
  background-color: white;
  color: $brand-blacker;
  display: block;
  font-family: $display-sans;
  font-size: $h3-font-size;
  font-weight: $extra-bold-weight;
  margin-top: 8%;
  padding: 5% 4% 20% 5%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.me-i-guess {
  display: flex;
  justify-content: space-around;
  
  @include media($nine-col) {
    margin-top: 10%;
  }
}

.intro {
  flex: 0 1 70%;
  padding: 0 5%;
  
  @include media($nine-col) {
    flex: 0 1 25%;
    margin-top: 10%;
    padding: 0;
  }
}

.cool-ass-photos {
  flex: 0 1 30%;

  & > div {
    margin-top: 25%;
  }

  @include media($nine-col) {
    flex: 0 1 auto;
  }
}

.blank {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $monospace;
}

.dead-plant {
  margin: auto;
  text-align: center;
  width: 30%;

  img {
    margin-bottom: 5%;
  }
}
