---
file: 14-12-emojis
title: "Emojis!"
date: December 2014
imageClass: orb
description: Using Emojis on a Mac Because
url: emojis
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>I always forget how to bring up the Emoji keyboard, so here's that command: </p>

    <p><code>Command-Control-Space</code> <a href="http://www.macosxtips.co.uk/index_files/secret-shortcut-to-use-emoji-in-mavericks.php" target="_blank">(source)</a></p>

    <p>If you haven't had enough of emojis, though, this article from <a href="https://twitter.com/holman" target="_blank">@holman</a> is frickin' awesome: <a href="http://zachholman.com/posts/abusing-emoji/" target="_blank">Abusing Emoji in iOS and Your Mac</a></p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}