---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: Emojis!
description: Using Emojis on a Mac Because
tags: [emojis, mac]
---

I always forget how to bring up the Emoji keyboard, so here's that command: 

```Command-Control-Space``` [(source)](http://www.macosxtips.co.uk/index_files/secret-shortcut-to-use-emoji-in-mavericks.php)

If you haven't had enough of emojis, though, this article from [@holman](https://twitter.com/holman) is frickin' awesome: [Abusing Emoji in iOS and Your Mac](http://zachholman.com/posts/abusing-emoji/) 

  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}