{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/winsome/winsome.css">

  <div class="project">
    <div class="callout"><img src="/images/portfolio/united/united--billboard.jpg"/></div>
    <div class="project-description">
      <div class="container">
        <div class="project-blurb">
          <h1 class="avenir-headers">United</h1>
          <p>Our professor looks at us and says, <em>Choose a company to rebrand, and make it a huge company. Go big. </em>Of course I turn around and choose an airline monolith, which was the most <em>reasonable </em>of all my choices at that.
            Needless to say I've always enjoyed a challenge. I created a robust branding system and an iPhone app to imagine how United might bring its brand into the future.
          </p>
        </div>
        <div class="detail"><img src="/images/portfolio/united/detail.jpg"/></div>
      </div>
    </div>
    <div class="container">
      <div class="project-detail-50"><img src="/images/portfolio/united/united--booklet.jpg"/></div>
      <div class="project-detail-50"><img src="/images/portfolio/united/united--stationery.jpg"/></div>
      <div class="project-detail-third"><img src="/images/portfolio/united/united--proposal.jpg"/></div>
      <div class="project-detail-third"><img src="/images/portfolio/united/united--sketches-u.jpg"/></div>
      <div class="project-detail-third"><img src="/images/portfolio/united/united--sketches.jpg"/></div>
      <p>One of the hardest parts of this project was figuring out United's <em>digital </em>experiences. Besides improving upon the systems already in place, what would truly improve upon the experiences that customers were having? What would truly making flying with United a more pleasant experience, an easier one, a safer one? The answer, I felt, was in clear, concise information: the ability at a glance to understand the trifecta of information that is always at play when flying: your flight information, your rental car information, and your hotel information. By creating agreements with hotel and rental car chains that United already has in place, I believed that United could create experiences like this one:</p>

      <p class="no-distractions-mode">
        <video controls="controls">
          <source src="/images/portfolio/united/united--app.mp4"/>
        </video>
      </p>

      <div class="callout separator">
        <video autoplay="autoplay" muted="muted" loop="loop">
          <source src="/images/portfolio/united/logo.mp4"/>
        </video>
      </div>

      <div class="container">
        <p>Oh hello, you're here! Would you like to see <a href="/portfolio/game-of-thrones">another project?</a></p>
      </div>
    </div>
  </div>
{% endblock %}