---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
    <p>From r/WritingPrompts:</p>

    <blockquote>[WP] You've finally managed to discover the secret to immortality. Suddenly, Death appears before you, hands you a business card, and says, "When you realize living forever sucks, call this number, I've got a job offer for you."</blockquote>

    <p>The business card had been wedged between the storm door and the  frame where it closed. <em>When you realize living forever sucks</em>, in a spindly scrawl, <em>call this number, I've got a job for you.</em>

    <p>She pocketed it, and rushed into the house to get to work.</p>

    <p>Maintaining her health had become more and more of a chore. Before she was only injecting the serum she had developed once a year. About a decade in, she had to start doing it twice to continue feeling the pep in her step, and not feeling... cloudy. These days she had to get another hit every two weeks and it was beginning to cramp the lifestyle she was fucking <em>known</em> for. Belize for a month doing lines and dancing on the tables in the backs of clubs where every table came neatly packaged with a bottle of champagne on the rocks. Bali for a while to "just chill, you know?" with some idiots who wanted to do yoga or some shit but fuck up all those health benefits in the evenings with psychedelics and tripping their balls off until it was three days later. To Thailand on a private jet with a bunch of other slim, beautiful people, plucked like delicate young flowers to "share time with the boss man".</p>

    <P>Except those bitches were coked up to the nines, and she was fucking 80 at this point.</p>

    <p><em>Call this number, I've got a job for you.</em></p>

    <p>At some point the rodeo had to stop though, which was why she was back home in the 'burbs. A torn duffel bag full of half-used makeup and tiny shampoo bottles by the door. A couch with all its legs missing. A thin coat of dust.</p>

    <p>Home.</p>

    <p>In the kitchen—which looked more like a meth lab than a kitchen, with the blinds drawn, a florescent light, and peeling, graying, flower-patterned wallpaper—she measured out a dose into a large syringe.</p>

    <p>Back in the living room she sat on the legless couch. She breathed, heavily, once, twice, thrice.</p>

    <p><em>When you realize living forever sucks</em></p>

    <p>She jammed the syringe into her upper thigh and <em>screamed</em>, pumping it as quickly in as she could, and continuing to scream until she blacked out—</p>

    <p><em>call this number, I've got a job for you.</em></p>

    <hr>

    <p>She awoke at dusk. She wasn't sure if it was the same day.</p>

    <p>Dragging herself to the bathroom, she began the slow process of peeling it all off, starting at her hairline. Over the years she had gotten good at peeling it off in one big, complete piece, like a snake. Underneath she'd be pink and young again. Cute! Happy! Hi!</p>

    <p>It took the better part of an hour to start and then slowly, slowly, peeling her thick, pig-like outer layer. When she was done she was completely naked, standing in the yellow light of a all-blue bathroom with the torn-up vestiges of a shower curtain and window shade that was once white. She laid the mass in the bathtub like some _Silence of the Lambs_ horror movie shit until she felt like dealing with it. She always felt like a Phoenix here. Reborn. Young. Beautiful. That was the most important part. Young. Beautiful.</p>

    <p><em>call this number,</em></p>

    <p>Back in the kitchen she picked up the receiver and dialed.</p>

    <p>Quiet static.</p>

    <p>"Hello?"</p>

    <p>The static began to build, but still, nothing.</p>

    <p>"Hell-lllllooooooo," she said. The weeks away always did this to her; affected her mannerisms until she sounded like some dumb—</p>

    <p>The static was so, <em>so</em> loud now. She—</p>

    <p><em>click</em></p>

    <p>Well, then.</p>

    <hr>

    <p>Rebirths always required a series of steps. The people changed, the idea was the same. New documentation. <em>Check</em>. New burner. <em>Check</em>. New doctor. (For drugs, you idiots.)</p>

    <p>"So I've just like, I don't know, been feeling really really <em>tired</em> and <em>unfocused</em> lately, you know? And like my friend Anna was telling me that <em>her</em> doctor prescribed her this drug called—"</p>

    <p>She'd do this five or six times and fill prescriptions at different places, wearing a baseball cap. She thought that was good enough, but she wasn't really quite sure. Technology in the new age, or whatever.</p>

    <hr>

    <p>When she was young—<em>truly</em> young, not like she was now—she had fallen in love with a fellow university student who'd make excuses to be in the lab late into the night when she knew he didn't need to be there.</p>

    <p><em>Just coming in to do Jeffer's lab,</em> he'd say.</p>

    <p><em>Yeah, that's a tough one,</em> she'd say back.</p>

    <p>They'd married in early April, amid the cherry blossoms that year.</p>

    <hr>

    <p>She had grown obsessed with makeup in her immortality. Someone had shown her how to use the computer to find tutorials online, and she would watch young women explain how to make their faces look the way they did, and she would try to copy them.</p>

    <p>One night, at the back of the hall outside her bedroom, she felt a chill awash over her, and then a steely calm. She turned to look out into the hall.</p>

    <p>A floating spectre with back, tattered cloth pointed its black, wizened finger at her. She'd been expecting this, in a way. She just hadn't expected it to be quite so... obvious. Like a child's fairy tale. It looked—</p>

    <p><em>Exactly like you think I would look</em>, it thrilled, but it wasn't verbal—it was more like a reverberation in her skull.</p>

    <p>She stayed silent.</p>

    <p><em>Are you done?</em></p>

    <p>She stared into a dark hood which seemed to have nothing but darkness inside for what felt like a long, long time. She suspected she already knew what the offer was.</p>

    <p><em>You're already so goooood at it</em>, it cooed. </p>

    <p>She also knew that between going up and going down, she was the sort of person who went <em>down</em>. She'd been a shit person. She'd been a shit human. She'd been a shit wife. The drugs and violence and the hatred, they'd all originated with her. It probably was her parents' fault, but she hadn't thought about them in years. </p>

    <p>The thievery had been her, too. To the end, she couldn't even give her partner his due in their research. She'd taken the credit, just like she'd take it, while life took its course on her husband. Staying young forever had brought out the worst in her. It brought out the worst in her until he was gone.</p>

    <p>That he was gone was, she assumed, why she'd gotten the card in the first place.</p>

    <p><em>You'd do the same things you always had,</em> it purred. <em>You'd go to the parties, and do the drugs, and others would do things with you. Just now you'd do them for me.</em></p>

    <p>"But would I ever see him again?"</p>

    <p><em>God and me have an understanding,</em> Death sang.</p>
  </main>

  <p class="center">
    <em>Congrats, you've finished one of my awkward attempts at creative writing. I didn't go to school for this crap. Follow me on <a href="https://twitter.com/helenvholmes">Twitter</a>.</em>
  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}