// Animations.

@mixin keyframe($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }

  @-moz-keyframes #{$animation} {
    @content;
  }

  @keyframes #{$animation} {
    @content;
  }
}

@include keyframe(fade-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframe(fade-in-and-up) {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@include keyframe(fade-in-and-down) {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@include keyframe(link-underlines) {
  0% {
    opacity: 0;
    transform: translateY(0);
    border-bottom-color: white;
    border-top-color: white;
  }
  50% {
    border-bottom-color: white;
    border-top-color: $brand-primary;
  }
  100% {
    opacity: 1;
    transform: translateY(2px);
    border-bottom-color: $brand-primary;
  }
}

@include keyframe(rainbow-colors) {
  0% {
    color: $devtools-primary;
  }
  17% {
    color: rgba(96, 230, 228, 1);
  }
  34% {
    color: rgba(89, 228, 140, 1);
  }
  51% {
    color: rgba(225, 229, 112, 1);
  }
  68% {
    color: rgba(234, 136, 109, 1);
  }
  85% {
    color: rgba(234, 117, 227, 1);
  }
  100% {
    color: rgba(142, 127, 232, 1);
  }
}

@include keyframe(open-up) {
  0% {
    background-size: 100% 75%;
  }
  100% {
    background-size: 100% 100%;
  }
}