// Typography Variables

// Note: Variables for grid/breakpoints are stored in _grid_settings.scss.
// Note: Variables for global variables are stored in _variables.scss.

// Font-faces
$sans-serif:                 ProximaNova, Helvetica, Arial, sans-serif;
$display-sans:               NeueHaasUnica, Helvetica, Arial, sans-serif;
$serif:                      CalendasPlus, Georgia, "Times New Roman", Times, serif;
$monospace:                  "Courier New", Courier, monospace;

// Sizes
$base-font-size:                 0.85em;
$base-line-height:               $base-font-size * 2;
$unitless-line-height:           $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height:             $base-font-size * 1.25;
$base-border-radius:             em(3);
$base-vertical-spacing:          0.5em;

$h1-font-size:                   $base-font-size * 3.25;
$h2-font-size:                   $base-font-size * 2;
$h3-font-size:                   $base-font-size * 1.75;
$h4-font-size:                   $base-font-size * 1.5;
$h5-font-size:                   $base-font-size * 1.25;
$h6-font-size:                   $base-font-size;

// Display sizes
$blockquote-size:                $base-font-size * 3.25;

$light-weight:                   300;
$normal-weight:                  400;
$semibold-weight:                600;
$bold-weight:                    700;
$extra-bold-weight:              900;

// Adam Schwartz' smart underline mixin
@mixin text-underline-crop($background) {
  text-shadow:  .03em 0 $background, 
                -.03em 0 $background,
                0 .03em $background,
                0 -.03em $background,
                .06em 0 $background,
                -.06em 0 $background,
                .09em 0 $background,
                -.09em 0 $background,
                .12em 0 $background,
                -.12em 0 $background,
                .15em 0 $background,
                -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);
    
    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);
    
    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection){
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}