// Vendor
@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'vendor/normalize';
@import 'vendor/normalize-opentype';

// Global
@import 'variables';
@import 'font-face';
@import 'typography';
@import 'animations';
@import 'global';
// @import 'icons';

// Modules
@import 'modules/links';

// Partials
@import 'partials/footer';
@import 'partials/navigation';