{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/winsome/winsome.css">

  <div class="project">
    <div class="callout"><img src="/images/portfolio/game-of-thrones/got--book-cover-1-details.jpg"/></div>
    <div class="project-description">
      <div class="container">
        <div class="project-blurb">
          <h1 class="avenir-headers">Game of Thrones</h1>
          <p>Ah, <em>Game of Thrones</em>—never have I loved and hated a book series more. This project was an interesting exploration in three different paths I’d never wandered down before: book design, hand-lettering, and of all things, embroidery. I do believe I was after my own grandmother’s heart with this one.</p>
        </div>
        <div class="detail"><img src="/images/portfolio/game-of-thrones/detail.jpg"/></div>
      </div>
    </div>
    <div class="container">
      <div class="project-detail-50"><img src="/images/portfolio/game-of-thrones/got--book-cover-2.jpg"/></div>
      <div class="project-detail-50"><img src="/images/portfolio/game-of-thrones/got--book-sides.jpg"/></div>
      <div class="project-detail-third"><img src="/images/portfolio/game-of-thrones/got--planning.jpg"/></div>
      <div class="project-detail-third"><img src="/images/portfolio/game-of-thrones/got--sketches-1.jpg"/></div>
      <div class="project-detail-third"><img src="/images/portfolio/game-of-thrones/got--sketches-2.jpg"/></div>
      <p>The inspiration after some extensive ‘research’ (if you can call reading the five published books and extensive fan theories online ‘research’ and not ‘insane fandom’) I settled on an uncial interpretation of the two letters in the title of each book intertwined. This was a tiny homage to the time period (despite these being fictional pieces) I imagined the books set in. Some other directions I sketched out but did not come to fruition included blackletter and an illusion to the Seven Gods each whom I represented with various symbols. For my own sanity I ultimately just decided to two three books, not seven—hand-embroidering each book was difficult as I’d never done embroidery before.</p>

      <div class="callout separator">
        <img src="/images/portfolio/game-of-thrones/got--sketches-3.jpg"/>
      </div>

      <div class="container">
        <p>Oh hello. Would you like to see <a href="/portfolio/well-made-co">another project?</a></p>
      </div>

    </div>
  </div>
{% endblock %}