@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/typography';
@import '../../styles/colors';

.ocean {
  display: none;
  text-align: center;
  width: 80%;

  @include media($nine-col) {
    display: block;
  }
}

.ocean-image {
  float: left;
  margin-top: 0;
  margin-bottom: 1%;
  width: 100%;
}

.ocean-quote {
  background-color: white;
  color: $brand-blacker;
  display: block;
  font-family: $neue-haas-unica;
  font-size: $h3-font-size;
  font-weight: $extra-bold-weight;
  margin-top: 8%;
  padding: 5% 4% 20% 5%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.me-i-guess {
  display: flex;
  justify-content: space-around;
  
  @include media($nine-col) {
    margin-top: 10%;
  }
}

.intro {
  flex: 0 1 70%;
  padding: 0 5%;
  
  @include media($nine-col) {
    flex: 0 1 25%;
    margin-top: 10%;
    padding: 0;
  }
}

.cool-ass-photos {
  flex: 0 1 30%;

  & > div {
    margin-top: 25%;
  }

  em {
    display: block;
    margin: 2% auto;
    text-align: center;
  }

  @include media($nine-col) {
    flex: 0 1 auto;
  }
}

.blank {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $monospace;
}

.dead-plant {
  margin: 0 auto 5% auto;
  text-align: center;
  width: 30%;

  em {
    display: block;
    margin: 2% auto;
    text-align: center;
  }
}
