{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/currently/currently.css">

  {% include "partials/past-currentlys.html" %}

  <div class="ocean">
    <amp-img
      class="ocean-image"
      src="/images/currently/charleston-2015.jpg"
      srcset="/images/currently/charleston-2015.jpg 1x, /images/currently/charleston-2015.jpg 2x"
      placeholder
      alt="Thus passes the glory of the world."
      width="1500px" height="975px" layout="responsive">
    </amp-img>

    <em class="serif">“charleston-2015.jpg”</em>


    <blockquote class="ocean-quote">sic transit gloria mundi</blockquote>
  </div>

  <div class="me-i-guess">
    <div class="intro">
      <p class="serif">Hello friend. I hope you're having a nice day; while I have a hard time imagining that anyone really pays attention to whatever I write here if you are, thank you, and if you are paying particular attention, thank you again. Odd that pixels convey meaning, isn't it?</p>

      <p class="serif">I often find myself not being entirely sure what I'm doing. For example, tonight I am trying to make phở for the first time as I love Vietnamese food but find myself in a town that doesn't have any. I am attacking it with the same sort of nervous excitement as I did when I first tried to open an IRA. As I don't intend to update anyone here about the process, when you next see me in person, feel free to ask how it went. If it went badly, I'm hoping you'll have tips.</p>

      <p class="serif">When I was eight or so, I took apart a cuckoo clock in my grandparents’ house. Instead of getting angry, they thought I would grow up to be an engineer or something akin to it despite that I spent most of my time setting up in the woods to draw with colored pencils and reading books and writing fanfiction. It was fanciful th inking to say the least. Even though I spend a lot of time these days doing stuff I'm supposed to be dong (working, cleaning, feeding myself) I would be lying if I said occupying myself so extensively with those things was what I wanted to be doing. I should also mention I was not able to put the cuckoo clock back together again. Imagine if I’d done that with a bridge or something. Engineer indeed.</p>
    </div>

    <div class="cool-ass-photos">
      <div class="bedshaped">
        <amp-img
          src="/images/currently/should-have-been-straightened.jpg"
          srcset="/images/currently/should-have-been-straightened.jpg 1x, /images/currently/should-have-been-straightened.jpg 2x"
          placeholder
          alt="Images like this make me sad."
          width="600px" height="600px" layout="responsive">
        </amp-img>

        <em class="serif">“should-have-been-straightened.jpeg”</em>
      </div>

      <div class="doge">
        <amp-img
          src="/images/currently/doge.jpg"
          srcset="/images/currently/doge.jpg 1x, /images/currently/doge.jpg 2x"
          placeholder
          alt="Charlemagne living the life"
          width="600px" height="450px" layout="responsive">
        </amp-img>

        <em class="serif">“ruff-lyfe-lol-get-it.jpg”</em>
      </div>

      <div class="clouds">
        <amp-img
          src="/images/currently/clouds.jpg"
          srcset="/images/currently/clouds.jpg 1x, /images/currently/clouds.jpg 2x"
          placeholder
          alt="¿Ay, recordas?"
          width="600px" height="390px" layout="responsive">
        </amp-img>

        <em class="serif">“la-vez-cuando-recordas.jpg”</em>
      </div>

      <div class="greaseball">
        <amp-img
          src="/images/currently/grease.jpg"
          srcset="/images/currently/grease.jpg 1x, /images/currently/grease.jpg 2x"
          placeholder
          alt="Hm."
          width="600px" height="600px" layout="responsive">
        </amp-img>

        <em class="serif">“s.png”</em>
      </div>

      <div class="french">
        <amp-img
          src="/images/currently/french.jpg"
          srcset="/images/currently/french.jpg 1x, /images/currently/french.jpg 2x"
          placeholder
          alt="Hm."
          width="600px" height="450px" layout="responsive">
        </amp-img>

        <em class="serif">“paint-me-like-one-of-your-french-girls.jpg”</em>
      </div>
    </div>
  </div>

  <div class="blank">[ this page intentionally left blank ]</div>

  <div class="dead-plant">
    <amp-img
      src="images/currently/plant-i-killed.jpg"
      srcset="images/currently/plant-i-killed.jpg 1x, /images/currently/plant-i-killed.jpg 2x"
      placeholder
      alt="Me and my black thumb."
      width="426px" height="320px" layout="responsive">
    </amp-img>

    <em class="serif">“photo-of-a-plant-killed-2015.jpeg”</em>
  </div>
{% endblock %}
