@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/typography';
@import '../../styles/colors';

/* Past currentlys
   Included at the top of each currently page.

*/
.past-currentlys {
  align-items: center;
  border-bottom: 1px solid $brand-primary;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  width: 100%;

  p {
    width: 30%;
  }

  ul {
    display: none;
    width: 55%;
    margin-right: 10%;
  }

  li {
    border-bottom: 2px solid $brand-gray-dark;
    cursor: pointer;
    display: inline-block;
    outline-offset: 15px;
    clear: both;
    color: $brand-gray-dark;
    display: block;
    list-style-type: none;
    line-height: 2;
    padding-bottom: 3px;
    position: relative;
    flex: 0 1 100%;

    &::before {
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: width 0s ease, background .5s ease;
      width: 0;
    }

    &::after {
      background: $brand-gray-dark;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      right: 0;
      transition: width .5s ease;
      width: 0;
    }

    &:hover {
      border-bottom: 2px solid $brand-primary;
      color: $brand-primary;
      
      .outside-link {
        opacity: 1;
      }

      &::before {
        background: $brand-primary;
        transition: width .5s ease;
        width: 100%;
      }

      &::after {
        background: transparent;
        transition: all 0s ease;
        width: 100%;
      }
    }
  }
}

.engagement {
  font-size: $h2-font-size;
}

/* Past currentlys
   Included at the top of each currently page.

*/
.ocean {
  display: none;
  position: relative;
  text-align: center;
  width: 80%;

  @include media($nine-col) {
    display: block;
  }
}

.ocean-image {
  float: left;
  margin-top: 0;
  margin-bottom: 1%;
  width: 100%;
}

.ocean-quote {
  background-color: white;
  color: $brand-blacker;
  display: block;
  font-family: $neue-haas-unica;
  font-size: $h3-font-size;
  font-weight: $extra-bold-weight;
  margin-top: 8%;
  padding: 5% 4% 20% 5%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.me-i-guess {
  display: flex;
  justify-content: space-around;
  
  @include media($nine-col) {
    margin-top: 10%;
  }
}

.intro {
  flex: 0 1 70%;
  padding: 0 5%;
  
  @include media($nine-col) {
    flex: 0 1 25%;
    margin-top: 10%;
    padding: 0;
  }
}

.cool-ass-photos {
  flex: 0 1 30%;

  & > div {
    margin-top: 25%;
  }

  em {
    display: block;
    margin: 2% auto;
    text-align: center;
  }

  @include media($nine-col) {
    flex: 0 1 auto;
  }
}

.blank {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $monospace;
}

.dead-plant {
  margin: 0 auto 5% auto;
  text-align: center;
  width: 30%;

  em {
    display: block;
    margin: 2% auto;
    text-align: center;
  }
}
