@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/variables';
@import '../../styles/typography';

// The writing page

img {
  width: 100%;
}

.container {
  width: 80%;
}

.the-things {
  margin-top: 10%;
}

.the-things-title {
  color: black;
  flex: 0 1 45%;
  font-family: 'Didot 96 A', 'Didot 96 B', serif;
  font-size: $h1-font-size * 1.1;
  font-style: italic;
  font-weight: $light-weight;
  line-height: $base-line-height / 1.5;
  margin: 0;
  margin-top: 0.25em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;

  @include media($nine-col) {
    font-size: $h1-font-size * 1.9;
    margin-top: 0;
    text-align: left;
  }
}

.the-things-parrot {
  @include flex(0 1 100%);

  float: left;
  margin-right: 5%;

  @include media($nine-col) {
    max-width: 45%;
  }
}

.the-things-subtitle {
  display: block;
  flex: 0 1 45%;
  justify-content: flex-end;
}

.additional-articles {
  flex: 0 1 100%;
  margin-bottom: 10%;
  margin-top: 10%;

  &:before {
    border-bottom: $brand-primary 2px solid;
    border-top: $brand-primary 1px solid;
    content: '';
    display: block;
    height: 7px;
    margin: auto;
    width: 150px;
  }
}

.letters-lot {
  width: 60%;
  float: right;
  list-style-type: none;
  font-size: $h3-font-size;
  line-height: 3;
  margin: 0 10% 10% 0;
  text-transform: capitalize;

  &::before {
    border-bottom: 1px solid $brand-primary;
    border-top: 3px solid $brand-primary;
    content: '';
    display: block;
    height: 9px;
    margin: 15% auto;
    width: 25%;
  }

  a {
    color: $brand-gray-dark;
    transition: color 0.5s ease;

    &:hover {
      background: transparent;
      color: darken($brand-gray-dark, 15%);
    }
  }

  li {
    border-bottom: 2px solid $brand-gray-dark;
    display: inline-block;
    padding-bottom: 3px;
    position: relative;
    width: 100%;
    outline-offset: 15px;

    &::before {
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: width 0s ease, background .5s ease;
      width: 0;
    }

    &::after {
      background: $brand-gray-dark;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      right: 0;
      transition: width .5s ease;
      width: 0;
    }

    &:hover {
      &::before {
        background: $brand-gray-dark;
        transition: width .5s ease;
        width: 100%;
      }

      &::after {
        background: transparent;
        transition: all 0s ease;
        width: 100%;
      }
    }
  }
}