{% extends 'layout.html' %}

{% block content %}
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = '//cloud.typography.com/6668652/681922/css/fonts.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/long-form/long-form.css">

  <div class="container">
    <div class="the-things">
      <img src="/images/the-things-we-own/parrot.jpg" class="the-things-parrot" />

      <h1 class="the-things-title">The things we own</h1>
      <em class="the-things-subtitle">A story about the the stuff, the cruft, the things—</em>
    </div>

    <a href="/the-future-of-wearables" class="the-future">
      <h1>The future of wearables</h1>
      <em>No more telemarketers need call, please.</em>
    </a>
  </div>


  <div class="additional-articles"></div>

  <ol class="letters-lot">
    {% for longFormTitle in longFormTitles %}
      <a href="/writing/the-{{ longFormTitle }}">
        <li>The {{ longFormTitle | replace("-", " ")}}</li>
      </a>
    {% endfor %}
  </ol>
{% endblock %}