{% extends 'layout.html' %}

{% block content %}
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = '//cloud.typography.com/6668652/681922/css/fonts.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>

  <link rel="stylesheet" property="stylesheet" href="/stylesheets/letters/letters.css">

  <header class="letters-header">
    <span class="first-word">sic</span>
    <br> <span class="second-word">transit</span>
    <br> <span class="third-word">gloria</span>
    <br> <span class="last-word">mundi</span>
  </header>

  <section class="letters-description">
    <p>The following are a personal, private, loving collection of things I’ve written and then published on the internet sort of despite this. They don’t really belong anywhere, so they’re here.</p>

    <p>I have always wanted to write, and once I did, this was all I ended up having to say. <a href="/letters/random">Start reading.</p>
  </section>

  <a href="/letters/san-francisco">
    <section class="letters-sf">
      {% include "./partials/san-francisco.svg" %}
    </section>
  </a>

  <a href="/letters/letras">
    <section class="letters-letras">
      {% include "./partials/letras.svg" %}
    </section>
  </a>

  <a href="/letters/government">
    <section class="letters-government">
      {% include "./partials/government.svg" %}
    </section>
  </a>

  <a href="/letters/i-forgot">
    <section class="letters-i-forgot">
      {% include "./partials/i-forgot.svg" %}
    </section>
  </a>

  <a href="/letters/i-am-definitely-a-millennial">
    <section class="letters-millennial">
      {% include "./partials/millennial.svg" %}
    </section>
  </a>

  <a href="/letters/pianos">
    <section class="letters-pianos">
      {% include "./partials/pianos.svg" %}
    </section>
  </a>

  <ol class="letters-lot">
    {% for letterTitle in letterTitles %}
      <a href="/letters/{{ letterTitle.shorturl }}">
        <li>{{ letterTitle.shorturl }}</li>
      </a>
    {% endfor %}
  </ol>
{% endblock %}