---
file: 17-03-when-you-realize
title: When You Realize Living Forever Sucks
date: March 2017
imageClass: goya
description: You've finally managed to discover the secret to immortality.
url: when-you-realize
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>
---
layout: post
title: Ctrl + Click
description: Installing things on work laptops
tags: [mac]
---

When you can't install something on your work computer because it's from an unidentified developer, hit ```ctrl``` and click, then ```Open With > Installer```. Boom, done.
  </p>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="When You Realize" />
  <meta name="twitter:description" content="You've finally managed to discover the secret to immortality." />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}