---
file: 14-11-ctrl-click
title: "Ctrl + Click"
date: November 2014
imageClass: orb
description: Installing things on work laptops
url: ctrl-click
---

{% extends "layout.html" %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/writing/post.css">

  <main class="post">
    <h1 class="title">{{ title }}</h1>
    <h5 class="date">{{ date }}</h5>

    <p>When you can't install something on your work computer because it's from an unidentified developer, hit <code>ctrl</code> and click, then <code>Open With &gt; Installer</code>. Boom, done.</p>
  </main>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@helenvholmes" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="http://helenvholmes.com/images/partials/writing/orb.jpg" />
{% endblock %}