@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

// About MEEEEE
.container { // global container for site
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  width: 45%;
}

section {
  margin-top: 15%;
  padding-left: 20%;

  &:last-of-type {
    margin-top: 0;
    margin-bottom: 10%;
  }
}

@mixin line($width, $top, $left) {
  background-color: $brand-primary;
  display: none;
  height: 1px; 
  left: $left;
  position: absolute;
  top: $top;
  width: $width;
  z-index: -1;

  @include media($nine-col) {
    display: block;
  }
}

.line-1 {
  @include line(200%, 5%, -65%);
}

.line-2 {
  @include line(250%, 10%, -100%);
}

.line-3 {
  @include line(150%, 20%, -25%);
}