@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/colors';
@import '../../styles/typography';

// About
.moi {
  display: block;
  margin-left: 8%;
  margin-top: 5%;

  background-attachment: fixed;
  background-image: url("/images/about/me_2.jpg");
  background-position: left top;
  background-size: auto 75%;
  height: 480px;
  margin-left: 3%;
  margin-top: 3%;
  width: 720px;
}

.container { // global container for site
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  width: 45%;
}

section {
  margin-top: 15%;
  padding-left: 20%;

  &:first-of-type {
    margin-top: 5%;
  }

  &:last-of-type {
    margin-top: 0;
    margin-bottom: 10%;
  }
}

.contact {
  margin-top: 15%;
}

/* Lines
--------------------------------------- */
#domExplosionList {
  position: fixed;
  width: 100%;
  top: 10%;
}

.item {
  position: absolute;
  list-style-type: none;
}

.dei-1  { top: 100px;   left: 15%; }
.dei-2  { top: 400px;   left: 80%; }
.dei-3  { top: 650px;   left: 87%; }
.dei-4  { top: 550px;   left: 93%; }
.dei-5  { top: 750px;   left: 15%; }

.line {
  background-color: $brand-primary;
  width: 1px;
}

.line-1 {
  height: 500px;
}

.line-2 {
  height: 300px;
}

.line-3 {
  height: 400px;
}

.line-4 {
  height: 325px;
}

.line-5 {
  height: 350px;
}
