{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/portfolio/winsome/winsome.css">

  <div class="project">
    <div class="callout"><img src="/images/portfolio/firefox-social-media-campaign/firefox-social-media.jpg"/></div>
    <div class="project-description">
      <div class="container">
        <div class="project-blurb">
          <h1 class="avenir-headers">Firefox Social Media Campaign</h1>
          <p>When the Firefox #brandcreators approached me about doing a social media campaign to get all the likes and drawing ridiculous swag I said, “Yes, of course!… That’s a thing y’alls plan out?” I drew a wifi-breathing dragon, a flying tesseract, and a complicated pizza. People voted on what got turned into a sticker.
          </p>
        </div>
        <div class="detail"><img src="/images/portfolio/firefox-social-media-campaign/detail.png"/></div>
      </div>
    </div>
    <div class="container">
      <div class="project-detail-50">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Today <a href="https://twitter.com/FirefoxDevTools">@firefoxdevtools</a> designer <a href="https://twitter.com/helenvholmes">@helenvholmes</a> is taking over this space to design some internetish swag in real-time based on your ideas.</p>&mdash; Firefox 🦊🌍 (@firefox) <a href="https://twitter.com/firefox/status/800738574555578368">November 21, 2016</a></blockquote>
      </div>
      <div class="project-detail-50">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">THE<br><br>INT<br><br>ER<br><br>NET<br><br>MASCOT<br><br>🐲 <a href="https://t.co/wL16NEQxfy">pic.twitter.com/wL16NEQxfy</a></p>&mdash; Helen V. Holmes (@helenvholmes) <a href="https://twitter.com/helenvholmes/status/801077140045316097">November 22, 2016</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <p></p>

      <div class="callout separator">
        <img src="/images/portfolio/firefox-social-media-campaign/internet-pizza.png"/>
      </div>

      <div class="container">
        <p>Oh hello, you're here! Would you like to see <a href="/portfolio/game-of-thrones">another project?</a></p>
      </div>
    </div>
  </div>
{% endblock %}