@import 'bourbon';
@import '../../../styles/grid-settings';
@import 'neat';
@import '../../../styles/colors';
@import '../../../styles/typography';

img {
  width: 100%;
}

.baas {
  align-items: center;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  img {
    max-width: 100%;
    width: 100%;
  }

  figcaption {
    font-style: italic;
  }
}

.baas-entry {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 70%;
  justify-content: center;
  margin: 4em auto 0 auto;
  width: 70%;

  figcaption {
    padding: 5%;
  }

  .portrait-50 {
    flex: 0 1 100%;

    @include media($nine-col) {
      flex: 0 1 50%;
    }
  }
}

.baas-stories {
  align-self: center;
  flex: 0 1 100%;
  margin: 6em 0;
  padding: 0 10%;
  text-align: justify;

  @include media($nine-col) {
    padding: 0 33%; // equates to roughly 1/3
  }
}

.huge {
  align-items: center;
  display: flex;
  height: 100vh;
}

.baas-cluster {
  text-align: center;

  &-prince {
    display: flex;
    flex: 0 1 80%;

    @include media($nine-col) {
      flex: 0 1 50%;
    }

    figure {
      flex: 0 1 50%;
    }
  }

  &-communion {
    display: flex;
    flex: 0 1 80%;
    justify-content: flex-end;
    margin-left: 20%;

    @include media($nine-col) {
      flex: 0 1 50%;
      margin-left: 0;
    }

    img {
      padding-left: 50%;
    }

    figcaption {
      padding: 0 0 20% 30%;

      @include media($nine-col) {
        padding: 0 30% 0 35%;
      }
    }
  }

  &-young {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    justify-content: flex-start;
    padding-left: 5%;

    @include media($nine-col) {
      flex: 0 1 70%;
    }

    .fridge {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .fridge-image {
        flex: 0 1 50%;
      }

      .fridge-caption {
        align-self: flex-end;
        flex: 0 1 50%;
        padding-bottom: 5%;
      }
    }
  }

  &-smoking {
    display: flex;
    flex: 0 1 100%;
    justify-content: flex-end;
    margin-top: 10%;

    .smoking-image {
      flex: 0 1 70%;

      @include media($nine-col) {
        flex: 0 1 30%;
        margin-top: 5%;
      }
    }

    .smoking-caption {
      align-self: flex-end;
      flex: 0 1 50%;
      margin-top: 20%;
      padding: 5%;

      @include media($nine-col) {
        flex: 0 1 20%;
        margin-top: 10%;
      }
    }
  }

  &-center {
    align-self: center;
  }

  & .offset {
    padding-bottom: 20%;
  }
}

.howls {
  display: flex;
  flex-wrap: wrap;
  height: 200vh;
  justify-content: center;
}

.howl {
  color: $brand-primary;
  flex: 0 1 100%;
  font-family: $neue-haas-unica;
  margin: 0;
  text-align: center;
}

.neuehaasunica-loaded {
  h1.howl {
    font-family: $neue-haas-unica;
    font-weight: $bold-weight;
  }
}

.tanta {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 80%;
  padding: 0 10% 0 5%;
  text-align: justify;

  @include media($nine-col) {
    flex: 0 1 65%;
  }

  p {
    flex: 0 1 100%;
    margin-bottom: 4em;
  }
}

.tanta-images {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
  padding: 0 10%;
  text-align: center;

  @include media($nine-col) {
    flex: 0 1 35%;
  }

  .tanta-image {
    margin-bottom: 10%;
    max-width: 100%;
    width: 100%;

    &.quote {
      margin-bottom: 0;
    }
  }
}

.really-lived {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
  justify-content: center;
  margin: 15% 0 15% 0;

  @include media($nine-col) {
    flex: 0 1 80%;
    margin-top: 0;
  }
}

.beanpole, .posey, .navy-federal, .smize {
  font-style: italic;
  text-align: center;
}

.posey {
  align-self: center;
  flex: 0 1 30%;

  @include media($nine-col) {
    flex: 0 1 20%;
  }
}

.baby-me {
  flex: 0 1 45%;
}

.navy-federal {
  align-self: flex-end;
  flex: 0 1 25%;
  margin-top: 12.85%;
}

.smize {
  flex: 0 1 25%;
  margin-top: -3.2%;
}

.baby-nathaniel {
  flex: 0 1 40%;
  margin-top: -3.2%;
}

.memories {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 70%;
  justify-content: center;
  margin-top: 15%;
  padding: 0 10%;
}

.green-things {
  flex: 0 1 100%;
  order: 2;

  @include media($nine-col) {
    flex: 0 1 50%;
    order: 1;
  }

  p {
    margin: 0 0 4em 0;
    text-align: justify;

    @include media($nine-col) {
      padding-left: 15%;
      padding-right: 5%;
    }
  }
}

.memory-images {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
  font-style: italic;
  justify-content: center;
  margin-bottom: 15%;
  order: 1;
  padding: 0 10%;
  text-align: center;

  @include media($nine-col) {
    flex: 0 1 40%;
    margin-bottom: 0%;
    order: 2;
  }
}

.christmas-tree, .hairdresser, .bunny-ears {
  flex: 0 1 100%;
}

.hairdresser, .bunny-ears {
  padding-top: 20%;
}

.em {
  margin: 15% 0 5% 0;
}

.go-back {
  margin-bottom: 5%;
  text-align: center;
}