@import 'bourbon';
@import '../../styles/grid-settings';
@import 'neat';
@import '../../styles/typography';
@import '../../styles/variables';

.article-grid {
  display: grid;
  grid-template-rows: auto;
  text-align: justify;
}

.intro {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 9;

  margin: 27% 0 27% 0;
}

.title {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 16;
  
  font-family: $mega-display;
  font-size: 32em;
  margin-left: -5%;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
}

.basement {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 6;
  grid-column-end: 9;

  margin: 0 0 70% 0;
}

.the-pit {
  // grid-row-start: 5;
  // grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 8;
}

.clarification {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 9;
  grid-column-end: 12;

  margin: 0 0 30% 0;
}

.mental-illness {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 6;

  margin: 0 0 30% 0;
}

.demons {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 6;
  grid-column-end: 9;

  margin: 0 0 30% 0;
}

.sorted {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 6;

  margin: 0 0 50% 0;
}

.get-rid-of-it {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 6;
  grid-column-end: 9;

  margin: 0 0 50% 0;
}

.tired {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 8;
  grid-column-end: 12;

  margin: 0 0 20% 0;
}

.advice {
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 5;
  grid-column-end: 10;

  margin: 0 0 50% 0;
}

.ending {
  grid-row-start: 12;
  grid-row-end: 13;
  grid-column-start: 6;
  grid-column-end: 9;

  margin: 0 0 20% 0;
}