@import 'bourbon';
@import '../../../styles/grid-settings';
@import 'neat';
@import '../../../styles/colors';
@import '../../../styles/animations';
@import '../../../styles/typography';

/* Past currentlys
   Included at the top of each currently page.

*/
.past-currentlys {
  align-items: center;
  border-bottom: 1px solid $brand-primary;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  width: 100%;

  a {
    cursor: pointer;
  }

  p {
    width: 30%;
  }

  ul {
    display: none;
    width: 55%;
    margin-right: 10%;
  }

  li {
    border-bottom: 2px solid $brand-gray-dark;
    cursor: pointer;
    display: inline-block;
    outline-offset: 15px;
    clear: both;
    color: $brand-gray-dark;
    display: block;
    list-style-type: none;
    line-height: 2;
    padding-bottom: 3px;
    position: relative;
    flex: 0 1 100%;

    &::before {
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transition: width 0s ease, background .5s ease;
      width: 0;
    }

    &::after {
      background: $brand-gray-dark;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      right: 0;
      transition: width .5s ease;
      width: 0;
    }

    &:hover {
      border-bottom: 2px solid $brand-primary;
      color: $brand-primary;
      
      .outside-link {
        opacity: 1;
      }

      &::before {
        background: $brand-primary;
        transition: width .5s ease;
        width: 100%;
      }

      &::after {
        background: transparent;
        transition: all 0s ease;
        width: 100%;
      }
    }
  }
}

.engagement {
  font-size: $h2-font-size;
}


/* March 2015 Currently
   "There were days when he touched the tip of her nose and it was enough, a miracle of plenty."

*/
.sheets {
  clear: both;
  display: table;
  margin-top: 15%;
  width: 100%;

  @include media($nine-col) {
    margin-top: 0;
  }
}

.sheets-image {
  @include animation(fade-in 0.5s ease);
  @include animation-fill-mode(forwards);

  display: none;
  float: left;
  width: 90%;

  @include media($nine-col) {
    display: block;
  }
}

.sheets-quote {
  @include animation(fade-in 0.5s ease);
  @include animation-fill-mode(forwards);

  display: none;
  margin: 0;
  text-indent: -0.5em;
  vertical-align: middle;
  width: 35%;
  padding: 10%;
  
  @include media($nine-col) {
    display: table-cell;
    padding: 0 15% 0 0;
  }
}

.sheets-quote-attribution {
  text-align: right;
}

.cluster {
  @include animation(fade-in 0.5s ease);
  @include animation-fill-mode(forwards);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  justify-content: center;
  margin: 0;
  width: 100%;

  @include media($nine-col) {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 10% 0 5% 0;
    width: 95%;
  }
}

.images, .my-face, .description, .corridor {
  img {
    max-width:100%;
  }
}

.images {
  display: none;
  flex: 1 4 10em;
  order: 3;

  @include media($nine-col) {
    display: block;
    flex: 2 1 30em;
    order: 1;
  }

  .cluster-one {
    margin: auto;
    width: 80%;
  }

  .cluster-two {
    display: block;
    float: left;
    width: 50%;
  }

  .cluster-three {
    display: block;
    float: left;
    width: 50%;
  }

  img {
    display: none;

    @include media($nine-col) {
      display: block;
    }
  }
}

.my-face {
  flex: 0 2 15em;
  order: 1;

  @include media($nine-col) {
    margin-top: 5%;
    order: 3;
  }

  img {
    display: block;
    margin: auto;

    @include media($nine-col) {
      margin: 0;
      float: right;
    }
  }
}

.description {
  flex: 1 1 30em;
  margin-top: -2%;
  order: 2;
  padding: 10% 12.5%;

  @include media($nine-col) {
    padding: 0 5% 10% 5%;
    margin-top: -1.5%;
  }
}

.corridor {
  @include animation(fade-in 0.75s ease);
  @include animation-fill-mode(forwards);

  display: block;
  margin: 30% auto;
  width: 70%;

  @include media($nine-col) {
    margin: 10% auto;
  }

  img {
    width: 100%;
  }
}