{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" property="stylesheet" href="/stylesheets/currently/january-2014/january-2014.css">

  {% include "partials/past-currentlys.html" %}

  <div class="inspiration-grid">

    <img src="/images/currently/january-2014/8.jpg" class="inspiration-item-1 inspiration-item" />

    <div class="inspiration-item inspiration-item-2">
      <div>
        <p class="serif">I ride on the backs of giants.</p>
        <p class="serif">I ride on the backs of giants.</p>
        <p class="serif">I ride on the backs of giants.</p>
        <p class="serif">I ride on the backs of giants.</p>
      </div>
    </div>

    <img src="/images/currently/january-2014/5.jpg" class="inspiration-item-4 inspiration-item" />

    <div class="bird-erase">
      <img src="/images/currently/january-2014/2.jpg" class="inspiration-item-3 inspiration-item" />

      <img src="/images/currently/january-2014/1.jpg" class="inspiration-item-9 inspiration-item" />
    </div>

    <div class="plenty">
      <p class="serif">“There were days when he touched the tip of her nose and it was enough, a miracle of plenty.”</p> <em class="serif">—Oyeyemi</em>
    </div>

    <div class="burnt-toast">
      <img src="/images/currently/january-2014/9.jpg" class="inspiration-item-10 inspiration-item" />

      <img src="/images/currently/january-2014/13.jpg" class="inspiration-item-14 inspiration-item" />

      <img src="/images/currently/january-2014/6.jpg" class="inspiration-item-7 inspiration-item" />
    </div>

    <div class="brave">
      <p class="serif">“Bran thought about it. 'Can a man still be brave if he's afraid?'<br />
      'That is the only time a man can be brave,' his father told him.”</p> <em class="serif">—GRRM</em>
    </div>

    <div class="balloons">
      <img src="/images/currently/january-2014/7.jpg" class="inspiration-item-8 inspiration-item" />

      <img src="/images/currently/january-2014/4.jpg" class="inspiration-item-5 inspiration-item" />

      <img src="/images/currently/january-2014/11.jpg" class="inspiration-item-12 inspiration-item" />

      <img src="/images/currently/january-2014/12.jpg" class="inspiration-item-13 inspiration-item" />

      <p class="serif">You too can be a —, —, —.</p>
    </div>

    <img src="/images/currently/january-2014/3.jpg" class="inspiration-item-6 inspiration-item" />

    <!-- <img src="/images/currently/january-2014/14.jpg" class="inspiration-item-16 inspiration-item" /> -->
  </div>
{% endblock %}